<table cellspacing="0" cellpadding="0" border="0" style="width:98%; margin:12px; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#333333;">
  <tr>
    <td align="left" valign="top" height="24" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;">
      <b>Hi <%=@to.split('@')[0]%></b>,
    </td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td style="color:#333333;" align="left" valign="top">
     <!--%#= @contact.contact_email.split('@')[0] if @contact && @contact.contact_email %> has accepted your invitation to join the Famtivity network "<b><%#= @fam_post.group_name %></b>". You can now share posts and images on this network!-->
     <%= @contact.contact_email.split('@')[0] if @contact && @contact.contact_email %> just accepted your invitation to join the Famtivity Network '<b><%= @fam_post.group_name %></b>'.
    </td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
	<td align="left">
	 <img src="<%=@image_path%>/assets/fam_networks/sms_settings_icon.png" alt=""/> 
		Go to <a href="<%=@image_path%>/parent_settings?mode=parent" title="" target="_blank" class="disInblo" style="color:#2B91AF;cursor:pointer;">Settings</a> to get these emails as SMS text messages!
	 </td>
    </tr>
    <tr>
    <td height="10"></td>
  </tr>
  <!--tr>
    <td>
      <a href="<%#=@image_path%>" title="" target="_blank" class="disInblo"><img src="<%#=@image_path%>/assets/contact/fam_view_post.png" alt=""/></a>
    </td>
  </tr-->
  <tr>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#444444;" height="30" align="left" valign="middle">Have fun!</td>
  </tr>
  <tr>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b;" height="20" align="left" valign="middle">The Famtivity Team</td>
  </tr>
</table>

