<%= form_for(@contact_group) do |f| %>
  <% if @contact_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_group.errors.count, "error") %> prohibited this contact_group from being saved:</h2>

      <ul>
      <% @contact_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :group_name %><br />
    <%= f.text_area :group_name %>
  </div>
  <div class="field">
    <%= f.label :inserted_date %><br />
    <%= f.datetime_select :inserted_date %>
  </div>
  <div class="field">
    <%= f.label :modified_date %><br />
    <%= f.datetime_select :modified_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
