<% if !@user.nil? && @user!='' && @user.present? %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr class="list_head">
      <td align="left" valign="middle">User Name</td>
      <td align="left" valign="middle">Email Address</td>
      <td align="left" valign="middle">Business Name</td>
      <td align="left" valign="middle">State</td>
      <td align="left" valign="middle">Country</td>
      <td align="left" valign="middle">City</td>
      <td align="left" valign="middle">Address</td>
      <td align="left" valign="middle">Website</td>
      <td align="left" valign="middle">Phone</td>
      <td align="left" valign="middle">Mobile</td>
    </tr>
    <%@user.each do |userval|%>
      <tr>
        <td align="left" valign="middle" class="list_td"><%=userval.user_name%></td>
        <td align="left" valign="middle" class="list_td"><%=userval.email_address%></td>
        <td align="left" valign="middle" class="list_td"><%=userval.business_name%></td>
        <td align="left" valign="middle" class="list_td"><%=userval.state%></td>
        <td align="left" valign="middle" class="list_td"><%=userval.country%></td>
        <td align="left" valign="middle" class="list_td"><%=userval.city%></td>
        <td align="left" valign="middle" class="list_td"><%=userval.address_1%> <%=userval.address_2%></td>
        <td align="left" valign="middle" class="list_td"><%=userval.website%></td>
        <td align="left" valign="middle" class="list_td"><%=userval.phone%></td>
        <td align="left" valign="middle" class="list_td"><%=userval.mobile%></td>
      </tr>
    <%end%>
  </table>
<%else%>
          No Record Found
<%end%>
