<table cellpadding="0" cellpadding="0">
  <tr>
    <td style="padding:12px;">
	
	 <table cellpadding="0" cellpadding="0">
	 	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;" height="40"><b>Hi <%= @user.user_name%>,</b></td>
		</tr>
	 	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="30">You Got It! We&rsquo;ve updated your account so you can list your activities on Famtivity.</td>
		</tr>
		<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="30">As a designated activity provider you can:</td>
		</tr>
		<table cellpadding="0" cellpadding="0" style="margin-left:10px;">
	 	<tr>
			<td height="30">
				<%= image_tag("http://www.famtivity.com/assets/landing_banner/selection.png", size:"12x12")%>
			</td>
			<td style="padding-left:6px;">List activities for free</td>
		</tr>
	 	<tr>
			<td height="30"><%= image_tag("http://www.famtivity.com/assets/landing_banner/selection.png", size:"12x12")%></td>
			<td style="padding-left:6px;">Promote activities to the Famtivity Network through our Sell Through Plan</td>
		</tr>
	 	<tr>
			<td height="30"><%= image_tag("http://www.famtivity.com/assets/landing_banner/selection.png", size:"12x12")%></td>
			<td style="padding-left:6px;">Sell activities and manage registrations through our Sell-Through Plan</td>
		</tr>
	 	<tr>
			<td height="30"><%= image_tag("http://www.famtivity.com/assets/landing_banner/selection.png", size:"12x12")%></td>
			<td style="padding-left:6px;">Get parents engaged through simple social media tools</td>
		</tr>
		</table>
	 	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="40">Your provider account that lists all of your activities is free. Check out these videos to learn more about how we can help you promote and provide great activities for kids:</td>
		</tr>
	 	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="40">Promote your activities to the Famtivity Network:</td>
		</tr>
	 	<tr>
			<td height="20"><a href="http://www.youtube.com/watch?v=1BZqkeyMyDA" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2c8fae;" target="_blank">http://www.youtube.com/watch?v=1BZqkeyMyDA</a></td>
		</tr>
	 	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="40">Sell your activities directly in Famtivity:</td>
		</tr>
		
	 	<tr>
			<td><a href="http://www.youtube.com/watch?v=iuP3hL4625k" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2c8fae;" target="_blank">http://www.youtube.com/watch?v=iuP3hL4625k</a></td>
		</tr>
		
	 	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="40">If you have any questions or want support getting started, visit our <a href='http://<%=@image_url%>/faq' style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2c8fae; text-decoration:none;">FAQ</a> page or contact us directly anytime at <a href='mailto:support@famtivity.com' style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2c8fae;text-decoration:none;">support@famtivity.com</a>.</td>
		</tr>
		
	  <tr>
        <td><span style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b;padding-top: 15px;display: block;">Your Famtivity Team</span></td>
      </tr>

		
	 </table>

    </td>
  </tr>
</table>
