<table cellspacing="0" cellpadding="0" style="width:98%; margin:12px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333; ">   
	<tr>
    	<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;"><b>Hello <%= @user.user_name if !@user.nil?%></b>,</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;padding-left:6px;">Thanks for signing up with Famtivity, a place where you can reach a wider audience for your activities! Our mission is to help you target a wider audience for your activities and for families to find great activities!</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;padding-left:6px;">Famtivity helps you:</td>
	</tr>
	<tr>
		 <td>
			<table cellpadding="0" cellpadding="0" style="margin-left:10px;">
			<tr>
				<td height="30">
					<%= image_tag("http://www.famtivity.com/assets/landing_banner/selection.png", size:"12x12")%>
				</td>
				<td style="padding-left:6px;">Find awesome activities and sign-up instantly</td>
			</tr>
			<tr>
				<td height="30"><%= image_tag("http://www.famtivity.com/assets/landing_banner/selection.png", size:"12x12")%></td>
				<td style="padding-left:6px;">Get discounts from local providers</td>
			</tr>
			<tr>
				<td height="30"><%= image_tag("http://www.famtivity.com/assets/landing_banner/selection.png", size:"12x12")%></td>
				<td style="padding-left:6px;">Share favorite activities and more</td>
			</tr>
			
			</table>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
	   <td height="30" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;padding-left:6px;">Here's your account information:</td>
	</tr>
	<tr>
	  <td>
	     <table style="border: 1px solid #e5e9eb;padding-left:6px;" width="50%" cellspacing="0" cellpadding="0">
	 	<tr>
			<td style="border-bottom:1px solid #e5e9eb; padding-left:10px;" height="30">Email:</td>
			<td style="border-bottom:1px solid #e5e9eb; color:#555555;"><%=@user.email_address if !@user.nil?%></td>
		</tr>
	 	<tr>
			<td height="30" style="padding-left:10px;">Password:</td>
			<td style="color:#555555;"><%= Base64.decode64("#{@user.user_password}") if !@user.nil?%></td>
		</tr>
	     </table>
	  </td>
	</tr>
	
       <% if @user.user_plan=='free'%>
       
       	 	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;padding-left:6px;" height="70">Your basic account that lists all of your activities is free. Check out these videos to learn about more options for getting new customers:</td>
		</tr>
		
	 	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;padding-left:6px;" height="10">Promote your activities to the Famtivity Network:</td>
		</tr>
	 	<tr>
			<td height="20"><a href="http://www.youtube.com/watch?v=1BZqkeyMyDA" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2c8fae;padding-left:6px;" target="_blank">http://www.youtube.com/watch?v=1BZqkeyMyDA</a></td>
		</tr>
	 	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;padding-left:6px;" height="20">Consider upgrading your account to the Sell Through Plan to sell your activities directly in Famtivity.</td>
		</tr>
		
	 	<tr>
			<td><a href="http://www.youtube.com/watch?v=iuP3hL4625k" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2c8fae;padding-left:6px;" target="_blank" height="20">http://www.youtube.com/watch?v=iuP3hL4625k</a></td>
		</tr>
       
       <%else%>
       	 	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;padding-left:6px;" height="70">With the Sell-Through Plan, all of your activities are listed for free, you get premium placement of activities and you only pay a small fee when people actually sign-up and pay real money to register for your activities.</td>
		</tr>
		
	 	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;padding-left:6px;" height="30">Here&rsquo;s a brief tutorial to help you get started:</td>
		</tr>
	 	<tr>
			<td height="40"><a href="http://www.youtube.com/watch?v=1BZqkeyMyDA" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2c8fae;padding-left:6px;" target="_blank"><a href="http://www.youtube.com/watch?v=iuP3hL4625k" target="_blank" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2c8fae;">http://www.youtube.com/watch?v=iuP3hL4625k</a></td>
		</tr>
       <%end%>
	<tr>
    	<td>&nbsp;</td>
	</tr>	
</table>
<%@activity_list=Activity.where("user_id=?",@user.user_id).order("activity_id desc")%>
<% arr =[] %>
<% @activity_list.each do |event| %>
<% schedule = ActivitySchedule.where("activity_id = ?",event.activity_id).last %>
<% Activity.schedule_feature_list(Time.now.strftime("%Y-%m-%d"),event,arr) if !event.nil? %>
<% end %>
<% @activity = arr.first(3) if (!arr.nil? && !arr.empty?)%>

 <%if !@activity.nil? && @activity.count > 0 %>
<table cellspacing="0" cellpadding="0" style="width:98%; margin:12px;">   
  <tr>
	<td style="padding-left:6px;font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;">Shown below is the list of activities, you are the administrator of. Click on the link to access your account and start promoting your activities!</td>
  </tr>
</table>
<table  cellpadding="0" cellspacing="0" border="0" style="border:1px solid #E9EDEE; width:98%; margin:12px;">
	<tr style="background-color:#E9EDEE; color:#4AA3B6; font-weight:bold;">
		<td width="2%"></td>
		<td width="35%" height="30" align="left" valign="middle">Activity Name</td>
		<td width="21%" align="left" valign="middle">Address</td>
		<td width="21%" align="left" valign="middle">Schedule</td>
		<td width="19%" align="left" valign="middle">Price</td>
	</tr>
	<%i=0%>
		<%@activity && @activity.each do |act|%>	
		<% scheduled_act = ActivitySchedule.where("activity_id=?",act[:id]).last %>
		<%i=i+1%>			
		<tr style="background-color:<%if i.even? %>#F6F8F7<%else%>#ffffff<%end%>;">
			<td width="2%"></td>
			<td height="24" align="left" valign="middle">
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td>&nbsp;</td><td>&nbsp;</td>
					</tr>
					<tr>
					   
						<td align="left" valign="middle">
							<div style="border:1px solid #999; height:100px; margin-right:2px;">
							  <a href="<%=$image_global_path%>?mview=<%=act[:id] unless act.nil? && act[:id].nil?%>&v=0" title="" target="_blank" style="color:#5099AC;text-decoration:none;">
							  	<%= image_tag("#{act[:avatar].url(:medium) unless act[:avatar].nil?}", size:"100x100")%>
							  	</a>
							</div>
						</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td align="left" valign="middle">
							<a href="<%=$image_global_path%>?mview=<%=act[:id] unless act.nil? && act[:id].nil?%>&v=0" title="" target="_blank" style="color:#5099AC;text-decoration:none;"><span style="color:#4595AE;"><%=act[:activity_name] if !act[:activity_name].nil?%></span></a>
						</td>
					   
					</tr>
					<tr>
						<td>&nbsp;</td><td>&nbsp;</td>
					</tr>
				</table>
			  </td>
			  <td height="24" align="left" valign="middle">
			          <% if !act[:address_1].nil?%>
				<%=(!act[:address_2].nil? && !act[:address_2].empty?) ? ((act[:address_1][-1]!=',') ? act[:address_1]+','+act[:address_2] :  act[:address_1]+act[:address_2]) : ((act[:address_1][-1]==',') ? act[:address_1].chop : act[:address_1]) %>
				<% end %>
			  </td>
			  <td height="24" align="left" valign="middle">
				<% scheduled_acti = ActivitySchedule.where("activity_id=?",act[:id]).last%>
				
                                        <% if !act.nil? && act[:created_by].downcase == 'parent'  && act[:schedule_mode].downcase=='any time'%>
                                          Any Time
                                        <% elsif !act.nil? && act[:created_by].downcase == 'parent'  && act[:schedule_mode].downcase!='any time'%>

                                          <!--diplay the date format for parent created activities by rajkumar-->
                                          <%@share=""%>
                                          <% @share = ActivitySchedule.where("activity_id = ?",act[:id]).last %>
                                          <% if !@share.nil? && @share.present?%>
                                            <!--display the new date format changes-->
                                            <%= render :partial =>"activity_detail/activity_detail_dateformat" %>
                                          <%end%>

                                          <!--diplay the date format for parent created activities by rajkumar-->

                                          <%if !@share.nil? && !@share.schedule_mode.nil? %>
                                            <% if @share.schedule_mode=="Schedule" && @share.activity_repeat.present?%>
                                              <%@schedule=""%>
                                              <%@schedule=scheduled_acti if !scheduled_acti.nil? %>
                                              <%@repeat=""%>
                                              <%@repeat=@schedule.activity_repeat.last if !@schedule.activity_repeat.last.nil? %>
                                              <%@repeat_date=""%>
                                              <%@repeat_date = !@repeat.nil? && !@repeat.ends_on.nil? && @repeat.ends_on.strftime("%Y-%m-%d") %>
                                              <%@schedule_date=""%>
                                              <%@schedule_date = !@schedule.nil? && !@schedule.start_date.nil? && @schedule.start_date.strftime("%Y-%m-%d")%>

                                              <%if @repeat_date != @schedule_date%>

                                                <%if @repeat.repeats=="Daily" %>Repeats <%if @repeat.repeat_every=="1"%><%@repeat.repeat_every if !@repeat.repeat_every.nil? %> Daily<%else%> Every <%=@repeat.repeat_every if !@repeat.repeat_every.nil? %> Days<%end%> <%if !@repeat.nil? && !@repeat.ends_never.nil? && @repeat.ends_never!="" && @repeat.ends_never==true%>Ends Never <%elsif !@repeat.nil? && !@repeat.end_occurences.nil? && @repeat.end_occurences!=""%> <%if @repeat.end_occurences=="1"%>Once<%else%>,<%=@repeat.end_occurences if !@repeat.end_occurences.nil?%> times <%end%><%elsif !@repeat.nil? && !@repeat.ends_on.nil? && @repeat.ends_on!=""%><%=@repeat.ends_on.strftime("until %a, %b %d, %Y")%><%end%><%end%>
                                                <!--weekly-->

                                                <%if @repeat.repeats=="Weekly" %>Repeats <%if @repeat.repeat_every=="1"%><%@repeat.repeat_every if !@repeat.repeat_every.nil? %> Weekly <%else%> Every <%=@repeat.repeat_every if !@repeat.repeat_every.nil? %> Weeks <%end%> on <%if !@repeat.nil? && !@repeat.repeat_on.nil?%><%@w_day=@repeat.repeat_on.split(",")%><%length=@w_day.length-1 if !@w_day.nil?%><%@w_day.each_with_index do |wk,i|%><%if !wk.nil? && wk!="" && wk.present?%><%=( (i==length) ? (wk unless wk.nil?)  : ( wk  + "," unless wk.nil? ))%><%end%><%end%><%end%> <%if !@repeat.nil? && !@repeat.ends_never.nil? && @repeat.ends_never!="" && @repeat.ends_never==true%>Ends Never <%elsif !@repeat.nil? && !@repeat.end_occurences.nil? && @repeat.end_occurences!=""%> <%if @repeat.end_occurences=="1"%>, Once<%else%>,<%=@repeat.end_occurences if !@repeat.end_occurences.nil?%> times <%end%><%elsif !@repeat.nil? && !@repeat.ends_on.nil? && @repeat.ends_on.present?%><%=@repeat.ends_on.strftime("until %a, %b %d, %Y") if !@repeat.ends_on.nil?%><%end%><%end%>
                                                <!--monthly-->
                                                <%if @repeat.repeats=="Monthly" %>
                                                  <%if @repeat.repeat_every=="1"%>
                                                    Repeats
                                                    <%@repeat.repeat_every if !@repeat.repeat_every.nil? %>
                                                    Monthly
                                                  <%else%>
                                                    Every
                                                    <%=@repeat.repeat_every if !@repeat.repeat_every.nil? %>
                                                    Months
                                                  <%end%> on
                                                  <%if @repeat.repeated_by_month==TRUE%>
                                                    <%=@repeat.starts_on.strftime("day %d") if !@repeat.starts_on.nil?%>
                                                  <%else%>
                                                    <!--repeated week-->
                                                    <%my_date = @repeat.starts_on%>
                                                    <%week_of_target_date = my_date.strftime("%U").to_i%>
                                                    <%week_of_beginning_of_month = my_date.beginning_of_month.strftime("%U").to_i%>
                                                    <%repeat_week = week_of_target_date - week_of_beginning_of_month + 1%>
                                                    <%if repeat_week==1%>First
                                                    <%elsif repeat_week==2%>Second
                                                    <%elsif repeat_week==3%>Third
                                                    <%elsif repeat_week==4%>Fourth
                                                    <%elsif repeat_week==5%>Fifth
                                                    <%end%>
                                                    <%=@repeat.starts_on.strftime("%a") if !@repeat.starts_on.nil?%>
                                                  <%end%> <%if !@repeat.nil? && !@repeat.ends_never.nil? && @repeat.ends_never!="" && @repeat.ends_never==true%>Ends Never<%elsif !@repeat.nil? && !@repeat.ends_on.nil? && @repeat.ends_on.present?%><%=@repeat.ends_on.strftime("until %a, %b %d, %Y") if !@repeat.ends_on.nil?%>
                                                  <%elsif !@repeat.nil? && !@repeat.end_occurences.nil? && @repeat.end_occurences!=""%>
                                                    <%if @repeat.end_occurences=="1"%>, Once<%else%>,<%=@repeat.end_occurences if !@repeat.end_occurences.nil?%> times <%end%>
                                                  <%end%>
                                                <%end%>
                                                <!--yearly-->
                                                <%if @repeat.repeats=="Yearly" %>Repeats <%if @repeat.repeat_every=="1"%><%@repeat.repeat_every if !@repeat.repeat_every.nil? %> Annually <%else%> Every <%=@repeat.repeat_every if !@repeat.repeat_every.nil? %> years <%end%> on <%if !@repeat.nil? && !@repeat.ends_never.nil? && @repeat.ends_never!="" && @repeat.ends_never==true%>Ends Never <%elsif !@repeat.nil? && !@repeat.end_occurences.nil? && @repeat.end_occurences!=""%><%if @repeat.end_occurences=="1"%>, Once<%else%>,<%=@repeat.end_occurences if !@repeat.end_occurences.nil?%> times <%end%> <%elsif !@repeat.nil? && !@repeat.ends_on.nil? && @repeat.ends_on!=""%><%=@repeat.ends_on.strftime("until %a, %b %d, %Y") if !@repeat.ends_on.nil?%><%end%><%end%>
                                                <!--selected date-->
                                                <%if @repeat.repeats!="Daily" && @repeat.repeats!="Weekly" && @repeat.repeats!="Monthly" && @repeat.repeats!="Yearly" && !@repeat.repeats.nil? %>
                                                  Repeats <%=@repeat.repeats if !@repeat.repeats.nil? && @repeat.repeats!="NULL" %> <%=@repeat.ends_on.strftime("until %a, %b %d, %Y") if !@repeat.ends_on.nil?%> <%if !@repeat.end_occurences.nil?%><%if @repeat.end_occurences=="1"%>, Once<%else%>,<%=@repeat.end_occurences if !@repeat.end_occurences.nil?%> times <%end%><%if !@repeat.nil? && !@repeat.ends_never.nil? && @repeat.ends_never!="" && @repeat.ends_never==true%>Ends Never<%end%><%end%>
                                                <%end%>
                                              <%end%>
                                            <%end%>
                                          <%end%>


                                        <%else%>

                                          <!--date format new changes start-->
                                          <%@share=""%>
                                          <% @share = ActivitySchedule.where("activity_id = ?",act[:id]).last %>
                                          <% if !@share.nil? && @share.present?%>

                                            <!--schedule displayed start -->
                                            <% if @share.schedule_mode=="Schedule"%>
                                              <%= render :partial =>"activity_detail/activity_detail_dateformat" %>
                                            <%end%>
                                            <!--schedule displayed end-->

                                            <%if !@share.nil? && !@share.schedule_mode.nil? %>
                                              <% if @share.schedule_mode=="Schedule" && @share.activity_repeat.present?%>
                                                <%@schedule=""%>
                                                <%@schedule=scheduled_acti if !scheduled_acti.nil? %>
                                                <%@repeat=""%>
                                                <%@repeat=@schedule.activity_repeat.last if !@schedule.activity_repeat.last.nil? %>
                                                <%@repeat_date=""%>
                                                <%@repeat_date = !@repeat.nil? && !@repeat.ends_on.nil? && @repeat.ends_on.strftime("%Y-%m-%d") %>
                                                <%@schedule_date=""%>
                                                <%@schedule_date = !@schedule.nil? && !@schedule.start_date.nil? && @schedule.start_date.strftime("%Y-%m-%d")%>

                                                <%if @repeat_date != @schedule_date%>

                                                  <%if @repeat.repeats=="Daily" %>Repeats <%if @repeat.repeat_every=="1"%><%@repeat.repeat_every if !@repeat.repeat_every.nil? %> Daily<%else%> Every <%=@repeat.repeat_every if !@repeat.repeat_every.nil? %> Days<%end%> <%if !@repeat.nil? && !@repeat.ends_never.nil? && @repeat.ends_never!="" && @repeat.ends_never==true%>Ends Never <%elsif !@repeat.nil? && !@repeat.end_occurences.nil? && @repeat.end_occurences!=""%> <%if @repeat.end_occurences=="1"%>Once<%else%>,<%=@repeat.end_occurences if !@repeat.end_occurences.nil?%> times <%end%><%elsif !@repeat.nil? && !@repeat.ends_on.nil? && @repeat.ends_on!=""%><%=@repeat.ends_on.strftime("until %a, %b %d, %Y")%><%end%><%end%>
                                                  <!--weekly-->

                                                  <%if @repeat.repeats=="Weekly" %>Repeats <%if @repeat.repeat_every=="1"%><%@repeat.repeat_every if !@repeat.repeat_every.nil? %> Weekly <%else%> Every <%=@repeat.repeat_every if !@repeat.repeat_every.nil? %> Weeks <%end%> on <%if !@repeat.nil? && !@repeat.repeat_on.nil?%><%@w_day=@repeat.repeat_on.split(",")%><%length=@w_day.length-1 if !@w_day.nil?%><%@w_day.each_with_index do |wk,i|%><%if !wk.nil? && wk!="" && wk.present?%><%=( (i==length) ? (wk unless wk.nil?)  : ( wk  + "," unless wk.nil? ))%><%end%><%end%><%end%> <%if !@repeat.nil? && !@repeat.ends_never.nil? && @repeat.ends_never!="" && @repeat.ends_never==true%>Ends Never <%elsif !@repeat.nil? && !@repeat.end_occurences.nil? && @repeat.end_occurences!=""%> <%if @repeat.end_occurences=="1"%>, Once<%else%>,<%=@repeat.end_occurences if !@repeat.end_occurences.nil?%> times <%end%><%elsif !@repeat.nil? && !@repeat.ends_on.nil? && @repeat.ends_on.present?%><%=@repeat.ends_on.strftime("until %a, %b %d, %Y") if !@repeat.ends_on.nil?%><%end%><%end%>
                                                  <!--monthly-->
                                                  <%if @repeat.repeats=="Monthly" %>
                                                    <%if @repeat.repeat_every=="1"%>
                                                      Repeats
                                                      <%@repeat.repeat_every if !@repeat.repeat_every.nil? %>
                                                      Monthly
                                                    <%else%>
                                                      Every
                                                      <%=@repeat.repeat_every if !@repeat.repeat_every.nil? %>
                                                      Months
                                                    <%end%> on
                                                    <%if @repeat.repeated_by_month==TRUE%>
                                                      <%=@repeat.starts_on.strftime("day %d") if !@repeat.starts_on.nil?%>
                                                    <%else%>
                                                      <!--repeated week-->
                                                      <%my_date = @repeat.starts_on%>
                                                      <%week_of_target_date = my_date.strftime("%U").to_i%>
                                                      <%week_of_beginning_of_month = my_date.beginning_of_month.strftime("%U").to_i%>
                                                      <%repeat_week = week_of_target_date - week_of_beginning_of_month + 1%>
                                                      <%if repeat_week==1%>First
                                                      <%elsif repeat_week==2%>Second
                                                      <%elsif repeat_week==3%>Third
                                                      <%elsif repeat_week==4%>Fourth
                                                      <%elsif repeat_week==5%>Fifth
                                                      <%end%>
                                                      <%=@repeat.starts_on.strftime("%a") if !@repeat.starts_on.nil?%>
                                                    <%end%> <%if !@repeat.nil? && !@repeat.ends_never.nil? && @repeat.ends_never!="" && @repeat.ends_never==true%>Ends Never<%elsif !@repeat.nil? && !@repeat.ends_on.nil? && @repeat.ends_on.present?%><%=@repeat.ends_on.strftime("until %a, %b %d, %Y") if !@repeat.ends_on.nil?%>
                                                    <%elsif !@repeat.nil? && !@repeat.end_occurences.nil? && @repeat.end_occurences!=""%>
                                                      <%if @repeat.end_occurences=="1"%>, Once<%else%>,<%=@repeat.end_occurences if !@repeat.end_occurences.nil?%> times <%end%>
                                                    <%end%>
                                                  <%end%>
                                                  <!--yearly-->
                                                  <%if @repeat.repeats=="Yearly" %>Repeats <%if @repeat.repeat_every=="1"%><%@repeat.repeat_every if !@repeat.repeat_every.nil? %> Annually <%else%> Every <%=@repeat.repeat_every if !@repeat.repeat_every.nil? %> years <%end%> on <%if !@repeat.nil? && !@repeat.ends_never.nil? && @repeat.ends_never!="" && @repeat.ends_never==true%>Ends Never <%elsif !@repeat.nil? && !@repeat.end_occurences.nil? && @repeat.end_occurences!=""%><%if @repeat.end_occurences=="1"%>, Once<%else%>,<%=@repeat.end_occurences if !@repeat.end_occurences.nil?%> times <%end%> <%elsif !@repeat.nil? && !@repeat.ends_on.nil? && @repeat.ends_on!=""%><%=@repeat.ends_on.strftime("until %a, %b %d, %Y") if !@repeat.ends_on.nil?%><%end%><%end%>
                                                  <!--selected date-->
                                                  <%if @repeat.repeats!="Daily" && @repeat.repeats!="Weekly" && @repeat.repeats!="Monthly" && @repeat.repeats!="Yearly" && !@repeat.repeats.nil? %>
                                                    Repeats <%=@repeat.repeats if !@repeat.repeats.nil? && @repeat.repeats!="NULL" %> <%=@repeat.ends_on.strftime("until %a, %b %d, %Y") if !@repeat.ends_on.nil?%> <%if !@repeat.end_occurences.nil?%><%if @repeat.end_occurences=="1"%>, Once<%else%>,<%=@repeat.end_occurences if !@repeat.end_occurences.nil?%> times <%end%><%if !@repeat.nil? && !@repeat.ends_never.nil? && @repeat.ends_never!="" && @repeat.ends_never==true%>Ends Never<%end%><%end%>
                                                  <%end%>
                                                <%end%>
                                              <%end%>
                                            <%end%>

                                            <!--by appointment displayed-->
                                            <% if @share.schedule_mode=="By Appointment"%>
                                            <%end%>
                                            <!--by appointment displayed end -->

                                            <!--whole displayed start -->
                                            <%@share=""%>
                                            <% @share = ActivitySchedule.where("activity_id = ?",act[:id]).last %>
                                            <% if @share.schedule_mode=="Whole Day"%>
                                              <%= render :partial =>"activity_detail/activity_detail_wholeday_format" %>
                                            <%end%>
                                            <!--whole displayed end -->

                                            <!--whole anytime  start -->
                                            <% if @share.schedule_mode=="Any Time"%>
                                              <%@a=ActivitySchedule.where("activity_id=?",act[:id])%>
                                              <%@a.each do |any_time|%>
                                                <%=any_time.business_hours.capitalize if !any_time.nil?%>, <%=any_time.start_time.strftime("%l:%M %p") if !any_time.nil?%> - <%=any_time.end_time.strftime("%l:%M %p") if !any_time.nil?%><br>
                                              <%end%>
                                            <%end%>
                                            <!--whole anytime end -->

                                          <%end%><!--share end-->

                                          <!--date format new changes end-->
                                        <%end%><!--parent check loop end-->
                               </td>
			  <td height="24" align="left" valign="middle">
				<%if !act.nil? && act.present?%>
					<%if act[:price_type]=='1'%>
						<a href="<%=$image_global_path%>?mview=<%=act[:id] unless act.nil? && act[:id].nil?%>&v=0" title="" target="_blank" style="color:#5099AC;text-decoration:none;">Price Details</a>
					<%elsif act[:price_type]=='2'%>
						$<%=act[:price] if !act[:price].nil? && act[:price].present? && act[:price]!=''%>
					<%elsif act[:price_type]=='3'%>
						Free
					<%elsif act[:price_type]=='4'%>
						Contact Provider
					<%end%>
				<%end%>
			  </td>	
   		</tr>
		<%end%>
</table>
 <% else %>
	<table cellspacing="0" cellpadding="0" style="width:98%; margin:12px;">   
	  <tr>
		<td style="padding-left:6px;"><p>List your activities now and start getting new customers! Click on the link to access your account and start creating new activities!</p></td>
	  </tr>
	</table>
 <%end%>
<table cellspacing="0" cellpadding="0" style="width:98%; margin:12px;"> 
	<tr>
		<td  height="24" align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b;padding-left:6px;">Your Famtivity Team</td>
	</tr>	
</table>



