<%@full_path="https://www.famtivity.com"%>
<table cellpadding="0" cellpadding="0"><!--first table start-->
  <tr>
    <td style="padding:12px;">
   <!--parent start-->
	<%if !@user.nil? && !@user.user_type.nil? && @user.user_type.downcase=="u"%>
	 <table cellpadding="0" cellpadding="0">
	 	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;" height="40"><b>Welcome <%= @user.user_name%>,</b></td>
		</tr>
	 	<tr>
			<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="30">Welcome to Famtivity!  You&rsquo;ve received $<%= number_with_precision(@amt, :precision => 2)%> Discount Dollars just for joining. Invite your friends to join and get an additional $1.00 credit per friend to spend on great kids activities in your area!
      </td>
		</tr>
    
    <tr><td height="5" colspan="2"></td></tr>

    <tr>
      <td align="left" valign="middle">
        <a href="<%= @image_url%>/?wel_friend=<%=@user.user_id unless @user.nil? %>" title="" target="_blank" >
          <%= image_tag("#{@full_path}/assets/contact/invitefriend_button.png", size:"202x35", alt:"Accept", border:"0")%>
        </a>&nbsp;&nbsp;
      </td>
    </tr>

		 	<tr>
			<td height="30">Your login information is:</td>
		</tr>
		<tr>
		 <td>
		<table style="border: 1px solid #e5e9eb;" width="50%" cellspacing="0" cellpadding="0">
	 	<tr>
			<td style="border-bottom:1px solid #e5e9eb; padding-left:10px;" height="30">Your Email:</td>
			<td style="border-bottom:1px solid #e5e9eb; color:#555555;"><%=@user.email_address if !@user.nil?%></td>
		</tr>
	 	<tr>
			<td height="30" style="padding-left:10px;">Your Password:</td>
			<td style="color:#555555;"><%= Base64.decode64("#{@user.user_password}") if !@user.nil?%></td>
		</tr>
		</table>
     </td>
    </tr>
    <tr>
	<td height="15"></td>
    </tr>

  <tr>
      <td>
        <div style="padding1: 15px 0px 15px 5px;">
          <p style="color: #4495B0;font-size: 14px;font-family: Arial,Helvetica,sans-serif;">Take a Tour</p>
          <div style="border: 1px solid #EFEFEF;background: #FBFBFB;margin: 7px 0px;padding: 10px 10px 10px 10px;display: inline-block;">
              Here's a brief tutorial video to help get you started. <br>
              <div style="float: left;width: 231px; height:146px;border: 1px solid #E2E2E2;background: #FFFFFF;padding: 7px;margin-right: 10px; margin-top:8px;">
                <!--a href="http://youtu.be/XQj0hdpvdA8" title="" target="_blank"><img src="http://www.famtivity.com/assets/landing/lanVideo1.png" alt="" ></a-->
	      <!--a href="http://youtu.be/d8C7a_Dr-TQ" title="" target="_blank"-->
	      <a href="http://youtu.be/ITVSqa_3Stc" title="" target="_blank">
           <%= image_tag("http://www.famtivity.com/assets/landing/lanVideo1.png")%>
        </a>
	      </div>
            </div>
          </div>
        </td>
      </tr>

    <tr>
      <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="70">If you have any questions or want support getting started, visit our <a href='http://<%=@image_url%>/faq' style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2c8fae; text-decoration:none;">FAQ</a> page or contact us directly anytime at <a href='mailto:support@famtivity.com' style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2c8fae;text-decoration:none;">support@famtivity.com</a>. We&rsquo;re here to help!</td>
    </tr>
    
      <tr>
        <td><span style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b;">Your Famtivity Team</span></td>
      </tr>

<!--activity suggestion div starting-->
<!--activity suggestion div ending here-->
		
 </table>

<%end%><!--parent end-->

<!--provider start-->
<%if !@user.nil? && !@user.user_type.nil? && @user.user_type.downcase=="p" %>
<table cellpadding="0" cellpadding="0">
  <tr>
    <td style="padding:12px;">

   <table cellpadding="0" cellpadding="0">
    <tr>
      <td style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;" height="40"><b>Welcome <%= @user.user_name%>,</b></td>
    </tr>
    <tr>
      <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="30">
      <!--soren feedback updated here-->
	<%if !@user.nil? && !@user.manage_plan.nil? && @user.manage_plan.present?%>
		<%if @user.manage_plan.downcase == "school"%>
		We&rsquo;re delighted you&rsquo;ve joined Famtivity, the Family Activity Network!
		<%else%>
		We&rsquo;re delighted you&rsquo;ve joined Famtivity, the Family Activity Network that helps you to:
		<%end%>
	<%end%>
       <!--soren feedback updated ending here-->
     </td>
    </tr>
    <%if !@user.nil? && !@user.manage_plan.nil? && @user.manage_plan.present?%>
	<%if @user.manage_plan.downcase != "school"%>
	    <tr>
	    <td>
	    <table cellpadding="0" cellpadding="0" style="margin-left:10px;">
	    <tr>
	      <td height="30">
          <%= image_tag("http://www.famtivity.com/assets/landing_banner/selection.png", size:"12x12")%>
        </td>
	      <td style="padding-left:6px;">Get noticed by local families</td>
	    </tr>
	    <tr>
	      <td height="30"><%= image_tag("http://www.famtivity.com/assets/landing_banner/selection.png", size:"12x12")%></td>
	      <td style="padding-left:6px;">Get new customers</td>
	    </tr>
	    <tr>
	      <td height="30"><%= image_tag("http://www.famtivity.com/assets/landing_banner/selection.png", size:"12x12")%></td>
	      <td style="padding-left:6px;">Get parents engaged through simple social media tools</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	<%end%>
     <%end%>
    
    <tr>
      <td height="30">Your login information is:</td>
    </tr>
    <tr>
    <td>
    <table style="border: 1px solid #e5e9eb;" width="50%" cellspacing="0" cellpadding="0">
    <tr>
      <td style="border-bottom:1px solid #e5e9eb; padding-left:10px;" height="30">Your Email:</td>
      <td style="border-bottom:1px solid #e5e9eb; color:#555555;"><%=@user.email_address if !@user.nil?%></td>
    </tr>
    <tr>
      <td height="30" style="padding-left:10px;">Your Password:</td>
      <td style="color:#555555;"><%= Base64.decode64("#{@user.user_password}") if !@user.nil?%></td>
    </tr>
    </table>
    </td>
    </tr>
  <!--  <tr>
      <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="70">With the <%if !@user.nil? && !@user.manage_plan.nil? && @user.manage_plan.present?%><%if @user.manage_plan == "market_sell"%>Market &amp; Sell Plan<%elsif @user.manage_plan == "market_sell_manage" %>Market, Sell &amp; Manage Plan<%elsif @user.manage_plan == "market_sell_manage_plus" %>Market, Sell, Manage Plus Plan<%else%>Sell-Through Plan<%end%><%end%>, all of your activities are listed for free, you get premium placement of activities and you only pay a small fee when people actually sign-up and pay real money to register for your activities.</td>
    </tr> -->

    <tr>
      <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="70">Here&rsquo;s a brief tutorial to help you get started:</td>
    </tr>
    <tr>
      <td height="40"><a href="http://youtu.be/a4eYo_dYTEI" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2c8fae;" target="_blank"><a href="http://www.youtube.com/watch?v=iuP3hL4625k" target="_blank" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2c8fae;">http://www.youtube.com/watch?v=iuP3hL4625k</a></td>
    </tr>
    <tr>
      <td>
        <div style="padding1: 15px 0px 15px 5px;">
          <p style="color: #4495B0;font-size: 14px;font-family: Arial,Helvetica,sans-serif;">Take a Tour</p>
            <div style="border: 1px solid #EFEFEF;background: #FBFBFB;margin: 7px 0px;padding: 10px 0px 10px 10px;display: inline-block;">
              Here's a brief tutorial video to help get you started. <br>
              <div style="float: left;width: 231px; height:146px;border: 1px solid #E2E2E2;background: #FFFFFF;padding: 7px;margin-right: 10px; margin-top:8px;">
                <a href="http://youtu.be/a4eYo_dYTEI" title="" target="_blank">
                  <%= image_tag("http://www.famtivity.com/assets/landing_banner/selection.png", size:"12x12")%>
                </a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <tr>
      <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;" height="50">If you have any questions or want support getting started, visit our <a href='http://<%=@image_url%>/faq' style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2c8fae; text-decoration:none;">FAQ</a> page or contact us directly anytime at <a href='mailto:support@famtivity.com' style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2c8fae;text-decoration:none;">support@famtivity.com</a>. We&rsquo;re here to help!</td>
    </tr>
    
      <tr>
         <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b;">Your Famtivity Team</td>
      </tr>
    
    
   </table>
   </td>
  </tr>
</table>
	 
<%end%><!--provider end-->
   </td>
  </tr>
</table><!--first table end-->
