<table cellspacing="0" cellpadding="0" style="width:98%; margin:12px;">   
	<tr>
    	<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;" align="left" valign="top"><b>Hi <%= @user.user_name if !@user.nil?%></b>,</td>
	</tr>
	<tr>
    	<td>&nbsp;</td>
	</tr>
	<tr>
	    	<%activitylink = activity_link_format(@activity,@c_user)%> <!-- Activity Link formation - From application helper link formation-->    
		<td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#333333;" align="left" valign="middle"><%=@c_user.user_name %> just added the activity, <b><%=@activity.activity_name unless @activity.nil? && @activity.activity_name.nil?%></b>, to Famtivity. Check it out <a href="<%= @image_url%>/<%=activitylink%>" title="" style="color:#5099AC;text-decoration:none;">here</a>.</td>
	</tr>		
</table>
	<%if !@activity.nil? && @activity.present? && @activity!=""  %>
<table  cellpadding="0" cellspacing="0" border="0" style="border:1px solid #CDE0E6; width:98%; margin:12px;">
	<tr>
		<td colspan="5" height="14"></td>		
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td align="center" style="border:1px #CDE0E6 solid;" width="245"><div style="float:left; display:inline-block;padding:10px; width:245px; overflow:hidden;">
			<div style="width:230px; overflow:hidden;"><a href="<%= @image_url%>/<%=activitylink%>" title="">
				<%= image_tag("#{@activity.avatar.url(:medium) unless @activity.avatar.nil?}", style:"border:none;")%>
			</a>
			</div>
		</td>
		<td>&nbsp;</td>
		<td align="left" valign="top">
			<table   cellpadding="0" cellspacing="0" border="0" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;width:97%;">				
				<tr height="25">
					<td width="200" align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#999999;"><b>Activity Name</b></div>
					</td>
					<td align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#5099AC"><%=@activity.activity_name unless @activity.nil? && @activity.activity_name.nil?%></div>						
					</td>					
				</tr>
				<% if !@activity.created_by.nil? && @activity.created_by.downcase=='provider'%>
				<tr height="25">
					<td width="200" align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#999999;"><b>Type</b></div>
					</td>
					<td align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#5099AC"><%if !@activity.nil? && !@activity.schedule_mode.nil? && @activity.schedule_mode=="Any Where" %>Anywhere<%elsif !@activity.nil? && !@activity.schedule_mode.nil? %><%=@activity.schedule_mode %><%end%></div>					
					</td>					
				</tr>
				<%end%>
				<tr height="25">
					<td width="200" align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#999999;"><b>Date&nbsp;&amp;&nbsp;Time</b></div>
					</td>
					<td align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#5099AC">
							<%= render 'activity_schedule'%>
						</div>						
					</td>					
				</tr>
				<tr height="25">
					<td width="200" align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#999999;"><b>Price</b></div>
					</td>
					<td align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#5099AC">
						<%if !@activity.nil? && @activity.present?%>
							<%if @activity.price_type=='1'%>
								<a href="<%= @image_url%>/<%=activitylink%>" title="" target="_blank" style="color:#5099AC;text-decoration:none;">Price Details</a>
							<%elsif @activity.price_type=='2'%>
								$<%=@activity.price if !@activity.price.nil? && @activity.price.present? && @activity.price!=''%>
							<%elsif @activity.price_type=='3'%>
								Free
							<%elsif @activity.price_type=='4'%>
								Contact Provider
							<%end%>
						<%end%>
						</div>
					</td>										
				</tr>
				<tr height="25">
					<td colspan="2" >
						<div style="float:left;width:100%; display:block; border-top:1px solid #D7DADB;margin-top:15px;margin-bottom:-8px;">&nbsp;</div>
					</td>
				</tr>
				<% if !@activity.city.nil? && @activity.city!='' && @activity.city.present? %>				
				<tr height="20">
					<td width="200" align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#999999;"><b>Address</b></div>
					</td>
					<td align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#5099AC"><%=@activity.address_1 unless         @activity.nil? && @activity.address_1.nil?%> <% if !@activity.address_2.nil?%>,<%end%> <%=@activity.address_2 unless @activity.nil? && @activity.address_2.nil?%></div>						
					</td>					
				</tr>
				<tr height="30">
					<td width="200" align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#999999;"><b>City</b></div>
					</td>
					<td align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#5099AC"><%=@activity.city unless         @activity.nil? && @activity.city.nil?%></div>					
					</td>					
				</tr>
				<%end%>
				<tr height="25">
					<td width="200" align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#999999;"><b>Category&nbsp;&amp;&nbsp;Sub Category</b></div>
					</td>
					<td align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#5099AC"><%=@activity.category unless         @activity.nil? && @activity.category.nil?%> & <%=@activity.sub_category unless @activity.nil? && @activity.sub_category.nil?%></div>						
					</td>					
				</tr>
				<%if !@activity.nil? && !@activity.min_age_range.nil? && @activity.min_age_range.present? && @activity.min_age_range!="" && !@activity.max_age_range.nil?  %>
				<tr height="25">
					<td width="200" align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#999999;"><b>Age Range</b></div>
					</td>
					<td align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#5099AC"><%=age_range_cal(@activity.min_age_range,@activity.max_age_range)%></div><!-- if free color value:#D2691E-->						
					</td>										
				</tr>
				<%end%>
				<%if (!@activity.no_participants.nil? && @activity.no_participants!=0) || !@activity.website.nil? || !@activity.skill_level.nil? || !@activity.leader.nil? %>
				<tr height="25">
					<td colspan="2" align="left" valign="middle">
						<div style="float:left;width:100%; display:block; border-top:1px solid #D7DADB;margin-top:15px;margin-bottom:-8px;">&nbsp;</div>
					</td>
				</tr>
				<%end%>
				<%if !@activity.nil? && !@activity.no_participants.nil? && @activity.no_participants.present? && @activity.no_participants!="" && @activity.no_participants!=0  %>
				<tr height="20">
					<td width="200" align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#999999;"><b>No of Participants</b></div>
					</td>
					<td align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#5099AC"><%=@activity.no_participants unless @activity.nil? && @activity.no_participants.nil?%></div>						
					</td>					
				</tr>
				<%end%>
				<%if !@activity.nil? && !@activity.skill_level.nil? && @activity.skill_level.present? && @activity.skill_level!=""  %>
				<tr height="30">
					<td width="200" align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#999999;"><b>Skill Level</b></div>
					</td>
					<td align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#5099AC"><%=@activity.skill_level unless @activity.nil? && @activity.skill_level.nil?%></div>					
					</td>					
				</tr>
				<%end%>
				<%if !@activity.nil? && !@activity.leader.nil? && @activity.leader.present? && @activity.leader!=""  %>
				<tr height="25">
					<td width="200" align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#999999;"><b>Leader</b></div>
					</td>
					<td align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#5099AC"><%=@activity.leader unless @activity.nil? && @activity.leader.nil?%></div>						
					</td>					
				</tr>
				<%end%>
				<%if !@activity.nil? && !@activity.website.nil? && @activity.website.present? && @activity.website!=""  %>
				<tr height="25">
					<td width="200" align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#999999;"><b>Website</b></div>
					</td>
					<td align="left" valign="middle">
						<div style="float:left; display:inline-block;padding-left:10px;color:#5099AC"><a href="<%=@activity.website unless @activity.nil? && @activity.website.nil?%>" style="color:#5099AC;text-decoration:none;" title=""><%=@activity.website unless @activity.nil? && @activity.website.nil?%></a></div>					
					</td>										
				</tr>
				<%end%>
				<tr>
					<td colspan="2" height="10"></td>
				</tr>
			</table>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td colspan="5" height="14"></td>		
	</tr>
</table>
<%end%>

<table cellspacing="0" cellpadding="0" style="width:98%; margin:12px;">    
	<%if !@activity.nil? && @activity.present? && @activity!=""  %>
	<tr>
		<td height="10"></td>
	</tr>
	<tr>
		<td height="24" align="left" valign="middle"><a href="<%= @image_url%>/<%=activitylink%>" title="">
			<%= image_tag("#{@image_url}/assets/activity_detail_view/view_activity.png", style:"border:none;")%>
		</a></td>
	</tr>	
	<%end%>
	<tr>
		<td height="10"></td>
	</tr>
	<tr>
		<td height="24" align="left" valign="middle"style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#444444;">Have fun!</td>
	</tr>
	<tr>
		<td height="24" align="left" valign="middle"style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b;">The Famtivity Team</td>
	</tr>
	<tr>
		<td height="20"></td>
	</tr>
	<tr>
		<td height="24" align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#444444;">To change your email preferences, <a href="<%=@image_url if !@image_url.nil? && @image_url.present?%>" title="" style="color:#5099AC;text-decoration:none;">click here</a></td>
	</tr>
</table>	
