<table cellpadding="0" cellpadding="0">
  <tr>
    <td style="padding:12px;">
	<table cellspacing="0" cellpadding="0" border="0" style="width:98%; margin:12px; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#333333;">
	    <tr>
	      <td align="left" valign="top" height="24" style="ont-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;">   
		<strong>Hello Famtivity,</strong> 
	      </td>
	    </tr>
	    <tr>
		<td height="10"></td>
	    </tr>
	     <tr>
	      <td style="color:#333333;" align="left" valign="top">
	    This is to inform you that <b><%= @cuser.user_name if !@cuser.nil? && !@cuser.user_name.nil?%></b> has contacted the provider, <% if !@activity.nil? && @activity.present? && !@activity.created_by.nil? && @activity.created_by.present? && @activity.created_by.downcase=='provider'%>
					<% if !@puser.user_profile.nil? && @puser.user_profile.present? && @puser.user_profile!=''%>
						<% if !@puser.user_profile.business_name.nil? && @puser.user_profile.business_name.present? && @puser.user_profile.business_name!=''%>
							<b><%=@puser.user_profile.business_name %></b>,
						<%else%>
							<b><%=@puser.user_name%></b>,
						<%end%>
					<%else%>
						<b><%=@puser.user_name%></b>,
					<%end%>
				<%else%>
				<b><%=@puser.user_name%></b>,
				<%end%> who hosts the activity, <b><%=@activity.activity_name unless @activity.nil? && @activity.activity_name.nil?%>.</b> <% if !@activity.nil? && @activity.present? && !@activity.created_by.nil? && @activity.created_by.present? && @activity.created_by.downcase=='provider'%>
					<% if !@puser.user_profile.nil? && @puser.user_profile.present? && @puser.user_profile!=''%>
						<% if !@puser.user_profile.business_name.nil? && @puser.user_profile.business_name.present? && @puser.user_profile.business_name!=''%>
							<%=@puser.user_profile.business_name %>
						<%else%>
							<%=@puser.user_name%>
						<%end%>
					<%else%>
						<%=@puser.user_name%>
					<%end%>
				<%else%>
				<%=@puser.user_name%>
				<%end%> has signed up with the Sell -Through Plan, and it appears that his credit card details are incorrect. 
		</td> 
	    </tr>
	    <tr>
		<td height="10"></td>
	    </tr>
	    <tr>
		    <td  align="left" valign="top">Please contact the provider to remind and assist him with uploading valid credit card details. 
		    </td>
	    </tr>
	    <tr>
		<td height="20"></td>
	    </tr>
	     <tr>
		<td align="left" height="24" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#444444;">Regards,</td>
	  </tr>
	  <tr>
		<td  align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#999999;">Famtivity</td>
	  </tr>
	</table>
</td>
</tr>
</table>