<table cellspacing="0" cellpadding="0" border="0" style="width:98%; margin:12px; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#333333;">
  	<tr>
    	<td align="left" valign="top" height="24" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;">      	 
    		<strong>Hi <%= @email.split('@')[0].capitalize if !@email.nil? && @email!=''%>,</strong> 
    	</td>
  	</tr>
  	<tr>
  		<td height="10"></td>
  	</tr>
  	<tr>
  		<td style="color:#333333;" align="left" valign="top">       
	<%=@user.user_name%> invites you to join Famtivity, the Family Activity Network. Get $20 credit just for joining.  Invite other friends to join and get $1 credit per friend to spend on great kids activities in your area!
        </td>
    </tr>
    <tr>
  		<td height="10"></td>
   </tr>
	
	<%if !@message.nil? && @message.present? && @message!=''%>
	<tr height="25">
		<td align="left" valign="top">
			<div style="float:left;width:100%; display:block; border-top:1px solid #D7DADB;margin-top:15px;margin-bottom:-8px;">&nbsp;</div>
		</td>
	</tr>	
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#636363;" align="left" valign="top">
			<p style="color: #4495B0;font-size: 14px;font-family: Arial,Helvetica,sans-serif;">Message<br><br></p>
			<%=@message.html_safe %>
		</td>
	</tr>	
	<tr>
		<td  align="left" valign="middle">
			<div style="float:left;width:100%; display:block; border-top:1px solid #D7DADB;margin-top:15px;margin-bottom:-8px;">&nbsp;</div>
		</td>
	</tr>
	<%end%>
   <tr>
  		<td height="10"></td>
   </tr>
   <tr>
	<td style="color:#333333;" align="left" valign="top">       
	Our Family Activity Network helps you to:
        </td>
    </tr>
    <tr>
  		<td height="10"></td>
   </tr>
   
    <tr>
    	<td>
    		<table cellpadding="0" cellpadding="0" style="margin-left:10px;">
	 		<tr>
				<td height="30">
					<%= image_tag("#{$image_global_path}assets/landing_banner/selection.png", size:"12x12")%>
				</td>
				<td style="padding-left:6px;">Find awesome activities and sign-up instantly</td>
			</tr>
			<tr>
				<td height="30">
					<%= image_tag("#{$image_global_path}assets/landing_banner/selection.png", size:"12x12")%>
				</td>
				<td style="padding-left:6px;">Get discounts from local providers</td>
			</tr>
			<tr>
				<td height="30">
					<%= image_tag("#{$image_global_path}assets/landing_banner/selection.png", size:"12x12")%>
				</td>
				<td style="padding-left:6px;">Share favorite activities and more</td>
			</tr> 
			</table>       
   		</td>
  	</tr>
	<tr>
  		<td height="10"></td>
  	</tr>
	<!--tr>
		<td align="left" valign="top">
		Invite other friends to join and you get $1 credit per friend to spend on great kids activities in your local area.
		</td>
	</tr-->
	
  	<!--<tr>
  		<td align="left" valign="top" height="24">
        Here&rsquo;s a brief video overview:
    	</td>
  	</tr>
  	<tr>
  		<td align="left" valign="top" height="24">
  		<a href="http://www.youtube.com/watch?v=VJ2PsaIKIlw" target="_blank" style="color:#5099AC; text-decoration:none;">http://www.youtube.com/watch?v=VJ2PsaIKIlw</a>
  		</td>
  	</tr>-->
	<tr>
  		<td height="20">&nbsp;</td>
  	</tr>
  	<tr>
  		<td align="left" valign="middle">
  		<a href="<%=@url if !@url.nil? && @url.present? && @url!=''%>" title="" target="_blank" onclick= "_gaq.push(['_trackEvent', 'Parent Module', 'clickAttendActivity','Accept']);">
  			<%= image_tag("#{$image_global_path}/assets/contact/accept_invitation.png", size:"202x35",alt:"Accept",border:"0")%>
  			</a>&nbsp;&nbsp;
    	</td>
  	</tr>
  	<!--<tr>
  		<td align="left" valign="middle" height="24">
  			<a href="<%#=@url if !@url.nil? && @url.present? && @usr!=''%>" title="" target="_blank" style="color:#5099AC;" onclick= "_gaq.push(['_trackEvent', 'Parent Module', 'clickAttendActivity','Accept']);"><%#=@url if !@url.nil? && @url.present? && @usr!=''%></a>
  		</td>
  	</tr>-->
  	<tr>
  		<td height="20">&nbsp;</td>
  	</tr>
	
	<!--<tr>
		<td>
			<div style="padding1: 15px 0px 15px 5px;">
				<p style="color: #4495B0;font-size: 14px;font-family: Arial,Helvetica,sans-serif;">Take a Tour</p>
				<div style="border: 1px solid #EFEFEF;background: #FBFBFB;margin: 7px 0px;padding: 10px 10px 10px 10px;display: inline-block;">
					 Here&rsquo;s a brief video overview: <br>
					<div style="float: left;width: 231px; height:146px;border: 1px solid #E2E2E2;background: #FFFFFF;padding: 7px;margin-right: 10px; margin-top:8px;">
						<a href="http://www.youtube.com/watch?v=XQj0hdpvdA8" title="" target="_blank"><img src="http://www.famtivity.com/assets/landing/lanVideo1.png" alt="" ></a>
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr>
  		<td height="10"></td>
  	</tr>-->
  	
  	<!--<tr>
		<td height="24" align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#444444;">Have fun!</td>
	</tr>
	<tr>
		<td  align="left"  height="24" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#999999;">Your Famtivity Team</td>
	</tr>-->
</table>
