<table cellspacing="0" cellpadding="0" style="width:98%; margin:12px;">   
	<tr>
    	<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#444444;" align="left" valign="top">
			<% if !@u_name.nil? && @u_name.present? && @u_name!=''%>
				<b>Hi <%=@u_name%></b>,
			<%else%>
				<b>Hi</b>,
			<%end%>
		</td>
	</tr> 
	<tr>
    	<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#333333;" align="left" valign="middle">
			This is to inform you that the information form you submitted for your child, <%=@part_name if !@part_name.nil?%>, has been edited by the Provider of the <%=@activity.activity_name if !@activity.nil?%> activity. Please get in touch with the provider at <a href="mailto:<%=@provider.email_address if !@provider.nil?%>" style="color:#4595AE; text-decoration:none;" title=""><%=@provider.email_address if !@provider.nil?%></a> if you have any questions.
		</td>
	</tr>
</table>

<table cellspacing="0" cellpadding="0" style="width:98%; margin:12px;">    
	<tr>
		<td height="10"></td>
	</tr>
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#444444;" height="24" align="left" valign="middle">With kind regards,</td>
	</tr>		
	<tr>
		<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b;" height="24" align="left" valign="middle">Your Famtivity Team</td>
	</tr>	
</table>	
