<h1>Listing user_transactions</h1>

<table>
  <tr>
    <th>Customer profile</th>
    <th>Customer payment profile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_transactions.each do |user_transaction| %>
  <tr>
    <td><%= user_transaction.customer_profile_id %></td>
    <td><%= user_transaction.customer_payment_profile_id %></td>
    <td><%= link_to 'Show', user_transaction %></td>
    <td><%= link_to 'Edit', edit_user_transaction_path(user_transaction) %></td>
    <td><%= link_to 'Destroy', user_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User transaction', new_user_transaction_path %>
