<%= form_for(@payment_detail) do |f| %>
  <% if @payment_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_detail.errors.count, "error") %> prohibited this payment_detail from being saved:</h2>

      <ul>
      <% @payment_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :payment_method %><br />
    <%= f.text_area :payment_method %>
  </div>
  <div class="field">
    <%= f.label :cardholder_name %><br />
    <%= f.text_area :cardholder_name %>
  </div>
  <div class="field">
    <%= f.label :card_number %><br />
    <%= f.number_field :card_number %>
  </div>
  <div class="field">
    <%= f.label :expire_date %><br />
    <%= f.date_select :expire_date %>
  </div>
  <div class="field">
    <%= f.label :billing_address1 %><br />
    <%= f.text_area :billing_address1 %>
  </div>
  <div class="field">
    <%= f.label :billing_address2 %><br />
    <%= f.text_area :billing_address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_area :city %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.number_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_area :state %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_area :country %>
  </div>
  <div class="field">
    <%= f.label :contact_no %><br />
    <%= f.number_field :contact_no %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_area :email %>
  </div>
  <div class="field">
    <%= f.label :payment_status %><br />
    <%= f.text_area :payment_status %>
  </div>
  <div class="field">
    <%= f.label :payment_date %><br />
    <%= f.date_select :payment_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
