 <link rel="stylesheet" href="/assets/activity_view_detail/paymentDetail.css" type="text/css">
   <script type="text/javascript" src="/assets/acitivity_view_details/schedule_price.js"></script>
   <%if @activity_share_provider && @activity_share_provider!="" && @activity_share_provider!=[] && !@activity_share_provider.nil? && @activity_share_provider.present?%>
<%@activity_share_provider.each do |share|%>
<%@a_count=update_activity_count(share.activity_id) if !share.activity_id.nil? && share.activity_id!=''%> 
  <%random = [1,2,3].sample%>
  <%act_det = ActivitySchedule.where("activity_id = ? AND expiration_date >= ?",share.id,Date.today ) if !share.id.nil?%>
  <% shedule_count=act_det.count%>
  <%@use = User.find_by_user_id(share.user_id) if !share.nil?%>
  
  <%activitylink = activity_link_format(share,@use)%> <!-- Activity Link formation - From application helper link formation-->

  <div id="field" class="parentShared" style="width: 228px;float:left;">
	 <!-- discount special band -->
	  <%if !share.nil? && !share.price_type.nil? && share.price_type == "1" || share.price_type == "2"%>
		 <%@p_details=""%>
		 <%@p_details = ActivityPrice.get_price_details(share.activity_id) if !share.nil? && !share.activity_id.nil? %>
     <%@val_date=activity_valid_date(share.activity_id) if !share.activity_id.nil? && share.activity_id!=''%>
		<%if !@p_details.nil? && @p_details!=""%>   
			<% if !share.nil? && !share.discount_eligible.nil? && share.discount_eligible.present? && !@val_date.nil? && !@val_date[0].nil?%>
			<span class="SetOfferBgEligible" onmouseover="$('#specialContPS<%= share.activity_id %>').show();" onmouseout="$('#specialContPS<%= share.activity_id %>').hide();"></span>
			 <%elsif !@val_date.nil? && !@val_date[0].nil?%>
			 <span class="SetOfferBg" onmouseover="$('#specialContPS<%= share.activity_id %>').show();" onmouseout="$('#specialContPS<%= share.activity_id %>').hide();"></span>
			 <%elsif !share.nil? && !share.discount_eligible.nil? && share.discount_eligible.present?%>
        <span class="SetOfferBgDiscount" onmouseover="$('#specialContPS<%= share.activity_id %>').show();" onmouseout="$('#specialContPS<%= share.activity_id %>').hide();"></span>
          <p class="SetOfferBgpdetails" id="specialContPS<%= share.activity_id %>" onmouseover="$('#specialContPS<%= share.activity_id %>').show();" onmouseout="$('#specialContPS<%= share.activity_id %>').hide();">
            <a class="specialDetails"><%=image_tag("/assets/activity_schedule/top_arrow.png")%></a>
            <!--discount eligible div-->
            <span class="listSPecialspace" style="text-align:center;margin-bottom:-6px">
              <label class="firstsptxt" style="width:auto;font-size:16px">Get&nbsp;<label class="secdsptxtred">$<%= (number_with_precision share.discount_eligible, :precision => 2) if !share.nil? && !share.discount_eligible.nil? && share.discount_eligible.present?%></label>&nbsp;Off With Discount Dollars</label>
            </span>
            <!--discount eligible div-->
            
        </p>
       <%end%>
			 <p class="SetOfferBgpdetails" id="specialContPS<%= share.activity_id %>" onmouseover="$('#specialContPS<%= share.activity_id %>').show();" onmouseout="$('#specialContPS<%= share.activity_id %>').hide();">
				<a class="specialDetails"><%=image_tag("/assets/activity_schedule/top_arrow.png")%></a>
				<% if !share.nil? && !share.discount_eligible.nil? && share.discount_eligible.present?%>
				<!--discount eligible div-->
				<span class="listSPecialspace" style="text-align:center;border-bottom:1px dotted #C4DFE6;margin-bottom:5px">
					<label class="firstsptxt" style="width:auto;font-size:16px">Get&nbsp;<label class="secdsptxtred">$<%= (number_with_precision share.discount_eligible, :precision => 2) if !share.nil? && !share.discount_eligible.nil? && share.discount_eligible.present?%></label>&nbsp;Off With Discount Dollars</label>
				</span>
				<!--discount eligible div end-->
				 <%end%>
        <%if !@val_date.nil? && !@val_date[0].nil? %>
				<span class="titleTxtspecial">Special Discounts</span>
				<span class="listSPecialspace">
				<!--displaying the discount price details start 2013-8-22-->
				<%@discount_price=""%>
				<% @activity_price = ActivityPrice.where("activity_id = ?", share.activity_id) if !share.activity_id.nil? && share.activity_id.present?%>
      			<%@discount_price = @activity_price if !@activity_price.nil? && @activity_price.present? %>

				<%!@discount_price.nil? && @discount_price.each do |dprice|%>
            <%@dis_price=dprice.activity_discount_price%>
            <%k=0%>
            <%@dis_price.each do |dprice|%>
            <%if k<5%>
            <%@early_bird_date = dprice.discount_valid.strftime("%Y-%m-%d") if !dprice.discount_valid.nil?%>
            <%@max_date = @early_bird_date if !@early_bird_date.nil? && @early_bird_date.present? && @early_bird_date!=""%>
            <%@cday = Time.now.strftime("%Y-%m-%d")%>
            <%if !@early_bird_date.nil? && @early_bird_date.present? && @early_bird_date >= @cday%>
                <label class="firstsptxt"><%=dprice.discount_type if !dprice.nil? && !dprice.discount_type.nil?%></label><label class="secdsptxtred"><% if !dprice.nil? && !dprice.discount_currency_type.nil? && dprice.discount_currency_type.present? && dprice.discount_currency_type=="$" %>$<%end%><%=number_with_precision dprice.discount_price, :precision => 2 if !dprice.nil? && !dprice.discount_price.nil?%><% if !dprice.nil? && !dprice.discount_currency_type.nil? && dprice.discount_currency_type.present? && dprice.discount_currency_type=="%" %>%<%end%>&nbsp;<%if !dprice.nil? && !dprice.discount_type.nil? && dprice.discount_type.present? %>Off&nbsp;<%end%></label><label class="thirdsptxtgray"><%if !dprice.nil? && !dprice.discount_valid.nil? && dprice.discount_valid.present? %> <%=dprice.discount_valid.strftime("till %a, %b %d, %Y ")%> <%else%> for <%=dprice.discount_number if !dprice.nil? && !dprice.discount_number.nil?%> <% if !dprice.discount_type.nil? && dprice.discount_type.downcase=='multiple session discount'%>Sessions<%else%> Participants<%end%><%end%></label>
                 <%k=k+1%>
            <%elsif dprice.discount_valid.nil? %>
                <label class="firstsptxt"><%=dprice.discount_type if !dprice.nil? && !dprice.discount_type.nil?%></label><label class="secdsptxtred"><% if !dprice.nil? && !dprice.discount_currency_type.nil? && dprice.discount_currency_type.present? && dprice.discount_currency_type=="$" %>$<%end%><%=number_with_precision dprice.discount_price, :precision => 2 if !dprice.nil? && !dprice.discount_price.nil?%><% if !dprice.nil? && !dprice.discount_currency_type.nil? && dprice.discount_currency_type.present? && dprice.discount_currency_type=="%" %>%<%end%>&nbsp;<%if !dprice.nil? && !dprice.discount_type.nil? && dprice.discount_type.present? %>Off&nbsp;<%end%></label><label class="thirdsptxtgray"><%if !dprice.nil? && !dprice.discount_valid.nil? && dprice.discount_valid.present? %> <%=dprice.discount_valid.strftime("till %a, %b %d, %Y ")%> <%else%> for <%=dprice.discount_number if !dprice.nil? && !dprice.discount_number.nil?%> <% if !dprice.discount_type.nil? && dprice.discount_type.downcase=='multiple session discount'%>Sessions<%else%> Participants<%end%><%end%></label>
                 <%k=k+1%>
             <%end%>
            <%end%>
        <%end%>
        <%end%>

				<%if !@discount_price.nil? && @discount_price.present? && !@p_details.nil? && @p_details.present? && (@discount_price.count>5 ||@p_details.count>5)%><label class="thirdsptxtgray" style="width:100%;text-align:right;"><a data-pjax href="<%=activitylink%>" class="firstsptxt">More</a></label><%end%>
				<!--displaying the discount price details end 2013-8-22-->
				</span><%end%>
			</p>
		 <%elsif !share.nil? && !share.discount_eligible.nil? && share.discount_eligible.present?%>
		<span class="SetOfferBgDiscount" onmouseover="$('#specialContPS<%= share.activity_id %>').show();" onmouseout="$('#specialContPS<%= share.activity_id %>').hide();"></span>
		  <p class="SetOfferBgpdetails" id="specialContPS<%= share.activity_id %>" onmouseover="$('#specialContPS<%= share.activity_id %>').show();" onmouseout="$('#specialContPS<%= share.activity_id %>').hide();">
				<a class="specialDetails"><%=image_tag("/assets/activity_schedule/top_arrow.png")%></a>
				<!--discount eligible div-->
				<span class="listSPecialspace" style="text-align:center;margin-bottom:-6px">
					<label class="firstsptxt" style="width:auto;font-size:16px">Get&nbsp;<label class="secdsptxtred">$<%= (number_with_precision share.discount_eligible, :precision => 2) if !share.nil? && !share.discount_eligible.nil? && share.discount_eligible.present?%></label>&nbsp;Off With Discount Dollars</label>
				</span>
				<!--discount eligible div-->
				
		</p>
		<%end%>
	  <%end%><!--shared end-->	
	  <!-- discount special band -->

    <div id="borderFrame">
      <% @share = activity_schedule(share.activity_id) if !share.nil? && !share.activity_id.nil? %>   
      <% @a_share = find_activity(share.activity_id) if !share.nil? && !share.activity_id.nil?%>
    <div class="BottomContent" id="sharediv<%= share.activity_id %>" onmouseover="$('#sharediv<%= share.activity_id %>').show(); _gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','<%= share.activity_id %>']);" onmouseout="$('#sharediv<%= share.activity_id %>').hide(); _gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','<%= share.activity_id %>']);" style="display:none; z-index:9997; left:69px; .left:260px; top:24px;position:absolute;">
    
    <!--<%if @use.user_plan == "sell" || share.created_by == "Parent"%>
        <%if @use.user_id == current_user.user_id && share.created_by == "Parent"%>
          <a href="/activity_detail_page?det=<%= share.activity_id%>&mode=parent&act=landing_new" onclick="_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Attend Activity',<%= share.activity_id %>])" title="Edit Activity" id="ShowPop_purchase"><img src="/assets/event_index/edit_icon.png" class="lt"/></a>
        <%elsif !@share.nil? && @share.present? && @a_share.present?%>
          <%#= render :partial =>"activities/schedule_expiry_icon" %>
        <%elsif !share.nil? && !share.schedule_mode.nil? && share.schedule_mode == "By Appointment"%>
        <a href="/activity_detail_page?det=<%= share.activity_id%>&mode=parent&act=landing_new" onclick="_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Attend Activity',<%= share.activity_id %>])" title="Get info" id="ShowPop_purchase"><img src="/assets/event_index/info_img.png" class="lt"/></a>
        <%else%>
          <a href="/activity_detail_page?det=<%= share.activity_id%>&mode=parent&act=landing_new" onclick="_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Attend Activity',<%= share.activity_id %>])" title="Buy Now" id="ShowPop_purchase"><img src="/assets/event_index/cart_img.png" class="lt"/></a>
        <%end%>
      <%else%>
        <a href="/activity_detail_page?det=<%= share.activity_id%>&mode=parent&act=landing_new" onclick="_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Attend Activity',<%= share.activity_id %>])" title="Get info" id="ShowPop_purchase"><img src="/assets/event_index/info_img.png" class="lt"/></a>
      <%end%>-->
      <a href="javascript:void(0)" onclick="pop_favorite_activity('/save_favorites?activity_id=<%=share.activity_id%>');_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Save Favorites',<%= share.activity_id %>])" title="Save to Favorites" id="ShowPop_purchase"><%=image_tag("/assets/event_index/fave_img.png", :class=>"lt", :style=>"padding-left:5px;")%></a>
      <a href="javascript:void(0)" onclick="pop_favorite_activity('/save_favorites?name=shared&activity_id=<%=share.activity_id%>');_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Saved Favorites Row',<%= share.activity_id %>]);"  title="Remove from Shared" id="ShowPop_purchase"><%=image_tag("/assets/event_index/Remove_Icon.png", :class=>"lt", :style=>"padding-left:5px;")%></a>
      <!--modified by rajkumar-->

      <!--div class="description lt" id="commentDiv">5 Comment</div-->

      <%if !share.activity_id.nil?%>
        <span class="SetStarImg1" id="more_friends"><a href="javascript:void(0)" title="Request more information or share with friends"  onclick="pop_share_activity('/share_activity?activity_id=<%=share.activity_id%>&mode=parent');_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Famtivity Share',<%= share.activity_id %>])"><%=image_tag("/assets/event_index/chat_img.png", :style=>"padding-left:5px;")%></a></span>
      <%end%>

      <%if !share.activity_id.nil? && current_user.user_id == share.user_id && share.created_by == "Parent"%>
        <script type="text/javascript">$("#sharediv<%= share.activity_id %>").css("left","52px");</script>
         <span class="SetStarImg1" id="more_friends"><a href="javascript:void(0)" title="Delete Activity"  onClick="pop_delete_activity('/activities/delete_activity?id=<%=share.activity_id%>');_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Delete Activity',<%=share.activity_id%>])"><%=image_tag("/assets/event_index/close_icon.png", :style=>"padding-left:1px;")%></a></span>
      <%end%>
    </div>

    <div class="center_bg_scroll" id="setHeightMac">
      <%if !share.avatar_file_name.nil? && share.avatar.present?%>
        <%if random == 1 %>
			<!--<div align="center" style="width:209px; overflow:hidden; margin-left:9px;" id="getid1"><a href="/activity_detail_page?det=<%= share.activity_id%>&mode=parent&act=landing_new" title="" onmouseover="$('#sharediv<%= share.activity_id %>').css('display','block'); $('#tooltipsharediv<%= share.activity_id %>').css('display','none'); $('#sharediv<%= share.activity_id %>'+ ' #tooltip').css('display','none')" onmouseout="$('#sharediv<%= share.activity_id %>').css('display','none');"><%= image_tag share.avatar.url(:thumb), :alt => 'Loading...', :style=> "margin:3px 0px 3px 0px;", :onclick=>"_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','#{share.activity_id}']);" if !share.avatar.url(:thumb).nil?%></a></div>-->
			<div align="center" style="width:209px; overflow:hidden; margin-left:9px;" id="getid1"><a data-pjax href="<%=activitylink%>" title="" onmouseover="$('#sharediv<%= share.activity_id %>').css('display','block'); $('#tooltipsharediv<%= share.activity_id %>').css('display','none'); $('#sharediv<%= share.activity_id %>'+ ' #tooltip').css('display','none'); _gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','<%= share.activity_id %>'])" onmouseout="$('#sharediv<%= share.activity_id %>').css('display','none'); _gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','<%= share.activity_id %>']);" onclick="_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','<%= share.activity_id %>'])"><%= image_tag share.avatar.url(:thumb), :alt => "#{share.activity_name if share && share.activity_name}, #{share.category if share && share.category} Activities - #{share.sub_category if share && share.sub_category}", :style=> "margin:3px 0px 3px 0px;", :onclick=>"_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','#{share.activity_id}']);" if !share.avatar.url(:thumb).nil?%></a></div>
	<%elsif random == 2%>
			<div align="center" style="width:209px; overflow:hidden; margin-left:9px;" id="getid1"><a data-pjax href="<%=activitylink%>" title="" onmouseover="$('#sharediv<%= share.activity_id %>').css('display','block'); $('#tooltipsharediv<%= share.activity_id %>').css('display','none'); $('#sharediv<%= share.activity_id %>'+ ' #tooltip').css('display','none'); _gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','<%= share.activity_id %>'])" onmouseout="$('#sharediv<%= share.activity_id %>').css('display','none'); _gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','<%= share.activity_id %>'])" onclick="_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','<%= share.activity_id %>'])"><%= image_tag share.avatar.url(:small), :alt => "#{share.activity_name if share && share.activity_name}, #{share.category if share && share.category} Activities - #{share.sub_category if share && share.sub_category}", :style=> "margin:3px 0px 3px 0px;", :onclick=>"_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','#{share.activity_id}']);" if !share.avatar.url(:small).nil?%></a></div>
	<%elsif random == 3%>
			<div align="center" style="width:209px; overflow:hidden; margin-left:9px;" id="getid1"><a data-pjax href="<%=activitylink%>" title="" onmouseover="$('#sharediv<%= share.activity_id %>').css('display','block'); $('#tooltipsharediv<%= share.activity_id %>').css('display','none'); $('#sharediv<%= share.activity_id %>'+ ' #tooltip').css('display','none'); _gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','<%= share.activity_id %>'])" onmouseout="$('#sharediv<%= share.activity_id %>').css('display','none'); _gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','<%= share.activity_id %>'])" onclick="_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','<%= share.activity_id %>'])"><%= image_tag share.avatar.url(:thumb), :alt => "#{share.activity_name if share && share.activity_name}, #{share.category if share && share.category} Activities - #{share.sub_category if share && share.sub_category}", :style=> "margin:3px 0px 3px 0px;", :onclick=>"_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','Shared Row','#{share.activity_id}']);" if !share.avatar.url(:thumb).nil?%></a></div>
	<%end%>
      <%else%>
        <div align="center" style="width:209px; overflow:hidden; margin-left:9px;"><a data-pjax href="<%=activitylink%>" title="" onmouseover="$('#sharediv<%= share.activity_id %>').css('display','block'); $('#tooltipsharediv<%= share.activity_id %>').css('display','none'); $('#sharediv<%= share.activity_id %>'+ ' #tooltip').css('display','none')" onmouseout="$('#sharediv<%= share.activity_id %>').css('display','none');"><%= image_tag "no_image.png", :alt => "#{share.activity_name if share && share.activity_name}, #{share.category if share && share.category} Activities - #{share.sub_category if share && share.sub_category}", :style=> "margin:3px 0px 3px 0px;",:onclick=>"_gaq.push(['_trackEvent', 'Parent Module', 'clickActivities', 'Shared Row','#{share.activity_id}']);" if !share.avatar.url(:thumb).nil?%></a></div>
      <%end%>

      <div class="ImgbottomDiv" id="bottomDiv" >
        <table cellspacing="0" cellpadding="0" border="0">
          <tr>
            <td width="10">&nbsp;</td>
            <td align="left" width="205">
              <% if !share.activity_name.nil? && share.activity_name.present?%>

              <%if !current_user.nil? && current_user.present? %>
                <h2 class="truncateText"><a data-pjax href="<%=activitylink%>"  title="<%=share.activity_name%>" class="Title" ><%= share.activity_name %></a></h2>
                <%else%>
                <h2 class="truncateText"><a href="javascript:void(0)" title="<%=share.activity_name%>" class="Title" onclick="pop_Login('/login');"><%= share.activity_name %></a></h2>
                <%end%>
              <%end%>
            </td>
            <td width="10">&nbsp;</td>
          </tr>

          <tr><td height="8"></td></tr>
	   <tr>
            <td width="10">&nbsp;</td>
            <td>
              <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                  <!--<td valign="middle" width="14%"><img src="/assets/card_images/cart_icon.png" width="20" height="21" alt=""/></td>-->
        <!--price value start-->
         <% if share.schedule_mode.downcase!='any time' && !shedule_count.nil? && shedule_count>1%>
              <td valign="middle" class="price_text" align="left"><span class="price_textlarge">$</span><a data-pjax href="<%=activitylink%>" class="price_text"> Price Details</a></td>
           <%elsif !share.price_type.nil? && share.price_type == "1" || share.price_type == "2"%>
			<!--get the data from activities helper by rajkumar-->
			<%@price_det = get_activity_provider(share.activity_id) if !share.nil? && !share.activity_id.nil?%>
			<%if !@price_det.nil? && @price_det.present? && @price_det.length>1%>
			<td valign="middle" class="price_text" align="left" nowrap="nowrap"><span class="price_textlarge">$</span> <a data-pjax href="<%=activitylink%>"  class="price_text"  onmouseOver="showPriceDetails_land1('<%= share.activity_id%>_fav')" onmouseOut="hidePriceDetails_lands1('<%= share.activity_id%>_fav')">Price Details</a>

      <!-- pricedetail popup start-->
			<div id="pricingDetail_<%= share.activity_id%>_fav"  class="pricingDetail1"  style="margin: 8px 0 0 0px;position: absolute;width: 220px;.background: #ffffff;left:2px" onmouseOver="showPriceDetails_land1('<%= share.activity_id%>_fav')" onmouseOut="hidePriceDetails_lands1('<%= share.activity_id%>_fav')">
								  <div class="topArrow" align="center"  onmouseOver="showPriceDetails_land1('<%= share.activity_id%>_fav')" onmouseOut="hidePriceDetails_lands1('<%= share.activity_id%>_fav')" style="height: 20px;left: -59px;width: 220px;"><%=image_tag("/assets/activity_schedule/top_arrow.png")%></div>
								  
                    <%@activity_price = get_activity(share.activity_id) if !share.nil? && !share.activity_id.nil?%>
                          <div class="setHeightScroll" <%if @activity_price.length>=3%>style="overflow-y: auto; overflow-x: hidden; height:160px; width:220px;"<%end%> >
                          <div>
                            <div>
                                <%= render :partial =>"landing/price_detail" %>
                             </div>  
                           
                              <%# if !share.note.nil? && share.note.present?%>
                                <!--div class="notes" style="margin-top: 10px;">
                                  <div class="lt paymentNotes" style="margin-left:5px;">Notes</div>
                                  <div class="lt paymentContent" style="width: 175px;margin-left:5px;"><%#= share.note if !share.note.nil?%></div>
                                </div-->
                              <%#end%>
      <!-- pricedetail popup end-->
			</td>
			<%elsif !@price_det.nil? && @price_det.present? && @price_det.length==1 %>
			<td valign="middle" class="price_textlarge" align="left">$ <%=number_with_precision @price_det[0].price , :precision => 2  if !@price_det.nil?%><%#=@price_det[0].price if !@price_det.nil?%></td>
			<%end%>
                  <%elsif !share.price_type.nil? && share.price_type == "2"%>
                    <td valign="middle" class="price_textlarge" align="left">$ <%= number_with_precision share.price, :precision => 2 %></td>
                  <%elsif !share.price_type.nil? && share.price_type == "3" || share.filter_id == "3" || share.created_by.downcase == "parent"%>                    
                    <td valign="middle" class="price_text" align="left"><span class="price_textlarge">$</span> Free</td>
                  <%elsif !share.price_type.nil? && share.price_type == "4"%>
		   <td valign="middle" class="price_text" align="left" nowrap="nowrap"><span class="price_textlarge">$</span> Contact Provider
                    </td>
                  <% elsif share.price.present? && !share.price.nil?  && share.price!=0%>
                    <td valign="middle" class="price_textlarge" align="left">$ <%= number_with_precision share.price, :precision => 2 %></td>
                  <%end%>

                  <td valign="middle">&nbsp;</td>
                  <td valign="middle" align="right">
			<%
			@act_activityid = share.id		
			@act_userid = current_user.user_id if !current_user.nil?
			%>
			<%= render :partial => 'common/activity_purchase_status' %>
                  </td>
                </tr>
              </table>
            </td>
            <td width="10">&nbsp;</td>
          </tr>

          <tr><td height="11"></td></tr>
	  
          <%if (!share.min_age_range.nil? && share.min_age_range!='' && share.min_age_range.present?) || (share.city.nil? || share.city=='' || !share.city.present?) || (!share.city.nil? &&  share.city.present?)  %>
            <tr>
              <td width="10">&nbsp;</td>
              <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tr>
                    <%if share.created_by.downcase=='parent' && !share.schedule_mode.nil? && share.schedule_mode.present? && share.schedule_mode.downcase == 'any time'%>
                      <% if (share.city.nil? || share.city=='' || !share.city.present?)%>
                        <%if (!share.min_age_range.nil? && share.min_age_range.present?) && (!share.max_age_range.nil? && share.max_age_range.present?) %>
                          <td width="51%" class="city_text" valign="top" nowrap="nowrap"><% if (share.city.nil? || share.city=='' || !share.city.present?)%><a href="javascript:void(0)" title="Anywhere" class="city_text" style="cursor:default;"><span style="top:-2px; position:relative;">Anywhere</span></a><%end%></td>
                        <%else%>
                          <td class="city_text" width="51%" valign="top" nowrap="nowrap"><% if (share.city.nil? || share.city=='' || !share.city.present?)%><a href="javascript:void(0)" title="Anywhere" class="city_text" style="cursor:default;"><span style="top:-2px; position:relative;">Anywhere</span></a><%end%></td>
                        <%end%>
                      <%else%>
                        <td class="city_text" width="51%" valign="top" nowrap="nowrap"><div style="width:87px;" class="truncateText"><%if  !share.city.nil? &&  share.city.present?%><a href="javascript:void(0)" title="<%=share.city%>" class="city_text" style="cursor:default;"><span style="top:-2px; position:relative;"><%=share.city.strip%></span></a><%end%></div></td>
                      <%end%>

                    <%elsif (!share.min_age_range.nil? && share.min_age_range.present?) && (!share.max_age_range.nil? && share.max_age_range.present?) %>
                      <td width="51%" class="city_text" valign="top" nowrap="nowrap"><div style="width:87px;" class="truncateText"><a href="javascript:void(0)" title="<%=share.city%>" class="city_text" style="cursor:default;"><span style="top:-2px; position:relative;"><%if share.schedule_mode == 'Any Where'%>Anywhere<%else%><%= share.city.strip %><%end%></span></a></div></td>
                   <%else%>
                      <td class="city_text" valign="top" width="51%" nowrap="nowrap"><div style="width:87px;" class="truncateText"><a href="javascript:void(0)" title="<%=share.city%>" class="city_text" style="cursor:default;"><span style="top:-2px; position:relative;"><%if share.schedule_mode == 'Any Where'%>Anywhere<%else%><%= share.city.strip %><%end%></span></a></div></td>
                    <%end%>
                    <td width="2%" valign="top">&nbsp;</td>
                    <%if (!share.min_age_range.nil? && share.min_age_range.present?) && (!share.max_age_range.nil? && share.max_age_range.present?) %>
                      <td width="20%" valign="top" class="price_text" nowrap="nowrap"><span class="agePic">Age</span></td>                      
                        <td width="8%" valign="top" align="left" class="price_text" nowrap="nowrap"><span style="top:-2px; position:relative;"><%=age_range_cal(share.min_age_range,share.max_age_range)%></span></td>                      
                    <%end%>
                  </tr>
                </table>
              </td>
              <td width="10">&nbsp;</td>
            </tr>
            <tr><td height="8"></td></tr>
          <%end%>	  
          <!--week days display start-->
          <% if !shedule_count.nil? && shedule_count>1%>
          <% else%>
          <%= render :partial =>"activities/activity_weekday" %>
          <%end%>
          <!--week days display end-->
	  <%@repeat_days=""%>
          <% @repeat_days = any_time_activity(share.activity_id) %>
            <!--Week days display for any time activity start-->
            <%if !@repeat_days.nil? && @repeat_days.present? && @repeat_days!=""%>
              <%= render :partial =>"activities/activity_day_selection" %>
            <%end%>
            <!--Week days display for any time activity end-->
          <% if share.created_by.downcase=='parent' && !share.schedule_mode.nil? && share.schedule_mode.present? && share.schedule_mode.downcase=='any time' %>
            <tr>
              <td width="10">&nbsp;</td>
              <td>
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                  <tr>
                    <td class="city_text calPic">AnyTime</td>
                  </tr>
                </table>
              </td>
              <td width="10">&nbsp;</td>
            </tr>
            <tr><td height="8"></td></tr>
          <% elsif share.created_by.downcase=='parent' && !share.schedule_mode.nil? && share.schedule_mode.present? && share.schedule_mode.downcase != 'any time'%>
            <tr>
              <td width="10">&nbsp;</td>
              <td valign="middle">
                <% if !@share.nil? && @share.present?%>
                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                      <td valign="middle" class="city_text calPic setLineHeight"><%= render :partial =>"activities/schedule_new_format" %></td>
                    </tr>
                  </table>
                <%end%>
              </td>
              <td width="10">&nbsp;</td>
            </tr>
            <tr><td height="8"></td></tr>
        <% elsif (!share.nil? && !share.schedule_mode.nil? && share.schedule_mode == "By Appointment")%>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td valign="middle" class="city_text setLineHeight">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td valign="middle" class="city_text calPic setLineHeight">By Appointment</td>
                      </tr>
                    </table>
                  </td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr><td height="8"></td></tr>
        <%else%>
            <% if !@share.nil? && @share.present?%>
   			<% if @share.schedule_mode=="Schedule" && !shedule_count.nil? && shedule_count>1%>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td valign="middle" class="city_text setLineHeight"><table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td valign="middle" class="city_text calPic setLineHeight"><a data-pjax href="<%=activitylink%>" class="price_text">Schedule details</a> </td></tr></table></td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr><td height="8"></td></tr>
              <%elsif @share.schedule_mode=="Schedule"%>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td valign="middle" class="city_text setLineHeight">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td valign="middle" class="city_text calPic setLineHeight"><%= render :partial =>"activities/schedule_new_format" %></td>
                      </tr>
                    </table>
                  </td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr><td height="8"></td></tr>
              <%end%>
               <% if @share.schedule_mode=="Whole Day" && !shedule_count.nil? && shedule_count>1%>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td valign="middle" class="city_text setLineHeight"><table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td valign="middle" class="city_text calPic setLineHeight"><a data-pjax href="<%=activitylink%>" class="price_text">Schedule details</a> </td></tr></table></td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr><td height="8"></td></tr>
               <% elsif @share.schedule_mode=="Whole Day"%>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td valign="middle" class="city_text setLineHeight">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td valign="middle" class="city_text calPic setLineHeight"><%= render :partial =>"activities/wholeday_new_format" %></td>
                      </tr>
                    </table>
                  </td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr><td height="8"></td></tr>

              <%end%>
              <% if @share.schedule_mode=="By Appointment"%>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td valign="middle" class="city_text setLineHeight">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td valign="middle" class="city_text calPic setLineHeight">By Appointment</td>
                      </tr>
                    </table>
                  </td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr><td height="8"></td></tr>

              <%end%>
              <% if @share.schedule_mode=="Any Time"%>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td valign="middle" class="city_text setLineHeight">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td valign="middle" class="city_text calPic setLineHeight">AnyTime</td>
                      </tr>
                    </table>
                  </td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr><td height="8"></td></tr>
              <%end%>
	  <% if @share.schedule_mode=="Any Where"%>
                <tr>
                  <td width="10">&nbsp;</td>
                  <td valign="middle" class="city_text setLineHeight">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td valign="middle" class="city_text calPic setLineHeight">AnyTime</td>
                      </tr>
                    </table>
                  </td>
                  <td width="10">&nbsp;</td>
                </tr>
                <tr><td height="8"></td></tr>
              <%end%>
            <%end%>
          <%end%>
	  <%if !@use.nil? && @use.present? && !@use.user_profile.nil? && @use.user_profile.present?%>
              <tr>
                <td width="10">&nbsp;</td>
                <td>
                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                      <td width="27" valign="middle"> 
		      <div style="width:21px; overflow:hidden;">
		<%if !share.nil? && !share.created_by.nil? && share.created_by == "Parent"%>
			<%if !@use.nil? && @use.present? && !@use.user_profile.nil? && !@use.user_profile.user_photo.blank? && !@use.user_profile.user_photo.nil?%><%= image_tag(@use.user_profile.user_photo.url(:thumb),  :alt=>"#{@use.user_profile.business_name if @use.user_profile && @use.user_profile.business_name}, #{@use.user_profile.city if @use.user_profile && @use.user_profile.city}, CA", :width => "21")%><%else%><img src="/assets/profile/user_icon.png" alt="<%=@use.user_profile.business_name if @use && @use.user_profile && @use.user_profile.business_name%>, <%=@use.user_profile.city if @use && @use.user_profile && @use.user_profile.city%>, CA" height="21" width="21" style="width:21px;height:21px;"/><%end%>
		<%else%>
			<%if !@use.nil? && @use.present? && !@use.user_profile.nil? && !@use.user_profile.profile.blank? && !@use.user_profile.profile.nil?%><%= image_tag(@use.user_profile.profile.url(:thumb), :alt=>"#{@use.user_profile.business_name if @use.user_profile && @use.user_profile.business_name}, #{@use.user_profile.city if @use.user_profile && @use.user_profile.city}, CA", :width => "21")%><%else%><img src="/assets/profile/user_icon.png" alt="<%=@use.user_profile.business_name if @use && @use.user_profile && @use.user_profile.business_name%>, <%=@use.user_profile.city if @use && @use.user_profile && @use.user_profile.city%>, CA" height="21" width="21" style="width:21px;height:21px;"/><%end%>
		<%end%>
		</div>
		</td>
	<% if !@use.nil? && @use.present? && @use!="" && !@use.user_profile.nil? && @use.user_profile.present?%><td class="price_text"><div style="width:174px;" class="truncateText"><b>
		<%if !share.nil? && !share.created_by.nil? && share.created_by == "Parent"%> 
			 <%=@use.user_name.titlecase if !@use.nil? && !@use.user_name.nil?%>
		<%else%>
			<% if !@use.nil? && @use.present? && @use!="" && !@use.user_profile.nil? && !@use.user_profile.business_name.nil?%>  <%=@use.user_profile.business_name%><%else%> <%=@use.user_name.titlecase if !@use.nil? && !@use.user_name.nil?%><%end%>
		<%end%></b></div>
	</td>
	<%end%>
                    </tr>
                    <tr><td height="8"></td></tr>
                  </table>
                </td>
                <td width="10">&nbsp;</td>
              </tr>
            <%end%>
	       <tr><td height="8"></td></tr>
          <!--shared by me added start-->
          <tr>
            <td width="10">&nbsp;</td>
            <td>
              <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <%if !share.nil? && share.present?%>
                  <%@shared_user=User.find(@shared_detail) if !@shared_detail.nil?%>
                  <%if !@shared_user.nil?%>
                    <tr>
                      <%if @shared_user.user_name==current_user.user_name%>
                        <td width="73" class="price_text" valign="middle" align="left" nowrap="nowrap"><b>Shared By</b></td>
                        <td class="price_text" valign="middle" align="left">My Self</td>
                      <%else%>
                        <td width="73" class="price_text" valign="middle" align="left" nowrap="nowrap"><b>Shared By</b></td>
                        <td class="price_text" valign="middle" align="left"><%=@shared_user.user_name if !@shared_user.user_name.nil? %></td>
                      <%end%>
                    </tr>
                  <%end%>
                <%end%>
                <tr>
                  <td height="3"></td>
                </tr>
              </table>
            </td>
            <td width="10">&nbsp;</td>
          </tr><!--shared by me added end-->
        </table>
	<div class="SetGrayBg"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  </div>
<%end%>
<%end%>
<%if params[:page] == "1" && @activity_share_provider.length == 0%>
      <div class="no_activities" style="padding:3px 0px 12px 23px; margin-top:0px;width:100%;">No activities found.</div>
<%end%>
<script type="text/javascript">
    var actLength = $(".parentShared").length;
    if(actLength>2){
	   $("div.parentShared:last-child p.SetOfferBgpdetails").css("left","-178px");
	   $("div.parentShared:last-child p.SetOfferBgpdetails a.specialDetails").css("left","188px");
    }
     <%if @activity_share_provider.nil? || @activity_share_provider == []  %>
          $('#makeMeScrollableshared').css('height','auto');
     <%end%>
</script>