<!--meta tag added for landing page-->
<%
meta :title => "Famtivity - Kids Activities, Events, Camps, Classes",
  :description => "Kids activities, events, day and summer camps, lessons, classes for children of all ages with local provider discounts and specials",
  :keywords => "Kids Activities, Kids Events, Kids Camps"
%>
<%cookies[:set_bread] = ""%>
<%cookies[:browse_city] = ""%>
<%cookies[:browse_category] = ""%>
<%cookies[:categv]=""%>
<%cookies[:sub_categv]=""%>
<%cookies[:ctyv] =""%>
<!-- Track Attend Event for invite and message-->
<script type="text/javascript" src="/assets/acitivity_view_details/search_drop_pjax.js"></script>

<script type="text/javascript">
  window.addEventListener('popstate', function(e) {
    $("#search_value").val('Search 20,000 + Local Activities & Counting...');
    $("#howitwrks").css("visibility","visible");
    $("#getwrks").css("visibility","visible");
  });
  var city_values = new Array();
<%if !@fam_city.nil?%>
  <% @fam_city.each do |autocomplete| %>
      city_values.push({"value": "<%= autocomplete.city_name%>,CA","data": "<%= autocomplete.city_id%>"});
  <%end%>
<%end%>

  $(document).ready(function() {
    var check_attend = "<%= params[:attend_track]%>";
    var msg_track = "<%= params[:msg_invite]%>"
    var view_more_track ="<%= params[:view_more]%>"
    if(check_attend == "true")
    {
      _gaq.push(['_trackEvent', 'Parent Module', 'clickAttendActivity','Accept']);
    }
    if(msg_track =="true")
    {
      _gaq.push(['_trackEvent', 'Parent Module', 'clickMessageInvite','Join Famtivity Now']);
    } 
    if(view_more_track =="true")
    {
      _gaq.push(['_trackEvent', 'Parent Module', 'clickMessage','View More']);
    }
    macos_fixes();

  });
  
  $(document).ready(function() {
<%if params[:guest_login] && params[:guest_login]=='true' && params[:guest_id] && params[:guest_id].present?%>
  <%if current_user.nil?%>
        parent.guest_login();
  <%else%>
        var stateObj = {
          foo: "bar"
        }
        if(navigator.appName=="Microsoft Internet Explorer")
        {
          window.location.hash='';
        }
        else
        {
          history.replaceState(stateObj, "", "/");
        }
  <%end%>
<%end%>
  });

  function macos_fixes(){

    var ua=navigator.userAgent;
    if(ua.indexOf("Mac")!=-1)
    {
      if(($.browser.safari)||($.browser.chrome)){
        $('.search_bar_login').css('margin-top','-59px');
      }
    }
    else{
      if($.browser.safari){
        $('.search_bar_login').css('margin-top','-59px');
      }
    }
  }


</script>
<%=stylesheet_link_tag "browse_location/seo","activity_view_detail/paymentDetail", :media => "all"%>
<%=javascript_include_tag "scroller/jquery-ui-1.8.23.custom.min","scroller/jquery.mousewheel.min","scroller/jquery.smoothdivscroll-1.3-min","acitivity_view_details/schedule_price"%>
<div class="clear"></div>
<style>
  .bS_menus
  {
    font-size: 12px !important;
  }


  /*---------------added by raj to fix the scroll stoping the card*/


  .message_selected{
    width:225px;
    height:548px;
    border:1px solid  #D6EDF3;
    background: #D6EDF3;
    word-wrap:break-word;
  }
  .message_head{
    width:225px;
    background-color: #D6EDF3;
  }
  .message_footer{
    width:100%;
    background-color: #D6EDF3;
  }
  .message_body{
    width:89.5%;
    background:#f0fafc;
    overflow:hidden;
    padding:12px;
    height:auto;
  }
  .message_detail
  {
    font-size:12px;
    margin:5px 0px;
  }
  .header_messages{
    width:76%;
    float :left;
    color:#3D8EA3;
    font-size:18px;
    padding:12px 5px;
    font-family:arial;
  }
  .message_title{
    margin-bottom:10px;
    color:#3D8EA3;
    text-transform:capitalize;
    width:100%;
  }
  .message_detail
  {
    color:#999999;
  }
  .message_body p{
    font-family:arial;
    font-size:12px;
    color:#565455;
  }

  .header_images {
    width:12%;
    float :left;
    height:25px;
    padding:13px 5px 10px 10px;
  }
  .footer_left{
    float:left;
    padding:10px 0px 0px 10px;
    cursor:pointer;
  }
  .footer_right{
    float:right !important;
    color:#3D8EA3;
    font-size:14px;
    padding:3px;
    position:relative;
    top:8px;
  }
  .attachment_msg_card
  {
    position:relative;
    top:-3px;
    margin:3px 0px 0px 5px;
    cursor:pointer;
  }


  .week_ends{
    width: 228px;
    height: 550px;
    background: #d8eef2;
  }
  .div_weekend{
    width: 90%;
    height: 20px;
    padding: 12px;
    overflow: hidden;
  }
  .inner_week_contents{
    max-height:530px;overflow:hidden;background:#ffffff;padding-bottom: 4px;
  }
  .see_more_weekend{
    text-align: left;
    font-size: 12px;
    color: #3D8EA3;
    padding: 4px;
    padding-left: 56px;
    font-weight:bold;
    cursor:pointer;
  }

  .post_card {
    height: 534px;
    overflow: hidden;
    width: 228px;
    /* border:1px solid;*/
    background: none repeat scroll 0 0 #E4F5FC;
    box-shadow: 1px 1px 5px #DCDEDD;
    margin: 0;

  }
  .post_new_invite{
    width:198px;
  }
  #borderFrame{
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 1px 1px 5px #DCDEDD;
    margin: 0;
    /* padding: 10px 0 0;*/
  }
  div.center_bg_scroll{
    height:538px;
    width: 100%;
  }
  .post_new{
    width: 200px;
    margin: 12px 12px;
    height:200px;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    background: #E4F5FC;


  }
  .posted_new{
    width: 200px;
    margin: 12px 12px;
    height:auto;
    /* border: 1px solid #e1e1e1;*/
    cursor: pointer;

  }
  .posted_header{
    width: 97%;
    padding: 5px 4px;
    background-color: #d6edf3;
    color: #3D8EA3;
    font-size: 18px;
    text-transform: capitalize;
  }
  .post_header{
    width: 91%;
    padding: 14px 10px 14px;
    background-color: #d6edf3;
    color: #3D8EA3;
    font-size: 18px;
    text-transform: capitalize;
  }
  .postimg{
    height: 150px;
    width: 100%;
    background: url("/assets/fam_networks/fam_add.png") center no-repeat;
  }
  .posted_img{
    /*margin-left:3px;*/

  }
  .posted_img img{

    /*border: 1px solid #e1e1e1;*/
  }
  .postimg_txt{
    font-size: 20px;
    font-weight: bold;
    color: #5099ac;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
  }
  .post_new_invite{
    padding: 10px;
    line-height:17px;
    overflow: hidden;
    max-height: 215px;

  }
  #post_button{
    width: 180px;
    height: 50px;
    background: url("/assets/fam_networks/invite_others.png") no-repeat center center;
    cursor: pointer;
  }
  .Setings_txt{
    font-size: 13px;
    font-weight: bold;
    color: #5099ac;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    background: url("/assets/fam_networks/settings_icon.png") no-repeat center left;
    padding-left: 2px;
    float: right;
    cursor: pointer;
  }
  .rightsidediv{
    float: left;
    width: 60%;
  }
  .setings_new{
    width: 100%;
    height: 20px;

  }
  .member_in_net{
    color:#3D8EA3;
    font-size: 11px;
    margin: 15px 8px 10px 8px;
    font-weight: bold;
    cursor: pointer;
  }
  .red_line{
    color: #ff0000;
    font-size: 12px;
    font-weight: bold;
  }
  .total_border{
    height: 200px;
    width: 200px;
    margin: 0 12px;
    border: 1px solid #D6EDF3;
  }
  .subject_style{
    color: #3D8EA3;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .post_card .message_net_footer{
    height: 18px !important;
    padding: 5px 2px;
    position:absolute;
    bottom:0;
  }

  .message_net_footer{
    width:100%;
    background-color: #D6EDF3;
  }
  .footer_net_right{
    float: right !important;
    position: relative;
  }
  .footer_net_left{
    float: left;
    cursor: pointer;
  }
  .footer_net_left .attachment_msg_card{
    display: block;
    float: left;
  }
  .footer_net_left img{
    display: block;
    float: left;
  }
  .see_more_net{
    color:#3D8EA3;padding-right:8px;font-size: 12px;font-weight: bold;
  }
</style>
<% landing_feature_activity %>
<div id="eventListContainer" class="eventListContainer" style="<% if !current_user.nil?%>margin-top:62px;<% else%>margin-top:50px;<%end%> margin-bottom: 36px;"><!-- Start Default Activities List --><!-- Top Banner Slide Start-->
  <div class="setouterstyle"><!--slider start--> 
    <div style="position:relative;">  
      <%if current_user.nil? %>
        <%= render :partial =>"banner/topbanner" %>
      <% else %>
        <%= render :partial =>"banner/user_topbanner" %>
      <% end%>

      <!--////////////////////////////////Start new search  ////////////////////////////////////////////-->
<%#= render :partial =>"common/advance_search_option" %>
      <!--////////////////////////////////End of new search  ////////////////////////////////////////////-->


    </div>

    <!--slider end--> <!--Header Slider-->
    <%  @jump_to_scroll_first = []
    #don't remove this. jump to drop down dynamically show
    @jump_to_scroll_first.push("Featured")
    #@jump_to_scroll_first.push("Free")
    %>
    <% if !current_user.nil?
      act_categ = ActivityCategory.where("lower(category_name) = 'default'").last
      sub_cat = ActivitySubcategory.where(:category_id=>act_categ.category_id ).map(&:subcateg_id)
      @row_default = ActivityRow.where(:subcateg_id => sub_cat,:user_id => current_user.user_id)
      @row_default.each do |s|
        @jump_to_scroll_first.push("#{s.row_type}")
      end
      if @fam_post.length > 0
        @fam_post.each do |s|
          if !s.nil? && s!=""
            fa = ContactGroup.where("group_id = #{s} and lower(group_status) != 'just_me'").last
            @jump_to_scroll_first.push(fa.group_name) if !fa.nil?
          end
        end
      end
    end
    #@jump_to_scroll_first.push("Dance")
    #@jump_to_scroll_first.push("Music")
    #@jump_to_scroll_first.push("Sports")



    @provider_activites.each do |s|
      @jump_to_scroll_first.push(s) if !s.nil? && s.present? && s!=''
    end if !@provider_activites.nil? && @provider_activites.present? && @provider_activites!=''
    @follow_parent_user.each do |u|
      @user = User.where("user_id = #{u}").last if !u.nil? && u.present? && u!=''
      @jump_to_scroll_first.push(@user.user_name) if !@user.nil?
    end if !@follow_parent_user.nil? && @follow_parent_user.present? && @follow_parent_user!=''
    @follow_provider_user.each do |u|
      @user = User.where("user_id = #{u}").last  if !u.nil? && u.present? && u!=''
      @jump_to_scroll_first.push(@user.user_profile.business_name) if !@user.nil?
    end if !@follow_provider_user.nil? && @follow_provider_user.present? && @follow_provider_user!=''


    #@fam_post = FamNetworkGroup.where("user_id = #{user_id}")
    @jump_to_scroll = @jump_to_scroll_first.uniq
  %>

    <% if !params[:city_v]%><!--following starting here-->
      <div>
        <a name="featured"></a>
        <div id="featured" class="scrollSection" style="margin-top:10px;"><!-- Featured Row -->
          <div class="dottedDiv" style="position:relative;"> <!-- dont remove the style properties in dottedDiv -->
            <div class="lt"><table cellspacing="0" cellpadding="0" border="0" class="activityImage"><tr><td width="34" valign="middle"><%=image_tag("/assets/categories/featured.png")%></td><td class="Title_head" valign="middle" style="padding-right: 4px;"><b>Featured</b></td><td id="featured_count" class="Title_head" valign="middle" ></td></tr></table></div>
            <% if !@jump_to_scroll.nil? && @jump_to_scroll.present? && @jump_to_scroll.length>1 %>
              <div class="rt" id="GotoFeatured">
                <div id="jump_menu" class="jumpDivMenu"><ul><li><a href="javascript:void(0);" class="jumpDiv" style="color: #4495AE;">Jump To</a>
                      <ul class="sub-menu dispParentjumpDiv" style="margin-left:-62px;.margin-top:28px; .margin-left:-147px;"><% if !@jump_to_scroll.nil? && @jump_to_scroll.present?%><% @jump_to_scroll.each do |jval|%><%if !jval.nil? && jval.present? && jval!=""%><li><a class="test<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>" href="javascript:void(0);" onclick="jumpto('<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>');  _gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>']);"><%=jval%></a></li><%end%><%end%><%end%></ul></li></ul>
                </div>
              </div>
            <%end%>
          </div>
          <div id="makeMeScrollablefeatured" style="margin-left:5px">

            <div class="blogDesign">
              <div  id="article">
                <div id="blog_loading" align="center" style="width:410px; margin:0 auto; margin-top:241px;">
		<%=image_tag("/assets/loading_small.gif", :width=>"16", :height=>"16", :alt=>"")%>
                </div>
              </div>
              <div class="moreArticle">
                <div class="lt">
                  <a href="javascript:void(0);" title="" onmouseover="pause()" onmouseout="resume()" onclick="play('0')" class="blueDot" style="border: 1px solid #76BDDB;background: #76BDDB;"></a>
                  <a href="javascript:void(0);" title="" onmouseover="pause()" onmouseout="resume()" onclick="play('1')" class="blueDot"></a>
                  <a href="javascript:void(0);" title="" onmouseover="pause()" onmouseout="resume()" onclick="play('2')" class="blueDot"></a>
                </div>
                <a href="http://blog.famtivity.com" target="_blank" title="" class="ftcGreen3c fts14">More articles</a>
              </div>
            </div>
            <div id='frow'>
            </div>
  <%# render :partial =>"featured_row" %>
          </div>
        </div>

        <script type="text/javascript">
          processing_feature = false;
          $(document).ready(function () {
            scroll_repeat();
          });
	    
	    
          function scroll_repeat(){
            $.ajax({
              url: "/blog_content",
              dataType: 'script',
              success: function(data){
              }
            });
            if ($("#makeMeScrollablefeatured").length >= 1){
              document.cookie="set_bread=";
            }


            $("#makeMeScrollablefeatured").smoothDivScroll({
              getContentOnLoad: {
                method: "getAjaxContent",
                content: "/landing/featured_activity",
                manipulationMethod: "addLast"
              },
              mouseOverRightHotSpot: function () {
                if (processing_feature)
                {
                  return false;
                }
                else{
                  processing_feature=true;
                  $("#makeMeScrollablefeatured").smoothDivScroll("getHtmlContent", '<div class="featured_row_loader" align="center" style="width:300px; margin:0 auto; margin-top:241px;"><img src="/assets/loading_small.gif" alt="loading..." width="16" height="16"></div>', "addLast");
                  $("#makeMeScrollablefeatured").smoothDivScroll("getAjaxContent", "/landing/featured_activity?page=1", "addLast");
                }
              },mouseOverLeftHotSpot: function () {
                if (processing_feature){
                  return false;
                }
                else{
                  processing_feature=true;
                  $("#makeMeScrollablefeatured").smoothDivScroll("getHtmlContent", '<div class="featured_row_loader" align="center" style="width:300px; margin:0 auto; margin-top:241px;"><img src="/assets/loading_small.gif" alt="loading..." width="16" height="16"></div>', "addLast");
                  $("#makeMeScrollablefeatured").smoothDivScroll("getAjaxContent", "/landing/featured_activity?page=1", "addLast");
                }
              }
            });
          }

        </script>
        <div id="show_all_rows" style="visibility: hidden;height:0px;">
          <%if !current_user.nil?%>
            <%@row_default.each do |defa|%>
              <div id="<%=defa.row_type.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>" class="scrollSection">
                <div class="dottedDiv" style="position:relative;"> <!-- dont remove the style properties in dottedDiv -->
                  <div class="lt"><table cellspacing="0" cellpadding="0" border="0" class="activityImage"><tr><%if defa.row_type.downcase =="shared"%><td width="34" valign="middle"><%=image_tag("/assets/categories/shared.png")%></td><%elsif defa.row_type.downcase =="my favorites"%><td width="34" valign="middle"><%=image_tag("/assets/categories/my_favorites.png", :alt=>"")%></td><%elsif defa.row_type.downcase =="my created"%><td width="34" valign="middle"><%=image_tag("/assets/categories/my_created.png", :alt=>"")%></td><%end%><td class="Title_head" valign="middle" style="padding-right: 4px;"><b><%=defa.row_type%></b></td></tr></table></div>
                  <% if !@jump_to_scroll.nil? && @jump_to_scroll.present? && @jump_to_scroll.length>1 %><div class="rt" id="GotoFeatured"><div id="jump_menu" class="jumpDivMenu"><ul><li><a href="javascript:void(0);" class="jumpDiv" style="color: #4495AE;">Jump To</a><ul class="sub-menu dispParentjumpDiv" style="margin-left:-62px;.margin-top:28px; .margin-left:-147px;"><% if !@jump_to_scroll.nil? && @jump_to_scroll.present? %><% @jump_to_scroll.each do |jval|%><%if !jval.nil? && jval.present? && jval!= ""%><li><a class="test<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>" href="javascript:void(0);" onclick="jumpto('<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>');  _gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>']);"><%=jval%></a></li><%end%><%end%><%end%></ul></li></ul></div></div><%end%>
                </div>
                <div id="makeMeScrollable<%=defa.row_type.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>">
                  <div id="field" style="width: 228px;margin: 0 auto;float: none;">
                    <table cellpadding="0" cellspacing="0" style="height: 450px;" align="center"><tr><td width="228" align="center" valign="middle"><%=image_tag("/assets/ajax-loader.gif")%></td></tr></table>
                  </div>
                </div>
              </div>
              <script>
      <%if defa.row_type.downcase =="shared"%>
        $("#makeMeScrollableshared").smoothDivScroll({
        mouseOverRightHotSpot: function () {
        $("#makeMeScrollableshared").smoothDivScroll("getAjaxContent", "/landing/shared_activity", "addLast");
        },mouseOverLeftHotSpot: function () {
        $("#makeMeScrollableshared").smoothDivScroll("getAjaxContent", "/landing/shared_activity", "addLast");
        },getContentOnLoad: {
        method: "getAjaxContent",
        content: "/landing/shared_activity?page=1",
        manipulationMethod: "replace"
        }
        });
      <%end%>
      <%if defa.row_type.downcase =="my favorites"%>
        $("#makeMeScrollable<%=defa.row_type.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>").smoothDivScroll({
        mouseOverRightHotSpot: function () {
        $("#makeMeScrollable<%=defa.row_type.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>").smoothDivScroll("getAjaxContent", "/landing/favorite_activity", "addLast");
        },mouseOverLeftHotSpot: function () {
        $("#makeMeScrollable<%=defa.row_type.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>").smoothDivScroll("getAjaxContent", "/landing/favorite_activity", "addLast");
        },getContentOnLoad: {
        method: "getAjaxContent",
        content: "/landing/favorite_activity?page=1",
        manipulationMethod: "replace"
        }
        });
      <%end%>
      <%if defa.row_type.downcase =="my created"%>
        $("#makeMeScrollable<%=defa.row_type.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>").smoothDivScroll({
        mouseOverRightHotSpot: function () {
        $("#makeMeScrollable<%=defa.row_type.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>").smoothDivScroll("getAjaxContent", "/landing/my_activity", "addLast");
        },mouseOverLeftHotSpot: function () {
        $("#makeMeScrollable<%=defa.row_type.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>").smoothDivScroll("getAjaxContent", "/landing/my_activity", "addLast");
        },getContentOnLoad: {
        method: "getAjaxContent",
        content: "/landing/my_activity?page=1",
        manipulationMethod: "replace"
        }
        });
      <%end%>
              </script>
            <%end%>
          <%end%><!--current user end-->

          <%!@fam_post.nil? && @fam_post!="" && @fam_post.present? && @fam_post.each do |p|%>
            <%if !p.nil? && p!=""%>
              <%@fam = ContactGroup.where("group_id = #{p} and lower(group_status)!='just_me'").last%>
              <%if !@fam.nil? %>
                <div id="fam<%=@fam.group_id%>">
                  <div id="<%=@fam.group_name.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>" class="scrollSection">
                    <div class="dottedDiv" style="position:relative;"> <!-- dont remove the style properties in dottedDiv -->
                      <div class="lt"><table cellspacing="0" cellpadding="0" border="0" class="activityImage"><tr><td width="26" height="34" valign="middle"><%=image_tag("/assets/fam_networks/fam_network_land_icon.png")%></td><td class="Title_head" valign="middle"><b><%=@fam.group_name if !@fam.nil? && @fam.present? && @fam!="" %>&nbsp;</b></td></tr></table></div>
                      <% if !@jump_to_scroll.nil? && @jump_to_scroll.present? && @jump_to_scroll.length>1 %><div class="rt" id="GotoFeatured"><div id="jump_menu" class="jumpDivMenu"><ul><li><a href="javascript:void(0);" class="jumpDiv" style="color: #4495AE;" >Jump To</a><ul class="sub-menu dispParentjumpDiv" style="margin-left:-62px;.margin-top:28px; .margin-left:-147px;"><% if !@jump_to_scroll.nil? && @jump_to_scroll.present? %><% @jump_to_scroll.each do |jval|%><%if !jval.nil? && jval.present? && jval!=''%><li><a class="test<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>" href="javascript:void(0);" onclick="jumpto('<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>');  _gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>']);" class="test<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>" ><%=jval%></a></li><%end%><%end%><%end%></ul></li></ul></div><%end%>
                      </div>
                    </div>
                    <div id="makeMeScrollablefam<%=@fam.group_id%>" style="margin-top1:6px;">
                      <div id="field" style="width: 228px;margin: 0 auto;float: none;">
                        <table cellpadding="0" cellspacing="0" style="height: 450px;" align="center"><tr><td width="228" align="center" valign="middle"><%=image_tag("/assets/ajax-loader.gif")%></td></tr></table>
                      </div>
                    </div>
                  </div>
                </div>

                <script>
                  $(document).ready(function () {
                    count<%= @fam.group_id %> = 1
                    $("#makeMeScrollablefam<%= @fam.group_id %>").smoothDivScroll({
                      mouseOverRightHotSpot: function () {
                        count<%= @fam.group_id %>+=1
                        $("#makeMeScrollablefam<%= @fam.group_id%>").smoothDivScroll("getAjaxContent", "/landing/fam_post_row?id=<%= @fam.group_id %>&page="+count<%= @fam.group_id %>, "addLast");
                      },mouseOverLeftHotSpot: function () {
                        count<%= @fam.group_id %>+=1
                        $("#makeMeScrollablefam<%= @fam.group_id %>").smoothDivScroll("getAjaxContent", "/landing/fam_post_row?id=<%= @fam.group_id %>&page="+count<%= @fam.group_id %>, "addLast");
                      },getContentOnLoad: {
                        method: "getAjaxContent",
                        content: "/landing/fam_post_row?page=1&id=<%=@fam.group_id%>",
                        manipulationMethod: "replace"
                      }
                    });
                    //~ Provider and Parent Invite and discount dollar

                  })
                </script>
                <style type="text/css" >
                  #makeMeScrollablefam<%=@fam.group_id %>{width:100%;height: auto;position: relative;.top:10px;z-index:0;.z-index:-1;}
                </style>
              <%end%>
            <%end%>
          <%end%>

          <%value_inc = 1%>
          <%!@provider_activites.nil? && @provider_activites!="" && @provider_activites.present? && @provider_activites.each do |cat|%>
            <%if !cat.nil? && cat.downcase!='default'%>
              <div id="<%=cat.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>" class="scrollSection">
                <div class="dottedDiv" style="position:relative;"> <!-- dont remove the style properties in dottedDiv -->
                  <div class="lt"><table cellspacing="0" cellpadding="0" border="0" class="activityImage"><tr><%category_values=ActivityCategory.find_by_category_name("#{cat}") if !cat.nil?%><%if !category_values.nil? && !category_values.category_file_name.nil? && !category_values.category_file_name.blank? && category_values.category.present?%><td width="26" height="34" valign="middle"><%= image_tag(category_values.category.url(:small)) if !category_values.category.nil? && category_values.category.present?%></td><% else %><td width="26" height="34" valign="middle"><%=image_tag("/assets/categories/my_created.png", :alt=>"")%></td><% end %><td class="Title_head" valign="middle"><b><%=cat if !cat.nil? && cat.present? && cat!="" %>&nbsp;</b><input id="act_list" type="hidden" value="<%=@str_act_list%>" /></td></tr></table></div>
                  <% if !@jump_to_scroll.nil? && @jump_to_scroll.present? && @jump_to_scroll.length>1 %><div class="rt" id="GotoFeatured"><div id="jump_menu" class="jumpDivMenu"><ul><li><a href="javascript:void(0);" class="jumpDiv" style="color: #4495AE;" >Jump To</a><ul class="sub-menu dispParentjumpDiv" style="margin-left:-62px;.margin-top:28px; .margin-left:-147px;"><% if !@jump_to_scroll.nil? && @jump_to_scroll.present? %><% @jump_to_scroll.each do |jval|%><%if !jval.nil? && jval.present? && jval!=''%><li><a class="test<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>" href="javascript:void(0);" onclick="jumpto('<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>');  _gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>']);" class="test<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>" ><%=jval%></a></li><%end%><%end%><%end%></ul></li></ul></div><%end%>
                  </div>
                </div>
                <div id="makeMeScrollable<%=value_inc%>" style="margin-top1:6px;">
                  <div id="field" style="width: 228px;margin: 0 auto;float: none;">
                    <table cellpadding="0" cellspacing="0" style="height: 450px;" align="center"><tr><td width="228" align="center" valign="middle"><%=image_tag("/assets/ajax-loader.gif")%></td></tr></table>
                  </div>
                </div>
              </div>
              <input id="parent_reg" type="hidden" value="<%=params[:parent_reg]%>" />
              <input id="provider_reg" type="hidden" value="<%=params[:provider_reg]%>" />
              <input id="sent_user" type="hidden" value="<%=params[:sent_user]%>" />
              <input id="sent_user_email" type="hidden" value="<%=params[:sent_user_email]%>" />
              <script>
                $(document).ready(function () {
                  $("#makeMeScrollable<%= value_inc %>").smoothDivScroll({
                    mouseOverRightHotSpot: function () {
                      $("#makeMeScrollable<%= value_inc %>").smoothDivScroll("getAjaxContent", "/landing/cat_subcategory_row?cat=<%=cat.html_safe%>", "addLast");
                    },mouseOverLeftHotSpot: function () {
                      $("#makeMeScrollable<%= value_inc %>").smoothDivScroll("getAjaxContent", "/landing/cat_subcategory_row?cat=<%=cat.html_safe%>", "addLast");
                    },getContentOnLoad: {
                      method: "getAjaxContent",
                      content: "/landing/cat_subcategory_row?page=1&cat=<%=cat.html_safe%>",
                      manipulationMethod: "replace"
                    }
                  });
                  //~ Provider and Parent Invite and discount dollars
                  var s_user = $("#sent_user").val();
                  var s_user_email = $("#sent_user_email").val();
                  var attendees_test = '<%=params[:act_type]%>'
                  var attendees_uid = '<%=params[:uid]%>'
                  var attendees_aid = '<%=params[:aid]%>'
                  if ($("#parent_reg").val() == 'true')
                  {
                    pop_Parent_Login("/parent_register?parent_reg=true&s_user_id="+s_user+"&s_user_email="+s_user_email);
                  }
                  else if ($("#provider_reg").val() == 'true')
                  {
                    pop_Parent_Login("/parent_register?provider_reg=true&s_user_id="+s_user+"&s_user_email="+s_user_email);
                  }
                  else if (attendees_test == 'attendies')
                  {
                    pop_Login("/login?uid="+attendees_uid+"&aid="+attendees_aid+"&act_type="+attendees_test);
                  }
                })

              </script>
              <style type="text/css" >
                #makeMeScrollable<%= value_inc %>{width:100%;height: auto;position: relative;.top:10px;z-index:0;.z-index:-1;}
              </style>
              <%value_inc = value_inc +1%>
            <%end%>
          <%end%>
          <% @follow_parent_user && @follow_parent_user.each do |s|%>
            <%@user = User.find_by_user_id(s)%>
            <% if !@user.nil? && @user.present? && @user!="" && !@user.user_profile.nil? && !@user.user_profile.business_name.nil?%>
              <div id="<%= @user.user_profile.business_name.downcase.gsub(/[^a-zA-Z0-9]/,"_") if !@user.nil? && @user.present? && @user!="" && !@user.user_profile.nil? && !@user.user_profile.business_name.nil? %>" class="scrollSection">
              <%else%>
                <div id="<%= @user.user_name.downcase.gsub(/[^a-zA-Z0-9]/,"_") if !@user.nil? && !@user.user_name.nil?%>" class="scrollSection">
                <%end%>
                <div class="dottedDiv" style="position:relative;"> <!-- dont remove the style properties in dottedDiv -->
                  <div class="lt"><table cellspacing="0" cellpadding="0" border="0" class="activityImage"><tr><%if !@user.nil? && @user.present? && !@user.user_profile.nil? && !@user.user_profile.user_photo.blank?%><td width="26" height="34" valign="middle"><%= image_tag @user.user_profile.user_photo.url(:thumb),:alt=>'loading...'%></td><% else %><td width="26" height="34" valign="middle"><%=image_tag("/assets/profile/user_icon.png")%></td><% end %><td class="Title_head" valign="middle"><b><% if !@user.nil? && @user.present? && @user!=""%><%=@user.user_name.capitalize if !@user.nil? && !@user.user_name.nil? && !s.nil?%><%end%></b><input id="act_list" type="hidden" value="<%=@str_act_list%>" /></td></tr></table></div>
                  <% if !@jump_to_scroll.nil? && @jump_to_scroll.present? && @jump_to_scroll.length>1 %><div class="rt" id="GotoFeatured"><div id="jump_menu" class="jumpDivMenu"><ul><li><a href="javascript:void(0);" class="jumpDiv" style="color: #4495AE;">Jump To</a><ul class="sub-menu dispParentjumpDiv" style="margin-left:-62px;.margin-top:28px; .margin-left:-147px;"><% if !@jump_to_scroll.nil? && @jump_to_scroll.present? %><% @jump_to_scroll.each do |jval|%><%if !jval.nil? && jval.present? && jval!=''%><li><a class="test<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>" href="javascript:void(0);" onclick="jumpto('<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>');  _gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>']);"><%=jval%></a></li><%end%><%end%><%end%></ul></li></ul></div></div><%end%>
                </div>
                <div id="makeMeScrollableparent<%=s%>" style="margin-top1:6px;">
                  <div id="field" style="width: 228px;margin: 0 auto;float: none;">
                    <table cellpadding="0" cellspacing="0" style="height: 450px;" align="center"><tr><td width="228" align="center" valign="middle"><%=image_tag("/assets/ajax-loader.gif")%></td></tr></table>
                  </div>
                </div>
              </div>
              <script>
                $(document).ready(function () {
                  parent_follow_row('<%=s%>');
                })
		
                window.addEventListener('popstate', function(e) {
                  provider_follow_row('<%=s%>');
                });
		  
                function parent_follow_row(s_val){
                  $("#makeMeScrollableparent"+s_val).smoothDivScroll({
                    mouseOverRightHotSpot: function () {
                      $("#makeMeScrollableparent"+s_val).smoothDivScroll("getAjaxContent", "/landing/get_parent_user?cat="+s_val, "addLast");
                    },mouseOverLeftHotSpot: function () {
                      $("#makeMeScrollableparent"+s_val).smoothDivScroll("getAjaxContent", "/landing/get_parent_user?cat="+s_val, "addLast");
                    },getContentOnLoad: {
                      method: "getAjaxContent",
                      content: "/landing/get_parent_user?page=1&cat="+s_val,
                      manipulationMethod: "replace"
                    }
                  });
                }
              </script>
              <style type="text/css" >
                #makeMeScrollableparent<%= s %>{
                  width:100%;height: auto;position: relative;.top:10px;z-index:0;.z-index:-1;
                }
              </style>
            <%end%>
            <%!@follow_provider_user.nil? && @follow_provider_user!="" && @follow_provider_user.present? && @follow_provider_user.each do |cat|%>
              <%@user = User.find_by_user_id(cat)%>

              <% if !@user.nil? && @user.present? && @user!="" && !@user.user_profile.nil? && !@user.user_profile.business_name.nil?%>

                <%if !@user.nil? && @user.present? && @user!="" && !@user.user_profile.nil? && !@user.user_profile.business_name.nil?%>
        <%#cookies[:follow_cat_val]=@user.user_profile.business_name.downcase%>

                <%end%>
                <div id="<%= @user.user_profile.business_name.downcase.gsub(/[^a-zA-Z0-9]/,"_") if !@user.nil? && @user.present? && @user!="" && !@user.user_profile.nil? && !@user.user_profile.business_name.nil? %>" class="scrollSection">
                <%else%>
                  <div id="<%= @user.user_name.downcase.gsub(/[^a-zA-Z0-9]/,"_") if !@user.nil? && !@user.user_name.nil?%>" class="scrollSection">
                  <%end%>
                  <div class="dottedDiv" style="position:relative;"> <!-- dont remove the style properties in dottedDiv -->
                    <div class="lt"><table cellspacing="0" cellpadding="0" border="0" class="activityImage"><tr><%if !@user.nil? && @user.present? && !@user.user_profile.nil? && !@user.user_profile.profile.blank?%><td width="26" height="34" valign="middle"><div style="width:21px; overflow:hidden;"><%= image_tag @user.user_profile.profile.url(:thumb),:alt=>'loading...'%></div></td><% else %><td width="26" height="34" valign="middle"><%=image_tag("/assets/profile/user_icon.png")%></td><% end %><td class="Title_head" valign="middle"><b><% if !@user.nil? && @user.present? && @user!="" && !@user.user_profile.nil? && !@user.user_profile.business_name.nil?%><%=@user.user_profile.business_name.capitalize if !@user.nil? && @user.present? && @user!="" && !@user.user_profile.nil? && !@user.user_profile.business_name.nil? %><%else%><%=@user.user_name.capitalize if !@user.nil? && !@user.user_name.nil? && !s.nil?%><%end%>&nbsp;</b><input id="act_list" type="hidden" value="<%=@str_act_list%>" /></td></tr></table></div>
                    <% if !@jump_to_scroll.nil? && @jump_to_scroll.present? && @jump_to_scroll.length>1 %><div class="rt" id="GotoFeatured"><div id="jump_menu" class="jumpDivMenu"><ul><li><a href="javascript:void(0);" class="jumpDiv" style="color: #4495AE;">Jump To</a><ul class="sub-menu dispParentjumpDiv" style="margin-left:-62px;.margin-top:28px; .margin-left:-147px;"><% if !@jump_to_scroll.nil? && @jump_to_scroll.present? %><% @jump_to_scroll.each do |jval|%><%if !jval.nil? && jval.present? && jval!=''%><li><a class="test<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>" href="javascript:void(0);" onclick="jumpto('<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>');  _gaq.push(['_trackEvent', 'Parent Module', 'clickActivities','<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>']);"><%=jval%></a></li><%end%><%end%><%end%></ul></li></ul></div></div><%end%>
                  </div>
                  <div id="makeMeScrollableprovider<%=cat%>" style="margin-top1:6px;">
                    <div id="field" style="width: 228px;margin: 0 auto;float: none;">
                      <table cellpadding="0" cellspacing="0" style="height: 450px;" align="center"><tr><td width="228" align="center" valign="middle"><%=image_tag("/assets/ajax-loader.gif")%></td></tr></table>
                    </div>
                  </div>
                </div>
                <script>
                  processing_follow_row = false;
                  $(document).ready(function () {
                    provider_follow_row('<%=cat%>');
                  });
		      
                  window.addEventListener('popstate', function(e) {
                    processing_follow_row = false;
                    provider_follow_row('<%=cat%>');
                  });
		    
                  function provider_follow_row(cat_id){
                    var cat_id = parseInt(cat_id);
                    var foll_count ='follow_count'+cat_id;
                    foll_count=1;
                    $("#makeMeScrollableprovider"+cat_id).smoothDivScroll({
                      mouseOverRightHotSpot: function () {
                        if (processing_follow_row)
                        {
                          return false;
                        }
                        else{
                          foll_count+=1;
                          processing_follow_row=true;
                          $("#makeMeScrollableprovider"+cat_id).smoothDivScroll("getAjaxContent", "/landing/get_provider_user?cat="+cat_id+"&page="+foll_count, "addLast");
                        }
                      },mouseOverLeftHotSpot: function () {
                        if (processing_follow_row)
                        {
                          return false;
                        }
                        else{
                          foll_count+=1;
                          processing_follow_row=true;
                          $("#makeMeScrollableprovider"+cat_id).smoothDivScroll("getAjaxContent", "/landing/get_provider_user?cat="+cat_id+"&page="+foll_count, "addLast");
                        }
                      },getContentOnLoad: {
                        method: "getAjaxContent",
                        content: "/landing/get_provider_user?page=1&cat="+cat_id,
                        manipulationMethod: "replace"
                      }
                    });
                  }
		    
                </script>
                <style type="text/css">
                  #makeMeScrollableprovider<%= cat %>{
                    width:100%;height: auto;position: relative;.top:10px;z-index:0;.z-index:-1;
                  }
                </style>
              <%end%>
            </div>
          </div>
          <div id="popup_container" style="top: 20px !important;">      </div>
        </div>

        <% if !current_user.nil? %>
          <div class="dottedDiv" style="padding-bottom: 30px;margin: 12px 0 5px;"> <!-- dont remove the style properties in dottedDiv -->
            <div align="center" width="100%"><table cellspacing="0" cellpadding="0" border="0" class="activityImage" style="position: relative;padding: 0px 10px;"><tbody><tr><td><%=image_tag("/assets/header/following_img_blue.png")%></td><td align="center"  class="Title_head">&nbsp;&nbsp;&nbsp;<a title="" href="javascript:void(0)" style="color: #5099AC; display: inline-block;float: left;" onclick="show_follow(); _gaq.push(['_trackEvent', 'Follow', 'clickFollowMoreFeeds']);"><b><u>Click here to Follow more Feeds</u></b></a></td></tr></tbody></table></div>
          </div>
        <% end %>
<div style="background-color:#fff; border:1px solid #d4d4d4; padding:20px 10px 20px 10px; margin:0 10px 0 10px; font-family:Arial, Helvetica, sans-serif;" align="center">
    	<span style="color:#6199b4; font-size:42px;">About Us</span>
        <br /><br />
	<%=image_tag("/assets/landing/famtivity_network.png", :width=>"599", :height=>"155", :alt=>"Famtivity")%><br /><br />
        <span style="color:#555555; font-size:22px; line-height:32px;">Famtivity is a social network for parents to find, share, buy and organize their kids' activities. Our provider directory includes special discounts on local kids' classes, lessons, camps, activities and events for all ages. We help simplify life while giving parents tools for their children's growth and development.</span>
    </div>

      <%elsif params[:city_v] && params[:city_v]!=''%><!--following else condition-->

        <div class="clear"></div>

      <%end%><!--following else condition-->

      <!--City alphabet search--->
      <div class="cityvalueDisplay" id="cityvalueDisplay"> </div>
      <!-- login feature popup start -->
      <div id="login_use_feature">
        <div class="content_popup" style="display:block;"><br>You need to login to use this feature.<br><br>
          <span class="b-close" id="loginFeature"><a href="javascript:void(0)" title=""><%=image_tag("/assets/register/ok_btn.png", :width=>"99", :height=>"38", :style=>"border:0px;")%></a></span>
        </div>
      </div><!-- login feature popup end -->
      <div id="login_use_feature_without" class="bMulti" style="min-height: inherit;">
        <div class="content_popup fts18" style="display:block;">Feeds will not be saved unless you login.<br><br>
          <a href="javascript:void(0);" title="" style="position: inherit;" onclick="show_pop_up(30); pop_Parent_Login('/parent_register'); _gaq.push(['_trackEvent', 'Registration', 'clickParentRegistration'])"><span class="b-close"><%=image_tag("/assets/landing/sign_up_button.png", :border=>"0")%></span></a>
          <a href="javascript:void(0)" title="" style="position: inherit;"><span class="b-close" id="loginFeature1"><%=image_tag("/assets/landing/okay_button.png")%></span> </a>
        </div>
      </div><!-- login feature popup end -->
      <%if (!current_user.nil? && current_user.sign_in_count==1 && cookies[:first_import].nil?)%>
        <%if !current_user.fb_id.nil? %>
          <%=render :partial => 'fb_discount_offer'%>
        <%end%>
      <%end%>
      <!-- GUEST POPUP-->
      <%=render :partial => 'guest_feature'%>
      <!-- GUEST POPUP-->

      <script>
        //show following button in bottom link
        function show_follow()
        {
          $(".selectedCity23244").show();
          $('#top_menu ul li ul, #top_menu ul li ul li').css("display","block");
        }
        function login_feature_follow()
        {
          $('#login_use_feature_without').bPopup({
            fadeSpeed:100,
            followSpeed:100,
            opacity:0.8,
            positionStyle: 'absolute',
            modalClose: false
          },function(){
            $( "#loginFeature1" ).click(function(){
              pop_Login('/login?act='+act+'&activity_id='+actid);
            });
          });
        }
        //login feature bpopup displayed
        function login_feature(sav,actid)
        {
          var act=sav;
          if (typeof(actid) == 'undefined' || actid == null)
          {
            var activity_id=act;
          }
          else
          {
            var activity_id=actid;
          }
	
          $('#login_use_feature').bPopup({
            fadeSpeed:100,
            followSpeed:100,
            opacity:0.8,
            positionStyle: 'absolute',
            modalClose: false
          },function(){
            $( "#loginFeature" ).click(function(){
              pop_Login('/login?act='+act+'&activity_id='+activity_id);
            });
          });
        }
        function login_feature_detail(act)
        {
          var activity_id=act;
          $('#login_use_feature').bPopup({
            fadeSpeed:100,
            followSpeed:100,
            opacity:0.8,
            positionStyle: 'absolute',
            modalClose: false
          },function(){
            $( "#loginFeature" ).click(function(){
              pop_Login('/login?activity_id='+activity_id);
            });
          });
        }
        var array_fav = new Array();
        var remove_fav = new Array();
        var fam_net_add_fav = new Array();
        var fam_net_remove_fav = new Array();
        var parent_add_fav = new Array();
        var parent_remove_fav = new Array();
        var provider_add_fav = new Array();
        var provider_remove_fav = new Array();
        var follow_add_fav = new Array();
        var follow_remove_fav = new Array();
        var followuser_add_fav = new Array();
        var followuser_remove_fav = new Array();

        function modifyText_ev(testVal){
          if($("#subCat_"+testVal+" input").is(":checked")){
            $(".add_favorite").css("display","block");
            favorite_item = $("#subCat_"+testVal+" input").val();
            array_fav.push(favorite_item);
            $('#fav_val').val(array_fav);
          }
          else{
            var remove_item = $("#subCat_"+testVal+" input").val();
            var index = array_fav.indexOf(remove_item);
            array_fav.splice(index, 1);
            $('#fav_val').val(array_fav);
            if (remove_fav.indexOf(remove_item) == -1){
              remove_fav.push(remove_item);
              $('#rem_fav_val').val(remove_fav);
            }
          }
        }
        function add_favorite(){
          var cat_add_row = $('#fav_val').val();
          var cat_rem_row = $('#rem_fav_val').val();
          var catsub_add_row = $('#providercatadd_val').val();
          var catsub_rem_row = $('#providercatremove_val').val();
          var provider_add_row = $('#provideradd_val').val();
          var provider_rem_row = $('#providerremove_val').val();
          var parent_add_row = $('#parentadd_val').val();
          var parent_rem_row = $('#parentremove_val').val();
          var follow_add_row = $('#followadd_val').val();
          var follow_rem_row = $('#followremove_val').val();
          var follow_you_add_row = $('#followuseradd_val').val();
          var follow_you_rem_row = $('#followuserremove_val').val();
          var fam_net_add_row = $("#fam_net_val").val();
          var fam_net_rem_row = $("#rem_fam_net_val").val();
          $.ajax({
            url:'/activity_subcategories/update_follow_row',
            type:"get",
            data: {"fam_net_add_row":fam_net_add_row,"fam_net_rem_row":fam_net_rem_row,"catsub_add_row":catsub_add_row,"catsub_rem_row":catsub_rem_row,"cat_add_row":cat_add_row,"cat_remove_row":cat_rem_row,"provider_add_row":provider_add_row,"provider_rem_row":provider_rem_row,"parent_add_row":parent_add_row,"parent_rem_row":parent_rem_row,"follow_add_row":follow_add_row,"follow_rem_row":follow_rem_row,"follow_you_add_row":follow_you_add_row,"follow_you_rem_row":follow_you_rem_row},
            success:function(data){
            }
          });
        }
        document.getElementById('eventListContainer').display='block';
      </script>
      <script type="text/javascript">
        processing_feature = false;

        function show_pop_up(exdays){
          var exdate=new Date();
          exdate.setDate(exdate.getDate() + exdays);
          var c_value=escape(1) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
          document.cookie="show_again=" + c_value;
          if(window.sessionStorage==undefined)
          {
          }
          else{
            sessionStorage.setItem("mySplashPage", "opened");
          }
        }
  
      </script>
      <style type="text/css" id="page-css">/* Styles specific to this particular page */
        #banner_location_2  option{padding: 2px 8px;}
        #banner_location_first option{padding: 2px 8px;}
        /*.autocomplete-suggestions { top:154px;}*/
      </style>
      <script type="text/javascript">
        function macfix(){
          var ua=navigator.userAgent;
          if(ua.indexOf("Mac")!=-1)
          {
            if(ua.indexOf("Firefox")!=-1){
              $('#marginLeftMac').css('border','1px solid red');
              $('#marginLeftMac').css('position','relative');
              $('#marginLeftMac').css('top','0px');
            }
            if(ua.indexOf("Safari")!=-1){
              $('.center_bg_scroll').css('height','538px');
            }
          }
        }
        macfix();
  $(window).load(function () {
    <%if !cookies[:follow_cat_val].nil? && cookies[:follow_cat_val]!=""%>
          <%jval=cookies[:follow_cat_val]%>
          jumpto('<%=jval.downcase.gsub(/[^a-zA-Z0-9]/,"_")%>');
          <%=cookies[:follow_cat_val]=""%>
          <%=jval=""%>
    <%else%>
          $(window).load(function () {
            window.scrollBy(0,0);
          });
    <%end%>

<% if !current_user.nil? && !params[:invite_friend].nil? && params[:invite_friend]=="friend" %>
   pop_invite_friend_check('/invite_friend_famtivity?check_invite=contact_import&fam_last=/');
<%elsif (!current_user.nil? && current_user.sign_in_count==1 && cookies[:first_import].nil?)%>
  <%if current_user.fb_id.nil? %>
        pop_invite_friend_check('/invite_friend_famtivity?check_invite=contact_import&fam_last=/');
  <%end%>
  <%if ((!params[:dect].nil? && params[:dect] !="")||(!cookies[:fam_invited_user].nil? && cookies[:fam_invited_user] !="") || (params[:gst_activate] && !params[:gst_activate].nil?))%>
        setTimeout(function(){
    <%if !params[:dect].nil? && params[:dect] !=""%>
            $(".flash-message").html("Success!  Youre now part of the Family Activity Network!");
    <%elsif !cookies[:fam_invited_user].nil? && cookies[:fam_invited_user] !=""%>
            $(".flash-message").html("You are now friends with <%=cookies[:fam_invited_user]%>");
    <%elsif params[:gst_activate] && !params[:gst_activate].nil? && params[:gst_activate]=='true'%>
            $(".flash-message").html("Great, your account has been activated! <br/>Please follow these steps to help us know more about you.");
            $(".flash-message").css({"text-align":"center","width":"500px"});
    <%end%>
          var win=$(window).width();
          var con=$(".flash_content").width();
          var leftvalue=((win/2)-(con/2))
          $(".flash_content").css("left",leftvalue+"px");
          $(".flash_content").css("top","9%");
          $('.flash_content').fadeIn().delay(20000).fadeOut();
        },7000);
  <%end%>
  <%cookies[:first_import]='1'%>
<%end%>
		
  });

  //city submit values
  function city_submit(e)
  {
    var aa= $('#city_v').val(e);
    document.forms['city_select_val'].submit();
<%= cookies[:past_action]=nil%>
  }
      </script>
