<!-- Track Attend Event for invite and message-->
<script type="text/javascript">
  $(document).ready(function() {
    var check_attend = "<%= params[:attend_track]%>";
    var msg_track = "<%= params[:msg_invite]%>"
    var view_more_track ="<%= params[:view_more]%>"
    if(check_attend == "true")
    {
      _gaq.push(['_trackEvent', 'Parent Module', 'clickAttendActivity','Accept']);
    }
    if(msg_track =="true")
    {
    _gaq.push(['_trackEvent', 'Parent Module', 'clickMessageInvite','Join Famtivity Now']);
    } 
    if(view_more_track =="true")
    {
    _gaq.push(['_trackEvent', 'Parent Module', 'clickMessage','View More']);
    }
     macos_fixes();
   

  });
  
 		

	 function macos_fixes(){		

	 var ua=navigator.userAgent;
          if(ua.indexOf("Mac")!=-1)
          {
	    if(($.browser.safari)||($.browser.chrome)){
	       $('.search_bar_login').css('margin-top','-59px');
	    }
	  }
	  else{
	    if($.browser.safari){
	       $('.search_bar_login').css('margin-top','-59px');
	    }
	  }
	}
  
</script>
<%=stylesheet_link_tag "activity_view_detail/paymentDetail", :media => "all"%>
<%=javascript_include_tag "scroller/jquery-ui-1.8.23.custom.min","scroller/jquery.mousewheel.min","scroller/jquery.smoothdivscroll-1.3-min","acitivity_view_details/schedule_price"%>

<div class="clear"></div>
<style>
  .bS_menus
  {
    font-size: 12px !important;
  }
</style>

<div id="eventListContainer" class="eventListContainer" style="<% if !current_user.nil?%>margin-top:62px;<% else%>margin-top:80px;<%end%> margin-bottom: 36px;"><!-- Start Default Activities List --><!-- Top Banner Slide Start-->
	<div class="setouterstyle"><!--slider start-->    

			<%= render :partial =>"common/top_banner" %>


	    <!--////////////////////////////////Start new search  ////////////////////////////////////////////-->
	    <input type="hidden" id="provider_list_count" value="<%= cookies[:provider_count].blank? ? 1 : cookies[:provider_count]%>" />
	    <div id="basic_Search" style="left: 0;position: absolute;right: 0;top: 260px;">
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		  <td width="27%"></td>
		  <td width="46%" align="center">
			<%@user_agent = request.env['HTTP_USER_AGENT']%>
		    <div class="search_bar_outer <%if !current_user.nil?%>search_bar_login<%end%>" style="<%if !current_user.nil?%>margin-top: -40px;<%else%>margin-top: 8px;<%end%>">
		      <form id="advanced_search_update" action="/search" name="advanced_search_update" method="get">

			<div id="search_outer" align="center">
			  <div id="bS_outer" style="width:auto;">
			    <div id="category" class="bS_menus">Category
			      <div class="drop_dwon" id="adv_category_detail">
				<div style="height:275px; width:529px; overflow-y:scroll;overflow-x:hidden;">
				  <%sub=1%>
				  <input type="hidden" id="ad_sub_category_1" name="ad_sub_category_1" value=""/>
				  <input type="hidden" id="ad_sub_category_id_1" name="ad_sub_category_id" value=""/>
				  <%@accordion && @accordion.each do |s|%>
				    <%if !s.category.nil? && !s.nil? && s.category!=""%>
				      <div class="Adv_categoryText"><%=s.category.capitalize if !s.category.nil?%></div>
				    <%end%>
				    <div class="clear"></div>
				    <%@ac_sub = Activity.find(:all,:conditions=>["lower(category) = ?",s.category.downcase],:select =>"DISTINCT lower(trim(sub_category)) as sub_category").uniq if !s.nil? && !s.category.nil?%>
				    <%if @ac_sub.present? && @ac_sub!="" && !@ac_sub.nil?%>
				      <div class="Adv_CategoryStyle">
					<%@ac_sub.each do |st|%>
					  <%if !st.sub_category.nil? && !st.nil? && st.sub_category!=""%>
					    <div class="Adv_sub_category"><span><input type="checkbox" name="ad_cate_<%=sub%>" id="ad_cate_<%=sub%>" value="" class="checkbox" onClick="get_subCat_id('<%=sub%>','<%=  st.sub_category.capitalize if !st.sub_category.nil? && !st.nil? && st.sub_category!=""%>')"></span><span class="inner_text"><%=  st.sub_category.capitalize if !st.sub_category.nil? && !st.nil? && st.sub_category!=""%></span></div>
					    <%sub=sub+1%>
					  <%end%>
					<%end%>
				      </div>
				    <%end%>
				  <%end%>
				</div>
			      </div>
			    </div>
			    <div id="age_range" class="bS_menus">Age Range
			      <div class="drop_dwon" id="range_age">
				<table width="270" border="0" align="left" cellpadding="0" cellspacing="0">
				  <tr>
				    <td width="86"  align="left" valign="top">
				      <input type="hidden" value="" id="age_range7"/>
				      <input type="hidden" value="" id="age_all"/>
				      <input type="hidden" value="" id="age_r1"/>
				      <input type="hidden" value="" id="age_r4"/>
				      <input type="hidden" value="" id="age_r8"/>
				      <span><input type="checkbox" name="aa_all" value="a_all" id="aa_all" class="checkbox" onClick="daterange_all_changes1()"/></span><span class="inner_text">All</span>
				    </td>
				  </tr>
				  <td width="88"  align="left" valign="top">
				    <span><input type="checkbox" name="aa_r1" value="0-3" id="aa_r1" class="checkbox1" onClick="date_range_changes1(1,this.value)"/></span><span class="inner_text">0 - 3</span>
				  </td>
				  <tr>
				    <td width="96"  align="left" valign="top">
				      <span><input type="checkbox" name="aa_r4" value="4-7" id="aa_r4" class="checkbox1" onClick="date_range_changes1(4,this.value)"/></span><span class="inner_text">4 - 7</span>
				    </td>
				  </tr>
				  <tr>
				    <td  align="left" valign="top">
				      <span><input type="checkbox" name="aa_r8" value="8-15" id="aa_r8" class="checkbox1" onClick="date_range_changes1(8,this.value)"/></span><span class="inner_text">8 +</span>
				    </td>
				  </tr>
				</table>
			      </div>
			    </div>
			    <div id="start_D"class="bS_menus">
			      <span id="start_dates_formate">Start Date</span><input type="hidden" name="start_dates" id="start_dates" value="" />
			      <div class="drop_dwon  " id="date_start" >
			      </div>
			    </div>
			    <div id="end_D" class="bS_menus">
			      <span id="end_dates_formate">End Date</span><input type="hidden" name="end_dates" id="end_dates" value="" />
			      <div class="drop_dwon  " id="date_end" >
			      </div>
			    </div>
			    <div  id="day_W"class="bS_menus">Day of Week
			      <div class="drop_dwon" id="d_week">
				<input type="hidden" name="age_rangera" id="age_rangera" value=""/>
				<table cellpadding="0" cellspacing="0" border="0" width="270">
				  <tr>
				    <td width="83"  align="left" valign="top">
				      <span><input type="checkbox" name="day_of_week_1" value="Mon" id="day_of_week_1" class="checkbox2" onClick="price_range_changes()"/></span><span class="inner_text">Monday</span>
				    </td>
				  </tr>
				  <tr>
				    <td width="74"  align="left" valign="top">
				      <span><input type="checkbox" name="day_of_week_2" value="Tue" id="day_of_week_2" class="checkbox2" onClick="date_range_changes()"/></span><span class="inner_text">Tuesday</span>
				    </td>
				  </tr>
				  <tr>
				    <td width="113"  align="left" valign="top">
				      <span><input type="checkbox" name="day_of_week_3" value="Wed" id="day_of_week_3" class="checkbox2" onClick="date_range_changes()"/></span><span class="inner_text">Wednesday</span>
				    </td>
				  </tr>
				  <tr>
				    <td  align="left" valign="top">
				      <span><input type="checkbox" name="day_of_week_4" value="Thu" id="day_of_week_4" class="checkbox2" onClick="date_range_changes()"/></span><span class="inner_text">Thursday</span>
				    </td>
				  </tr>
				  <tr>
				    <td  align="left" valign="top">
				      <span><input type="checkbox" name="day_of_week_5" value="Fri" id="day_of_week_5" class="checkbox2" onClick="date_range_changes()"/></span><span class="inner_text">Friday</span>
				    </td>
				  </tr>
				  <tr>
				    <td  align="left" valign="top">
				      <span><input type="checkbox" name="day_of_week_6" value="Sat" id="day_of_week_6" class="checkbox2" onClick="date_range_changes()"/></span><span class="inner_text">Saturday</span>
				    </td>
				  </tr>
				  <tr>
				    <td  align="left" valign="top">
				      <span><input type="checkbox" name="day_of_week_7" value="Sun" id="day_of_week_7" class="checkbox2" onClick="date_range_changes()"/></span><span class="inner_text">Sunday</span>
				    </td>
				  </tr>
				</table>
			      </div>
			    </div>
			    <div id="gend_r" class="bS_menus">Gender
			      <div class="drop_dwon" id="gender">
				<table border="0" cellpadding="0" cellspacing="0" width="129">
				  <tr><td  align="left" valign="top">
				      <span><input type="radio" name="gender" id="sex" value="g_all" class="checkbox"/></span><span class="inner_text">Both</span>
				    </td></tr>
				  <tr><td  align="left" valign="top">
				      <span><input type="radio" name="gender" id="sex" value="Male" class="checkbox"/></span><span class="inner_text">Male</span>
				    </td></tr>
				  <tr><td  align="left" valign="top">
				      <span><input type="radio" name="gender" id="sex" value="Female" class="checkbox"/></span><span class="inner_text">Female</span>
				    </td></tr>
				</table>
			      </div>
			    </div>
			    <!--<div class="bS_menu" id="zip_code">
					      <!--<span id="zip_enter">Enter Zip Code</span>--<span id="zip_value" style="display: inline-block;"> <input type="text" id="zip_values" value="Enter Zip Code" name="zip_value_name" size="15"  onKeyPress="return number(event);" style = "color:#999999;"></span>&nbsp;(or)
					    </div>-->
			    <input type="hidden" id="city_search" value="" name="city_search_ra"/>


			    <!--<div class="bS_menus" id="city_choose">
					      <span id="selectedCity">Choose City</span>
					      <div class="drop_dwon" id="chose_city">
						<div style="width:500px;"><% @fam_city = City.order(:city_name)%><% if !@fam_city.nil? && @fam_city!="" && @fam_city.present? %><%@ci = 1 %><%@fam_city.each do |cit|%><div class="cityText" onclick="city_search('<%=cit.city_name%>')"><%=cit.city_name%></div><%@ci = @ci+1 %><%end%><%end%></div>
					      </div>
					    </div> -->

			    <div id="Price"class="bS_menus">Price
			      <input type="hidden" name="age_range71_8"  id="age_range71_8" value=""/>
			      <div class="drop_dwon" id="chose_price">
				<table border="0" cellpadding="0" cellspacing="0" width="129">
				  <tr><td  align="left" valign="top">
				      <input type="hidden" value="" id="price_range"/>
				      <span><input type="checkbox" name="p_all" value="p_all" id="price_all" class="checkbox" onClick="price_all_changes()"/></span><span class="inner_text">All</span>
				    </td></tr>
				  <tr><td  align="left" valign="top">
				      <span><input type="checkbox" name="a_f" value="free" id="price_free" class="checkbox3" onClick="price_range_changes()"/></span><span class="inner_text">Free</span>
				    </td></tr>
				  <tr><td  align="left" valign="top">
				      <span><input type="checkbox" name="paid" value="paid" id="price_paid" class="checkbox3" onClick="price_range_changes()"/></span><span class="inner_text">Paid</span>
				    </td></tr>
				</table>
			      </div>
			    </div>
			    <!--div class="bS_menu"  id="city_chooses">
						    <!--<input type="text" id="zip_values" name="zip_value_name" class="textbox" value="Enter city (or) Zip code">--					    
						     <input type="text" id="zip_values" name="zip_value_name" class="textbox" value="Enter city (or) Zip code" onKeyPress="content_checking('zip');">
					    </div-->

			    <div id="submit"class="bS_menu" style="padding: 3px;">
			      <input type="button" name="search" id="search_button" value="search" onClick="advance_search_navigate()" />
			    </div>
			  </div>
			</div>
		      </form>


		      <div class="clear"></div>
		    </div>
		  </td>
		  <td width="28%"></td>
		</tr>
	      </table>

	    </div>
	    <br><br>
	<div class="dynamicLetdiv">Browse Your Locations: 
		<% ('A'..'Z').each do |alpha| %>
			<a href="javascript:void(0);" style="<%=(params[:data] && params[:data]==alpha) ? "color: #2B91AF;" : ""%>" title=""><%=alpha%></a>
		<%end%>    
	</div>
      

<script type="text/javascript">
  var city_values = new Array();
<% @fam_city.each do |autocomplete| %>
    city_values.push({"value": "<%= autocomplete.city_name%>","data": "<%= autocomplete.city_id%>"});
<%end%>

  $("#zip_values").autocomplete({
    paramName: 'city',
    minLength: 1,
    lookup: city_values,
    appendTo: $("#zip_values_autocomplete"),
    onSelect: function(suggestion)
    {
      this.value = suggestion.value;
      $("#city_search").val(suggestion.value);
      var expires = new Date();
      expires = new Date(new Date().getTime() + parseInt(expires) * 1000 * 60 * 60 * 24);
 
      document.cookie = "search_city="+suggestion.value+ ";expires="+expires.toGMTString();
      //$.cookie("search_city", suggestion.value);
      $('#zip_values').hide();
      $("#mouseover_effect").hide();
      $("#search_value").focus();
      $('.dynamic_cities').show();
      var select_new_city=suggestion.value;
      var new_city=(select_new_city.length<12)?select_new_city:(select_new_city.substring(0,9))+'...';
      $('.dynamic_cities').text(new_city);
      //window.location.href = "/search_event_index";
    }
  });

</script>
	</div>
</div>