<%= stylesheet_link_tag "landing/how_it_works.css" %>
<%= stylesheet_link_tag "contacts_users/contact_user.css" %>
<%= stylesheet_link_tag "global/pop_up.css" %>
<%= javascript_include_tag "contacts_users/contact_user.js" %>
<script language="javascript">
  function closepopup() {
    parent.discoverpopupPage.hide();
  }
</script>


<div id="contact_container">
  <div class="popupContainer" style="width:896px;">
    <div class="popupContainerTop"></div>
    <div class="popupContainerCenter">
      <div class="innerContainer">
        <div class="headTab">
          <div class="heading">
            <div class="headCont">Posting and Promoting your activities is Easy!</div>
          </div>
          <div class="closeButton">
            <a href="javascript:void(0)" onClick="closepopup()" title=""> <%= image_tag("/assets/global/pop_up/button_close.png",:width=>"15",:height=>"15") %></a>
          </div>
        </div>
        <div class="centerCont contactNew">
          <p class="top_all_text" align="center" style="font-size: 16px;">All you have to do is...</p>
          <div class="setTopLeftDiscover">
            <span class="lt dot" id="dot_menuText">&bull;</span>
            <span class="lt register_famtivity">Register as a provider on famtivity</span>
          </div>
          <div class="clear"></div>
          <div align="center" class="service_discover_div">
            <%= image_tag("/assets/how_it_works/service_register.png",:width=>"607",:height=>"308") %>
            <div style="height:20px;"></div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>


          <div class="setTopLeftDiscover" style=" margin: 10px 0 0 103px;">
            <span class="lt dot" id="dot_menuText">&bull;</span>
            <span class="lt register_famtivity">import via.CSV file</span>
          </div>
          <div class="clear"></div>
          <div align="center" class="service_discover_div">
            <%= image_tag("/assets/how_it_works/service_discover_more_file.png") %>
            <div style="height:20px;"></div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>

          <div class="setTopLeftDiscover" style=" margin: 10px 0 0 103px;">
            <span class="lt dot" id="dot_menuText">&bull;</span>
            <span class="lt register_famtivity">or add your activities and pricing through an easy form</span>
          </div>
          <div class="clear"></div>
          <div align="center" class="service_discover_div" style="border-bottom:none">
            <%= image_tag("/assets/how_it_works/service_discover_create_activity.png",:width=>"607",:height=>"308") %>
            <div style="height:30px;"></div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="popupContainerBottom"></div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

</div>


