<form name="provider_discount_list" id="provider_discount_list">
  <input type="hidden" id="actid_chk" name="actid_chk" value="" />
  <input type="hidden" id="page" name="page" value="1" />
  <div id="providerEventList">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td align="left" width="25%" class="headText setPadLt">Discount Type</td>
        <td align="left" width="11%" class="headText">Quantity Field</td>
        <td align="left" width="12%" class="headText">Valid Date</td>
        <td align="left" width="12%" class="headText">Discount Price</td>
        <td align="left" width="25%" class="headText">Notes</td>
        <td align="left" width="10%" class="headText">Action</td>
      </tr>
      <%i = 0%>
      <%if @protot && @protot > 0%>
        <%@pro_fees.each do |pr|%>
          <%i = i + 1%>
          <%#if i.even? %>
            <tr class="setBg1" id="disc-act-<%=pr.provider_discount_type_id%>">
            <%#else%>
            <!-- <tr class="setBg2" id="disc-act-<%=pr.provider_discount_type_id%>"> -->
            <%#end%>
	    
	    <%dotted_class=(i==@protot) ? "contentBorderNone" : "contentText"%> 
	    
            <td align="left" class="<%=dotted_class%> setPadLt activityName">
              <!--input type="checkbox" value="violin" name="pe1" id="pe1" style="position: absolute; left: -1000px;" />
              <span onclick="getchk_discount('<%#=pr.provider_discount_type_id%>&;page=1',this)" class="checkboxImg" id="chk_span"><label id="lbl_<%#=pr.provider_discount_type_id%>" class="altCheckboxOff">&nbsp;</label></span-->
	    <span onclick="getchk_discount();" class="squaredFour get_chkbx" >
	    <input type="checkbox" value="violin" name="pe_<%=pr.provider_discount_type_id%>" id="pe_<%=pr.provider_discount_type_id%>" style="position: absolute; left: -1000px;" />
	    <label id="lbl_<%=pr.provider_discount_type_id%>" for="pe_<%=pr.provider_discount_type_id%>">&nbsp;</label>
	    </span>
              <span onclick="" title="testativity" class="blueText checkboxText"><%=pr.discount_name%></span>
            </td>
	    
            <td align="left" class="<%=dotted_class%>"><% if pr.quantity == true %><span class="yes_bg"></span><%else%>-<%end%></td>
            <td align="left" class="<%=dotted_class%>"><%if pr.valid_date == true%><span class="yes_bg"></span><%else%>-<%end%></td>
            <td align="left" class="<%=dotted_class%>"><span class="yes_bg"></span></td>
            <td align="left" class="<%=dotted_class%> "><% if !pr.note.nil? && pr.note!="" %><%= pr.note %><%else%>-<%end%></td>
            <td align="right" class="<%=dotted_class%>">
              <a class="lt edit_bg" onclick="edit_provider_discount_type('<%= pr.provider_discount_type_id %>')" title="Edit discount" href="javascript:void(0)"></a>
              <a class="lt delete_bg" onclick="before_delete('<%=pr.provider_discount_type_id if !pr.provider_discount_type_id.nil?%>&page=<% if !params[:page].nil? && params[:page].present? %><%=params[:page]%><%else%>1<%end%>');" title="Delete discount" href="javascript:void(0)"></a>
            </td> 

          </tr>
        <%end%>
      <%else%>

        <!-- no records -->
        <tr>
          <td colspan="6" class="no_activities" style="text-align:center;height: 500px;">
            No records
          </td>
        </tr>
      <%end%>


      <!--  if search, no results found -->
      <tr>
        <td colspan="6" class="no_activities" style="text-align:center;height: 500px;display:none;">
				Sorry we found no results for your search.
        </td>
      </tr>
    </table>
  </div>
</form>

	<div class="clear"></div>
	<div class="pro_pagination" style=" margin: 7px 0 80px;">
	<%= will_paginate @pro_fees  if ! @pro_fees.nil? &&  @pro_fees!='' &&  @pro_fees.present?%>
	</div>