<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Famtivity - Weekend Newsletter</title>
</head>

<body>
<div style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#6A6A6A; background-color:#FBFBFB;border:1px solid #eaeaea;"> 
   	<table cellpadding="0" cellspacing="0" border="0" width="100%">
    	<tr bgcolor="#DBEEF4">
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td align="right" valign="middle">&nbsp;</td>
    	  <td align="right" valign="middle">&nbsp;</td>
  	  </tr>
    	<tr bgcolor="#DBEEF4">
    	  <td width="1%" align="left" valign="top">&nbsp;</td>
    	  <td width="61%" align="left" valign="top" colspan="2">
          	<div style="float:left;width:100%;"  align="left" valign="middle">
			<div style="float:left;">
				<a href="http://www.famtivity.com" title='Famtivity' target="_blank"><img src="<%= $image_global_path %>assets/newsletter/fam_logo.png" alt="Famtivity" height="69" width="200"  border="0" /></a>
			</div>
			<div style="float:right;" align="left" valign="middle">
				<table border="0" cellpadding="0" cellspacing="0" height="69">
					<tr>
					<td align="left" valign="middle"><img src="<%= $image_global_path %>assets/newsletter/share_icon-_image.png" alt="" height="24" width="24" border="0" /></td>
					<td align="left" valign="middle"><span style="color:#77B2CC;">
					<a href="http://www.campaignonthecloud.com/Forwardmail.aspx?dbname=famtivity&newsletterid=infoupdate_aweek_id&subject=The_Latest_Resources,_Weekend_Activities&SenderEmail=Mailclass" target="_blank" title="" style="color:#77B2CC; text-decoration:none;">
					Share with Friends</a></span></td>
				    </tr>
				 </table>
			</div>
		</div>
             </td>
    	  
    	  <td width="1%" align="right" valign="middle">&nbsp;</td>
      </tr>
    	<tr bgcolor="#DBEEF4">
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td align="right" valign="middle">&nbsp;</td>
    	  <td align="right" valign="middle">&nbsp;</td>
  	  </tr>
    	<tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td align="left" valign="middle"><label id="divcustomnamefielder" style="font-family:Arial;font-size:20px;color:#3d8ea3;font-weight:normal;"></label></td>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td align="left" valign="top">&nbsp;</td>
      </tr>
    	<tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td height="24" colspan="2" align="left" valign="middle">
          <span style="font-size:14px;">Here's your weekly <b>Grow Together newsletter</b> with awesome resources, weekend activities and provider specials.</span><br /><br />
          </td>
    	  <td align="left" valign="top">&nbsp;</td>
  	  </tr>
    	<tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td height="24" colspan="2" align="left" valign="middle">
         <span style="font-size:14px;"><a href="http://www.famtivity.com/invite-friend/login" target="_blank" style="color: #4495ae; text-decoration: none;">Invite friends</a> to join Famtivity and get <span style="color:red;">$1</span> credit for each that signs up!<br /><br /></span>
          </td>
    	  <td align="left" valign="top">&nbsp;</td>
  	  </tr>
    	<tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td height="24" colspan="2" align="left" valign="middle">
          <span style="font-size:14px;">Create private "<a href="http://www.famtivity.com/invite-famnetwork/login" target="_blank" style="color: #4495ae; text-decoration: none;">text message social networks</a>" to coordinate activities and share with friends!<br /><br /></span>
          </td>
    	  <td align="left" valign="top">&nbsp;</td>
  	  </tr>
    	<tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td height="24" colspan="2" align="left" valign="middle">
          <span style="font-size:14px;">Enjoy!</span>
          </td>
    	  <td align="left" valign="top">&nbsp;</td>
  	  </tr>
    	<tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td height="24" colspan="2" align="left" valign="middle">
          		<div style="border-bottom: 1px dashed #dddfdf; width:100%;">&nbsp;</div>
          </td>
    	  <td align="left" valign="top">&nbsp;</td>
  	  </tr>
    	<tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td height="24" colspan="2" align="left" valign="middle">
          		<span style="font-family: Arial; font-size: 18px; color: #4495ae; font-weight: bold;line-height: 30px; text-align: justify; margin-right: 8px;">Latest Articles</span>
          </td>
    	  <td align="left" valign="top">&nbsp;</td>
  	  </tr>
    	<tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td height="24" colspan="2" align="center" valign="middle">
	 <% @b_i = 0 %>
	 <% if !@blog_value_p.nil?
		@blog_value_p.each do |bval|
			if @b_i < 2 %>
			
			<div style="font-family: Arial; font-size: 15px; color: #4495ae; font-weight: bold;line-height: 30px;margin-right: 8px;width:100%;margin: 0 auto;" align="center" >
				<div style="max-width: 700px;margin:0px auto;padding:0px 0px;background: #f0fafc;border:1px solid #dddfdf;<% if @b_i == 0%>border-bottom:none;<%end%>"  align="center">
				<table cellpadding="0" cellspacing="0" width="">
				<tr>
				<td align="right">
					<div style="width:140px; max-height:86px;margin-right1:15px;float1:left; display:inline-block; padding: 10px 10px 15px 10px;overflow:hidden;" >
					<div style="width:100%; max-height:86px; border:1px solid #eaeaea; background-color:#fff; padding:2px 2px;overflow:hidden;" align="left">
						<div style="width:100%; max-height:82px; background-color:#fff; overflow:hidden;">	
						<table cellspacing="0" cellpadding="0">
							<tr><td width="140" valign="middle" height="82" align="center">
							<a target="_blank" href="<%= bval['link']  if !bval['link'].nil? && bval['link']!=''%>" ><img src="<%= bval['img']  if !bval['img'].nil? && bval['img']!=''%> " width="70%" alt=""  style="border: none;"  border="0"></a>
							</td></tr>
						</table>
						</div>
					</div>
				</div>
				</div>
				</td>
				<td align="left">
					<div style="display:inline-block;float1:left; margin-left1: 15px; margin-right: 10px; margin-top: -4px;max-width: 400px;"> 
					<div style="width:100%;font-size:14px;color:#77b2cc;line-height:17px;text-align:left;" ><a style="text-decoration: none;font-size:14px;color:#77b2cc;font-weight:bold;" href="<%= bval['link'] if !bval['link'].nil? && bval['link']!=''%>" target="_blank" ><%= bval['title'] if !bval['title'].nil? && bval['title']!=''%></a></div>
					<div style="font-size:14px;color:#6A6A6A;float:left;font-size:12px;font-weight:normal;line-height:17px;margin-top: 10px;text-align:justify;" ><%= bval['description'][0..150]  if !bval['description'].nil? && bval['description']!=''%>....</div>
					<div style="clear:both;"></div>
					<div style="float:right;" ><a style="text-decoration: none;color:#ff0004;font-size:12px;font-weight:normal;" href="<%= bval['link'] if !bval['link'].nil? && bval['link']!=''%>" target="_blank" >Read More</a> </div>
					</div>
				</td></tr></table>
				<div style="clear:both;" ></div>
				<!-- <div style="border-bottom1:1px dashed #DDDFDF;margin: 0 auto; width:97%;" ></div> -->
			</div>
		<%
			@b_i  = @b_i  + 1
			end
		end
	  end
	  %>
          </td>
    	  <td align="left" valign="top">&nbsp;</td>
  	  </tr>
    	<tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td height="24" colspan="2" align="left" valign="middle">
          	<div style="border-bottom: 1px dashed #dddfdf; width:100%;">&nbsp;</div>
          </td>
    	  <td align="left" valign="top">&nbsp;</td>
  	  </tr>
    	<tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td height="24" colspan="2" align="left" valign="middle">
          	<div style="float:left; width:100%;">
			<div style="float:left;"><span style="font-family: Arial; font-size: 18px; color: #4495ae; font-weight: bold;line-height: 30px; text-align: justify; margin-right: 8px;;">Fun Weekend Activities</span>
			</div>
			<div style="float:right; font-family: Arial; font-size: 18px; color: #ff0004; font-weight: bold;line-height: 30px">
				<!-- <a href="<% $image_global_path %>?newsletter=view" title="" target="_blank" style="color: #ff0004; text-decoration:none;">Choose an location for your newsletter</a> -->
			</div>
		</div>
          </td>
    	  <td align="left" valign="top">&nbsp;</td>
  	  </tr>
    	<tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td height="24" colspan="2" align="center" valign="middle">   				
		 <div style="margin:0 auto; max-width:700px;"><!-- outer container start -->
			<% @fun_week = params[:fun_week] .gsub('"', "") if !params[:fun_week].nil?
			    @spmail_fun = @fun_week.split(',') if !@fun_week.nil? && @fun_week!=''
			     
			%>			
			<% #!@spmail_fun = Activity.find_by_sql("select * from activities where activity_id in (#{ @fun_week})")  if !@fun_week.nil?%>
			<%!@spmail_fun.nil? && @spmail_fun.each do |activity|  
			if !activity.nil? && activity.present?
				share = Activity.find_by_activity_id(activity) if !activity.nil?
				if !share.nil? && share.present?
			%> 
			       <%act_det = ActivitySchedule.where("activity_id = ? AND expiration_date >= ?",share.activity_id,Date.today ) if !share.nil? && !share.activity_id.nil?%>
			       <% shedule_count=act_det.count%>
			       <%@use_data = User.find_by_user_id(share.user_id) if !share.nil?%>
			       <%activitylink = activity_link_format(share,@use_data)%> <!-- Activity Link formation - From application helper link formation-->
			       
 <% @a_share = find_activity(share.activity_id) if !share.nil? && !share.activity_id.nil?%>
				<% @val_date=[]
				@discount_price = ActivityPrice.where("activity_id = ?", share.activity_id) if !share.nil? && !share.activity_id.nil? && share.activity_id.present?
				  @discount_price.each do |dprice|
				  @dis_price=dprice.activity_discount_price
				  @dis_price.each do |dprice|
				  @early_bird_date = dprice.discount_valid.strftime("%Y-%m-%d") if !dprice.nil? && !dprice.discount_valid.nil?
				  @max_date = @early_bird_date if !@early_bird_date.nil? && @early_bird_date.present? && @early_bird_date!=""
				  @cday = Time.now.strftime("%Y-%m-%d")
				  if !@early_bird_date.nil? && @early_bird_date.present? && @early_bird_date >= @cday
				  @val_date << "test"
				  elsif !dprice.nil? && dprice.discount_valid.nil?
				  @val_date << "test" 
				  end
				  end
				end %>		
			<!--table cellpadding="0" cellspacing="0"><tr><td align="center" valign="middle" width="100%"-->
			<div style="width:200px; display:inline-block;margin-right:10px; border:1px solid #dddfdf; background-color:#fff; padding:5px; color:#77b2cc ; min-height:345px; margin-bottom:10px; ">
				<table width="200" border="0" cellpadding="0" cellspacing="0">				
				<tr>
					<td align="center" valign="middle" height="190" style="border:1px solid #dddfdf; width:200px; ">					
						<div style="max-height:190px; overflow:hidden;">
							<table border="0" cellpadding="0" cellspacing="0">
								<tr>
								<td align="center" valign="middle" height="190">								
									<a href="<%= $image_global_path %>/<%=activitylink%>" title=""  style="display:block;" target="_blank">
										<%if !share.avatar_file_name.nil? && share.avatar.present?%>
											<img alt=""  src="<%= share.avatar.url(:thumb) unless share.nil? %> " style="border:none;" border="0"  />  
										<%else%>
											<img alt="Loading..." src="<%= $image_global_path %>assets/no_image.png" style="border:none;" border="0" />
										<%end%>	
									</a>							
								</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>				
				<tr>
					<td align="left" valign="middle" height="24">
						<div style="margin-left:8px;width:190px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;"><a href="<%= $image_global_path %>/<%=activitylink%>" target="_blank" style="font-size:14px; color:#77b2cc;font-family:arial;font-weight: bold;text-decoration:none;" title="<%= share.activity_name %>"><%=share.activity_name%>
						</a>
						</div>
					</td>
				</tr>				
				<tr>
					<td align="left" valign="middle"  height="30">
						<div style="margin-left:8px;"><table border="0"  cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td align="left" valign="middle" width="60%" style="color:#77B2CC; font-size:12px;">
							<% if share.schedule_mode.downcase!='any time' && !shedule_count.nil? && shedule_count>1%>
								$Price Details
							<%elsif !share.price_type.nil? && share.price_type == "1"  || share.price_type == "2"%>						
								<%@price_det = get_activity(share.activity_id) if !share.nil? && !share.activity_id.nil?%>
								<%if !@price_det.nil? && @price_det.present? && @price_det.length>1%>
									$Price Details
								<%elsif !@price_det.nil? && @price_det.present? && @price_det.length==1 %>
									$<%=number_with_precision @price_det[0].price , :precision => 2  if !@price_det.nil?%>
								<%end%>
							<%elsif !share.price_type.nil? && share.price_type == "2"%>
								$<%= number_with_precision share.price, :precision => 2 %>
							<%elsif !share.price_type.nil? && share.price_type == "3" || share.filter_id == "3" || share.created_by.downcase == "parent"%>
								$Free
							<%elsif !share.price_type.nil? && share.price_type == "4"%>
								$Contact Provider
							<% elsif share.price.present? && !share.price.nil?  && share.price!=0%>
								$<%= number_with_precision share.price, :precision => 2 %>
							<%end%>
							</td>
							<td align="left" valign="middle" width="40%">
								<%
								@act_activityid = share.activity_id		
								@act_userid = ''
								%>
								<%= render :partial => 'common/mail_activity_purchase_status',:locals=>{:user=>@use_data} %>
							</td>
						</tr>
						</table></div>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle" height="30">
						<div style="margin-left:8px;"><table border="0"  cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td align="left" valign="middle" width="50%">
								<span style="font-size:13px; color:#77b2cc ; font-family:arial;text-transform:capitalize"><%if share.schedule_mode == 'Any Where'%>Anywhere<%else%><%=share.city.strip%><%end%></span>
							</td>
							<td align="left" valign="middle" width="50%" style="color:#77B2CC; font-size:12px;">
								<%if (!share.min_age_range.nil? && share.min_age_range.present?) && (!share.max_age_range.nil? && share.max_age_range.present?) %>								 
								<span style="color:#77B2CC; font-weight:bold; font-size:14px;">Age</span>&nbsp;<%=age_range_cal(share.min_age_range,share.max_age_range)%>															
								<%end%>
							</td>
						</tr>
						</table></div>					
					</td>
				</tr>				 
				<tr>
				    <%@share = ActivitySchedule.where("activity_id=?",share.activity_id).last %>
					<td align="left" valign="middle" height="40">
						<div style="margin-left:8px;"><table border="0"  cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td align="left" valign="middle" width="16">
								<img src="<%= $image_global_path %>assets/newsletter/calendar_icon.png" alt="" width="16" height="18" border="0">
							</td>
							<td align="left" valign="middle" width="10"></td>
							<td align="left" valign="middle" style="color:#5099AC; font-size:12px;">						
							<% if share.created_by.downcase=='parent' && !share.schedule_mode.nil? && share.schedule_mode.present? && share.schedule_mode.downcase=='any time' %>
							   AnyTime
							<% elsif share.created_by.downcase=='parent' && !share.schedule_mode.nil? && share.schedule_mode.present? && share.schedule_mode.downcase != 'any time'%>
								<% if !@share.nil? && @share.present?%><%= render :partial =>"newsletters/schedule_new_format" %><%end%>
							 <% elsif (!share.nil? && !share.schedule_mode.nil? && share.schedule_mode == "By Appointment")%>
								By Appointment
							<%else%>
								
									<% if share.schedule_mode.downcase=="schedule" && !shedule_count.nil? && shedule_count>1%>
									<a href="<%= $image_global_path %><%=activitylink%>" target="_blank" title="" style="color:#5099AC ; text-decoration:none;"> Schedule details</a> 
								  <%elsif share.schedule_mode.downcase=="schedule"%>
									<%= render :partial =>"newsletters/schedule_new_format" %>
								  <%end%>
									  <% if share.schedule_mode.downcase=="whole day" && !shedule_count.nil? && shedule_count>1%>
										<a href="<%= $image_global_path %><%=activitylink%>" target="_blank" style="color:#5099AC ; text-decoration:none;" title=""> Schedule details</a>
									  <% elsif share.schedule_mode.downcase=="whole day"%>
										<%= render :partial =>"newsletters/wholeday_new_format" %>
									  <%end%>
									<% if share.schedule_mode.downcase=="by appointment"%>
										By Appointment
									<%end%>
									<% if share.schedule_mode.downcase=="any time"%>
										AnyTime
									<%end%>
									<% if share.schedule_mode.downcase=="any where"%>
										AnyTime
									<%end%>						           
							 <%end%>
							</td>
						</tr>
						</table></div>
					</td>                            
				</tr>				
			    </table>
			 </div>
			<% end %>
			<% end %>
			<%end%>
			<!--/td></tr></table>
		</div> <!-- outer container end -->			
          </td>
    	  <td align="left" valign="top">&nbsp;</td>
  	  </tr>
    	<tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td height="24" colspan="2" align="left" valign="middle">
          	<div style="border-bottom: 1px dashed #dddfdf; width:100%;">&nbsp;</div>
          </td>
    	  <td align="left" valign="top">&nbsp;</td>
  	  </tr>
    	<tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td height="24" colspan="2" align="left" valign="middle">
          	<span style="font-family: Arial; font-size: 18px; color: #4495ae; font-weight: bold;line-height: 30px; text-align: justify; margin-right: 8px;">Special Promotions</span>
          </td>
    	  <td align="left" valign="top">&nbsp;</td>
  	  </tr>
    	<tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td height="24" colspan="2" align="left" valign="middle">
		 <div align="center" style="margin:0 auto; max-width:700px;"><!-- outer container start -->
			<% @special = params[:special] .gsub('"', "") if !params[:special].nil?
			@spmail = @special.split(',') if !@special.nil? && @special!=''
			
			%>			
			<% #!@spmail = Activity.find_by_sql("select * from activities where activity_id in (#{ @special})")  if !@special.nil?%>
			<%!@spmail.nil? && @spmail.each do |activity|  
			if !activity.nil? && activity.present?
			share = Activity.find_by_activity_id(activity)
			if !share.nil? && share.present?
			%> 
				  <%act_det = ActivitySchedule.where("activity_id = ? AND expiration_date >= ?",share.activity_id,Date.today ) if !share.nil? && !share.activity_id.nil?%>
			       <% shedule_count=act_det.count%>
			       <%@use_data = User.find_by_user_id(share.user_id) if !share.nil?%>
			       <%activitylink = activity_link_format(share,@use_data)%> <!-- Activity Link formation - From application helper link formation-->
 <% @a_share = find_activity(share.activity_id) if !share.nil? && !share.activity_id.nil?%>
				<% @val_date=[]
				@discount_price = ActivityPrice.where("activity_id = ?", share.activity_id) if !share.nil? && !share.activity_id.nil? && share.activity_id.present?
				  @discount_price.each do |dprice|
				  @dis_price=dprice.activity_discount_price
				  @dis_price.each do |dprice|
				  @early_bird_date = dprice.discount_valid.strftime("%Y-%m-%d") if !dprice.nil? && !dprice.discount_valid.nil?
				  @max_date = @early_bird_date if !@early_bird_date.nil? && @early_bird_date.present? && @early_bird_date!=""
				  @cday = Time.now.strftime("%Y-%m-%d")
				  if !@early_bird_date.nil? && @early_bird_date.present? && @early_bird_date >= @cday
				  @val_date << "test"
				  elsif !dprice.nil? && dprice.discount_valid.nil?
				  @val_date << "test" 
				  end
				  end
				end 
				#get max discount price
				@max_price = ''
				@max_currency = ''
				@max_discount_amt = ActivityPrice.find_by_sql("select max(ad.discount_price) as discount_price,discount_currency_type from activity_prices ap left join activity_discount_prices ad on ap.activity_price_id=ad.activity_price_id where ap.activity_id=#{share.activity_id} and ad.discount_price is not null group by discount_currency_type") if !share.nil?
				if !@max_discount_amt.nil? && @max_discount_amt.present? && @max_discount_amt.length > 0
					if  @max_discount_amt.length == 1					
						@max_price=@max_discount_amt[0]['discount_price']
						@max_currency = @max_discount_amt[0]['discount_currency_type']
					elsif  @max_discount_amt.length == 2
						if @max_discount_amt[0]['discount_price'].to_f > @max_discount_amt[1]['discount_price'].to_f
							@max_price=@max_discount_amt[0]['discount_price']
							@max_currency = @max_discount_amt[0]['discount_currency_type']
						else
							@max_price=@max_discount_amt[1]['discount_price']
							@max_currency = @max_discount_amt[1]['discount_currency_type']
						end
					end
					
				end				
				%>		
			<div style="width:200px; display:inline-block; margin-right:10px; border:1px solid #dddfdf; background-color:#fff; padding:5px; color:#77b2cc ; min-height:345px; margin-bottom:10px; ">
				<table width="200" border="0" cellpadding="0" cellspacing="0">
				<% if !share.nil? && !share.discount_eligible.nil? && share.discount_eligible.present? && !@val_date.nil? && !@val_date[0].nil?%>
				<tr>
					<td align="center" valign="middle" height="28" style="background-color:#FF3334;text-align:center;color:#ffffff;font-size: 13px;">
					      <table   border="0" cellpadding="0" cellspacing="0" align="center">
						      <tr>
							<td width="200" colspan="2" valign="middle" align="center"><center><span style="background-color:#ff3334;text-align:center;color:#ffffff;font-size:13px;display:inline-block;"><b>Specials</b>&nbsp;<img align="top" border="0" alt="Specials" src="<%= $image_global_path %>assets/card_images/discount_dollar.png"></span></center>
							</td>
							</tr>
								
					      </table>			       
					</td>
				</tr>
				<%elsif !@val_date.nil? && !@val_date[0].nil?%>
				<tr>
					<td align="left" valign="middle" height="28" style="background-color:#FF3334;text-align:center;color:#ffffff;font-size: 13px;">
						<b>Specials 
						 <% if !@max_currency.nil? && !@max_price.nil? && @max_currency!='' && @max_price!='' 
							if @max_currency == "%"							
								dec_val = number_with_precision @max_price, :precision => 2  if !@max_price.nil? && @max_price!='' 
								dec_v=dec_val.to_s.split('.') if !dec_val.nil? && dec_val!=''
								if !dec_v.nil? && dec_v[1].to_i > 1								
									@max_dec = dec_val
									
								else									
									@max_dec = dec_v[0]
								end
								%>
								<%= @max_dec%><%= @max_currency%> Off!
							<%
							else
							%>
								<%= @max_currency%><%= number_with_precision @max_price, :precision => 2   if !@max_currency.nil? && !@max_price.nil? && @max_currency!='' && @max_price!=''%> Off!
							<%
							end
							%>
						<% end %>
						</b> 
					</td>
				</tr>
				<%elsif !share.nil? && !share.discount_eligible.nil? && share.discount_eligible.present?%>
				<tr>
					<td align="left" valign="middle" height="28" style="background-color:#FF3334;text-align:center;color:#ffffff;font-size: 13px;">
						<!-- <img src="<%= $image_global_path %>assets/card_images/discount_dollar.png" border="0"> -->
						<b>Use Discount Dollars <%= share.discount_type %><%= number_with_precision share.discount_eligible, :precision => 2  %></b>
					</td>
				</tr>
				<%else%>
				<tr>
					<td align="left" valign="middle" height="28"></td>
				</tr>
				<%end%>
				<tr>
					<td align="center" valign="middle" height="190" style="border:1px solid #dddfdf; width:200px; ">					
						<div style="max-height:190px; overflow:hidden;">
							<table border="0" cellpadding="0" cellspacing="0">
								<tr>
								<td align="center" valign="middle" height="190">								
									<a href="<%= $image_global_path %><%=activitylink%>" title=""  style="display:block;" target="_blank">
										<%if !share.avatar_file_name.nil? && share.avatar.present?%>
											<img alt=""  src="<%= share.avatar.url(:thumb) unless share.nil? %> " style="border:none;" border="0" />  
										<%else%>
											<img alt="Loading..." src="<%= $image_global_path %>assets/no_image.png" style="border:none;" border="0" />
										<%end%>	
									</a>							
								</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>				
				<tr>
					<td align="left" valign="middle" height="24">
						<div style="margin-left:8px;width:190px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;"><a  href="<%= $image_global_path %><%=activitylink%>" target="_blank" style="font-size:14px; color:#77b2cc;font-family:arial;font-weight: bold; text-decoration:none;" title="<%= share.activity_name %>"><%=share.activity_name%>
						</a>
						</div>
					</td>
				</tr>				
				<tr>
					<td align="left" valign="middle"  height="30">
						<div style="margin-left:8px;"><table border="0"  cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td align="left" valign="middle" width="60%" style="color:#77B2CC; font-size:12px;">
							<% if share.schedule_mode.downcase!='any time' && !shedule_count.nil? && shedule_count>1%>
								$Price Details
							<%elsif !share.price_type.nil? && share.price_type == "1"  || share.price_type == "2"%>						
								<%@price_det = get_activity(share.activity_id) if !share.nil? && !share.activity_id.nil?%>
								<%if !@price_det.nil? && @price_det.present? && @price_det.length>1%>
									$Price Details
								<%elsif !@price_det.nil? && @price_det.present? && @price_det.length==1 %>
									$<%=number_with_precision @price_det[0].price , :precision => 2  if !@price_det.nil?%>
								<%end%>
							<%elsif !share.price_type.nil? && share.price_type == "2"%>
								$<%= number_with_precision share.price, :precision => 2 %>
							<%elsif !share.price_type.nil? && share.price_type == "3" || share.filter_id == "3" || share.created_by.downcase == "parent"%>
								$Free
							<%elsif !share.price_type.nil? && share.price_type == "4"%>
								$Contact Provider
							<% elsif share.price.present? && !share.price.nil?  && share.price!=0%>
								$<%= number_with_precision share.price, :precision => 2 %>
							<%end%>
							</td>
							<td align="left" valign="middle" width="40%">
								<%
								@act_activityid = share.activity_id		
								@act_userid = ''
								%>
								<%= render :partial => 'common/mail_activity_purchase_status',:locals=>{:user=>@use_data}  %>
							</td>
						</tr>
						</table></div>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle" height="30">
						<div style="margin-left:8px;"><table border="0"  cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td align="left" valign="middle" width="50%">
								<span style="font-size:13px; color:#77b2cc ; font-family:arial;text-transform:capitalize"><%if share.schedule_mode == 'Any Where'%>Anywhere<%else%><%=share.city.strip%><%end%></span>
							</td>
							<td align="left" valign="middle" width="50%" style="color:#77B2CC; font-size:12px;">
								<%if (!share.min_age_range.nil? && share.min_age_range.present?) && (!share.max_age_range.nil? && share.max_age_range.present?) %>								 
								<span style="color:#77B2CC; font-weight:bold; font-size:14px;">Age</span>&nbsp;<%=age_range_cal(share.min_age_range,share.max_age_range)%>															
								<%end%>
							</td>
						</tr>
						</table></div>					
					</td>
				</tr>
				<tr>
				    <%@share = ActivitySchedule.where("activity_id=?",share.activity_id).last %>
					<td align="left" valign="middle" height="30">
						<div style="margin-left:8px;"><table border="0"  cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td align="left" valign="middle" width="16">
								<img src="<%= $image_global_path %>assets/newsletter/calendar_icon.png" alt="" width="16" height="18" border="0">
							</td>
							<td align="left" valign="middle" width="10"></td>
							<td align="left" valign="middle" style="color:#5099AC; font-size:12px;">						
							<% if share.created_by.downcase=='parent' && !share.schedule_mode.nil? && share.schedule_mode.present? && share.schedule_mode.downcase=='any time' %>
							   AnyTime
							<% elsif share.created_by.downcase=='parent' && !share.schedule_mode.nil? && share.schedule_mode.present? && share.schedule_mode.downcase != 'any time'%>
								<% if !@share.nil? && @share.present?%><%= render :partial =>"newsletters/schedule_new_format" %><%end%>
							 <% elsif (!share.nil? && !share.schedule_mode.nil? && share.schedule_mode == "By Appointment")%>
								By Appointment
							<%else%>
								
									<% if share.schedule_mode.downcase=="schedule" && !shedule_count.nil? && shedule_count>1%>
									<a href="<%= $image_global_path %><%=activitylink%>" target="_blank" title="" style="color:#5099AC ; text-decoration:none;"> Schedule details</a> 
								  <%elsif share.schedule_mode.downcase=="schedule"%>
									<%= render :partial =>"newsletters/schedule_new_format" %>
								  <%end%>
									  <% if share.schedule_mode.downcase=="whole day" && !shedule_count.nil? && shedule_count>1%>
										<a href="<%= $image_global_path %><%=activitylink%>" target="_blank" title=""> Schedule details</a>
									  <% elsif share.schedule_mode.downcase=="whole day"%>
										<%= render :partial =>"newsletters/wholeday_new_format" %>
									  <%end%>
									<% if share.schedule_mode.downcase=="by appointment"%>
										By Appointment
									<%end%>
									<% if share.schedule_mode.downcase=="any time"%>
										AnyTime
									<%end%>
									<% if share.schedule_mode.downcase=="any where"%>
										AnyTime
									<%end%>						           
							 <%end%>
							</td>
						</tr>
						</table></div>
					</td>                            
				</tr>				
			    </table>
			 </div>
			<% end %>
			<% end %>
			<% end %>
		</div> <!-- outer container end -->			
	  </td>
    	  <td align="left" valign="top">&nbsp;</td>
  	  </tr>
	  <tr>
    	  <td align="left" valign="top">&nbsp;</td>
    	  <td height="24" colspan="2" align="left" valign="middle">&nbsp;</td>
    	  <td align="left" valign="top">&nbsp;</td>
  	  </tr>
    	<tr bgcolor="#DBEEF4">
    	  <td colspan="4" align="left" valign="top">
          	<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:4px solid red;">
			<tr bgcolor="#DBEEF4">
			<td width="1%" align="left" valign="top">&nbsp;</td>
			<td colspan="2" align="left" valign="top" >&nbsp;</td>
			<td width="1%" align="left" valign="top">&nbsp;</td>
			</tr>
			<tr bgcolor="#DBEEF4">
			<td align="left" valign="top">&nbsp;</td>
			<td colspan="2" align="left" valign="top" >
			<div align="center" style="font-family: Arial; font-size: 20px; color: #3d8ea3; font-weight: bold; margin-top: 10px; margin-bottom: 5px;">
			Learn why parents and activity providers love Famtivity.
			</div>
			</td>
			<td align="left" valign="top">&nbsp;</td>
			</tr>
			<tr bgcolor="#DBEEF4">
			<td align="left" valign="top">&nbsp;</td>
			<td colspan="2" align="center" valign="top" >&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
			</tr>
			<tr bgcolor="#DBEEF4">
			<td align="left" valign="top">&nbsp;</td>
			<td colspan="2" align="center" valign="top" >
			<a href="https://www.famtivity.com/home" title="" border="0" target="_blank"><img src="<%= $image_global_path %>assets/newsletter/button_sign-up.png" alt="" width="226" height="39" border="0"  /></a>
			</td>
			<td align="left" valign="top">&nbsp;</td>
			</tr>
			<tr bgcolor="#DBEEF4">
			<td align="left" valign="top">&nbsp;</td>
			<td colspan="2" align="center" valign="top" >&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
			</tr>
			<tr bgcolor="#DBEEF4">
			<td align="left" valign="top">&nbsp;</td>
			<td colspan="2" align="center" valign="top" >
			Contact us toll-free at <span  style="color:#2c8fae;font-weight:bold;">888-386-6479</span> or click sign-up to learn more. 
			</td>
			<td align="left" valign="top">&nbsp;</td>
			</tr>
			<tr bgcolor="#DBEEF4">
			<td align="left" valign="top">&nbsp;</td>
			<td colspan="2" align="left" valign="top" >
			<p  style="  border-bottom: 1px solid #C0D7DD; margin: 0 auto;padding-top: 20px;">&nbsp;</p>
			</td>
			<td align="left" valign="top">&nbsp;</td>
			</tr>
			<tr bgcolor="#DBEEF4">
			<td align="left" valign="top">&nbsp;</td>
			<td colspan="2" align="right" valign="top" >&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
			</tr>
			<tr bgcolor="#DBEEF4">
			<td align="left" valign="top">&nbsp;</td>
			<td  align="left" valign="top"  colspan="2">
			<div style="float:left;"><a href="https://www.famtivity.com/survey_monkey" target="_blank"  title="survey" style="border:0; text-decoration:none; color:#FF3334; font-size:12px;">Take the Famtivity survey!</a></div>
			<div style="float:right;"><table cellspacing="0" cellpadding="0" border="0" >            
			<tr >
			<td >
			    <div style="font-family: Arial; font-size: 14px; color: #686868; font-weight: normal;" > Connect with us </div>
			</td>
			<td colspan="4" style="padding-left: 8px; padding-top: 4px;" >
			    <a target="_blank" href="https://www.facebook.com/Famtivity" style="text-decoration: none;" >
			    <img alt="facebook" src="<%= $image_global_path %>assets/newsletter/icon_facebook.png" style="border: none" >
			    </a>
			    <a target="_blank" href="https://twitter.com/famtivity" style="text-decoration: none;" >
			    <img alt="twitter" src="<%= $image_global_path %>assets/newsletter/icon_twitter.png" style="margin-left: 5px; margin-right: 5px; border: none" >
			    </a>
			    <a target="_blank" href="http://pinterest.com/famtivity" style="text-decoration: none;" >
			    <img alt="pinterest" src="<%= $image_global_path %>assets/newsletter/icon_p.png" style="border: none" >
			    </a>
			    &nbsp;<a target="_blank" href="https://plus.google.com/105576957217163088887/about" style="text-decoration: none;" >
			    <img alt="google" src="<%= $image_global_path %>assets/newsletter/google_icon.png" style="border: none" >
			    </a>
			</td>                
			</tr>          
                </table></div>
			
                </td>
                <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr bgcolor="#DBEEF4">
                  <td align="left" valign="top">&nbsp;</td>
                  <td colspan="2" align="right" valign="top" >&nbsp;</td>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
            </table>
          </td>
   	  </tr>
    </table>

</div>
</body>
</html>