<%=stylesheet_link_tag "event_index/event_scroll","contacts_users/jquery-ui","contacts_users/smooth-theme-jquery-ui", :media => "all"%>
<%=javascript_include_tag "auto_complete/jquery-ui","pagination"%>
<style>
.transDivMenu1 ul li:hover {
  background: #F6F8F7;
  border:1px solid #A9D3E1;
}
.transDivMenu1 ul li ul li:hover {
  background: #F6F8F7;
  color: #fff;
  border:none;
  border:1px solid #F7F9F8;
}
.transDivMenu1 ul li {
  background: #F6F8F7;
  border:1px solid #F7F9F8;
}
</style>
<div class="after_login_top">
	<div class="wraper_inner_container">
		<div class="content_title lt">
			<div class="lt">
				<form name="frm_plan" method="post" action="" onsubmit="return search_planuser()">
				<table border="0" cellspacing="0" cellpadding="0" width="692">
					<tr>
						<td align="left" valign="middle" width="150">
						<div class="transDivMenu1" id="menu1" style="left:16px;top:4px;width:100px;">
							<ul>
							<li><a class="price_filter_width" style="width:40px;display:block;height:20px;" class="transDiv1" href="#" ><span class="menuText"><b id="setActivity" style="color:#959292;font-size:13px;">All</b></span><span class="actImg"><%=image_tag("/assets/event_index/dropdown_arrow.png", :width=>"7", :height=>"4", :id=>"arrow1", :style=>"position: relative; top: -1px;margin-left:5px;")%></span></a>
								<ul style="width:142px;height:115px;margin-left:-1px;margin-top:-2px;z-index:100000;" class="sub-menu dispProvidertransDiv">
								<li><a href="javascript:void(0)" title="" id="select" onClick="search_planall()" >All</a></li>
								<li><a href="javascript:void(0)" title="" id="select" onClick="pricing_filter('Deleted')" >Deleted</a></li>
								<li><a href="javascript:void(0)" title="" id="select" onClick="pricing_filter('Deactivated')" >Deactivated</a></li>
								<li><a href="javascript:void(0)" title="" id="select" onClick="pricing_filter('Not Renewed')" >Not Renewed</a></li>
								</ul>
							</li>
							</ul>
						<div class="clear"></div>
						</div>
						</td>
						<td align="left" valign="middle" width="90">
							Pricing Plan
						</td>
						<td width="4">&nbsp;</td>
						<td align="left"  valign="middle" width="185">
							<input type="text" name="search_plan" id="search_plan" onkeypress="search_planuser();" autocomplete='on'  style="width:205px;color:#999999; border:1px solid #BDD6DD;height:26px;" value="Search by email" onfocus="if(this.value == 'Search by email'){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}" onBlur="if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value='Search by email'}">
							
						</td>
						<td align="left" valign="middle" width="50">
							<input type="submit" name="plan_search" id="plan_search" value="Go">
						</td>
						<td align="left" valign="middle" width="146">
							<!--a href="javascript:void(0);" title="Show All" onclick="return search_planall()">Show All</a-->
							<!--loading image started here-->
							<div class='loading_page_price' style="text-align: center; display:none;margin-left: -180px;margin-top: 2px;">
							<span class="load-new1"><%=image_tag("/assets/loading_small.gif", :width=>"16", :height=>"16")%></span>
							</div>
						<!--loading image ending here-->
						</td>
					</tr>
				</table>
				</form>
			</div>
			<div class="rt">
				<div id="ExcelHide">
					<div style="color: #2b91af; font-size: 14px;padding:7px 0px;"><%=image_tag("/assets/policies/dwniconnormal.png", :width=>"9", :height=>"14")%>
						<%if !@user_plan.nil? && @user_plan.length > 0 %>
						<!--<a  href="/provider_plan_report.csv" title="">CSV</a> |-->
						<a  href="/provider_plan_report.xls" title="">Excel</a>
						<%else%>
						<!--<a  href="javascript:void(0)" title="">CSV</a> |-->
						<a  href="javascript:void(0)" title="">Excel</a>
						<%end%>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="tbl_containner" id="p_plan_report">			
			<%= render :partial => "/admin/provider_plan_report" %>
		</div>  <!-- tbl_containner end -->
	</div>
</div>
<style>
.ui-autocomplete { width: 200px; height: 100px; overflow-y: scroll; overflow-x: hidden;}
</style>
<script>

function pricing_filter(fval)
{
	$("#search_plan").val('Search by email');
	$("#search_plan").css('border','1px solid #BDD6DD').css('color','#999999');
	var actiontype = fval;
	 if(fval == "Deleted"){
			$('.price_filter_width').css("width","77px");
			}
	 if(fval == "Deactivated"){
			$('.price_filter_width').css("width","100px");
			}
	if(fval == "Not Renewed"){
			$('.price_filter_width').css("width","115px");
			}
	$('#ExcelHide').hide();
	$('.loading_page_price').show();
	$("#setActivity").html(fval);
	$.ajax({
	url:'/admin/provider_plan_report',
	type:"get",
	dataType: 'script',
	data: {"actiontype":actiontype}
	});
	return false;
}
function search_planall()
{
	$('.price_filter_width').css("width","40px;");
	$("#search_plan").val('Search by email');
	$("#search_plan").css('border','1px solid #BDD6DD').css('color','#999999');
	$('#ExcelHide').show();
	$('.loading_page_price').show();
	$("#setActivity").html("All");
	$.ajax({
		url:'/admin/provider_plan_report',
		type:"get",
		dataType: 'script',
		data: {"plan":'all'}
		});
		return false;
}
function search_planuser(){
	s_val=$("#search_plan").val();
	errflag=false;
	$("#search_plan").css('border','1px solid #BDD6DD');	
	if(s_val=='' || s_val=='Search by email')
	{
		$("#search_plan").focus();
		$("#search_plan").css('border','1px solid #ff0000');		
		errflag=true;
	}
	if(errflag)
	{
		return false;
	}
	else
	{
		$('.loading_page_price').show();
		$('#ExcelHide').hide();
		$.ajax({
		url:'/admin/provider_plan_report',
		type:"get",
		dataType: 'script',
		data: {"search_plan":s_val}
		});
	}
	return false;
}
 var auto_emails=new Array();
	<%if !@user_email.nil? && @user_email.length > 0%>
		<% @user_email.each do |auto_complete|%>
			<%if auto_complete!='' %>
			auto_emails.push('<%= auto_complete%>');
			<% end %>
		<%end%>
		
	<%end%>

	function split( val ) {
		return val.split( /,\s*/ );
	}
	function extractLast( term ) {
		return split( term ).pop();
	}
	$( "#search_plan" ).autocomplete({
		minLength: 1,
		source: function(request, response) {
		var results = $.ui.autocomplete.filter(auto_emails, extractLast( request.term ));
		response(results.slice(0, 8));        
	},
	focus: function() {
          return false;
        },
	select: function( event, ui ) {
	  var terms = split( this.value );
	  // remove the current input
	  terms.pop();
	  // add the selected item
	  terms.push( ui.item.value );	  
	  this.value = terms;
	  return false;
	}
	});
	//ie8 key enter fixes	
	$("#search_plan").keypress(function(e) {
		if(e.which == 13)
		{
			e.preventDefault();
		}
	});
</script>