<script type="text/javascript" src="/assets/register/sponsor_select_option.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/register/register.css" />
<link rel="stylesheet" type="text/css" href="/assets/register/provider_register.css" />
<link rel="stylesheet" type="text/css" href="/assets/create_new_activity_new/create_new_activity.css" />
<!--<script type="text/javascript" src="/assets/register/register_payment.js"></script>-->
<!--avoid to type text in browse textbox-->
<script type="text/javascript">
  $(document).ready(function(){
    $("#browse_photo_spo").keyup(function(){
      var browse_photo=$("#browse_photo_spo").val();
      $("#browse_photo_spo").val("");
    });
  });

  $(document).ready(function(){
    $("#browse_photo_spo").keydown(function(){
      var browse_photo=$("#browse_photo_spo").val();
      $("#browse_photo_spo").val("");
    });
  });

</script>


<script type="text/javascript" src="/assets/register/register.js"></script>
<script type="text/javascript" src="/assets/register/validate.js"></script>
<script type="text/javascript" src="/assets/register/provider_register_update.js"></script>



<div id="register_outerContainer">
  <div class="Provider_innerContainer">
    <div class="header" align="center">
      <%= link_to image_tag("/assets/register/logo.png", :border=>0,:width=>305,:height=>100,:align=>"center"), :controller => 'landing' %>

    </div>
    <div class="setTopPosition">
      <div class="lt" id="setImage"></div>
      <div class="lt"><a href="javascript:void(0)" title=""><img src="/assets/provider_register/step_1inactive.png" id="img1" align="top" class="circleNumber" ></a></div>
      <div class="lt" id="setImage1"></div>
      <div class="lt"><a href="javascript:void(0)" title=""><img src="/assets/provider_register/step_2active.png" id="img2" align="top" class="circleNumber" ></a></div>
      <div class="lt" id="setImage2"></div>
      <div class="lt"><a href="javascript:void(0)" title=""><img src="/assets/provider_register/step_3inactive.png" id="img3" align="top" class="circleNumber" ></a></div>
      <div class="lt" id="setImage"></div>
      <div class="clear"></div>
      <div style="margin-top:3px;">
        <div class="lt setfont12" id="choose_text">Choose Plan</div>
        <div class="lt setfont12" id="plan_text"><b>Set up Profile</b></div>
        <div class="lt setfont12" id="payment_text">Add Payment Details</div>
        <div class="clear"></div>
      </div>
    </div>


    <!--start sponsor register form div-->


    <div id="sponsorDiv" style="display:block;">
      <div class="ProviderCenterContent" style="margin-bottom:35px;">
        <div class="innerMarketDiv" style="padding: 20px 10px 0 24px;">
          <%= form_for(@user_usr, :url => { :action => "provider_sponsor_submit" }, :html=>{:multipart=>true}) do |f| %>
            <div id="sponsor_first" style="display:block;">
              <div>
                <div class="lt" style="width: 461px;">
                  <p class="head" style="color:#186171;">Register as Provider</p>
                  <div class="marginTop14_provider">
                    <div class="lt leftSideField">Name</div>
                    <%= f.text_field :user_name,:id=>"p_name",:name=>"p_name",:value=>"#{@p_name}",:class=>"lt textbox_provider",:style=>"outline: none;",:onfocus=>"if(this.value == '#{@p_name}'){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}", :onblur=>"if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value='#{@p_name}'}",:onchange=>"removeunwantedSpace(this.value)", :tabindex => '1', :maxlength => 25 %>
                    <div class="clear"></div>
                  </div>
                  <div class="errorDiv" style="display:none">
                    <div class="lt leftSideField">&nbsp;</div>
                    <div class="lt" id="p_name_error"></div>
                  </div>
                  <div class="clear"></div>
                  <div class="marginTop15">
                    <div class="lt leftSideField">Password</div>
                    <%= f.password_field :user_password,:id=>"p_password",:name=>"p_password", :class=>"lt textbox_provider",:style=>"outline: none;",:onfocus=>"if(this.value == ''){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}", :onblur=>"if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value=''}", :tabindex => '3'%>
                    <div class="clear"></div>
                  </div>
                  <div class="errorDiv" style="display:none">
                    <div class="lt leftSideField">&nbsp;</div>
                    <div class="lt" id="p_password_error"></div>
                  </div>
                  <div class="clear"></div>
                  <%= f.fields_for :user_profile_pfl do |b| %>
                    <div class="marginTop15">
                      <div class="lt leftSideField">Business Name</div>

                      <%= b.text_field :business_name,:id=>"b_name",:name=>"b_name",:value=>"#{@buis_name}",:class=>"lt textbox_provider",:style=>"outline: none;",:onfocus=>"if(this.value == '#{@buis_name}'){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}", :onblur=>"if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value='#{@buis_name}'}",:onchange=>"removeunwantedSpace(this.value)", :tabindex => '5', :maxlength => 50 %>
                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="b_name_error"></div>
                    </div>
                    <div class="clear"></div>


                    <div class="marginTop15" >
                      <div class="lt leftSideField">Owner</div>
                      <%= b.text_field :owner_first_name,:id=>"p_owner_firstname",:name=>"p_owner_firstname",:value=>"#{@owner1}",:onfocus=>"if(this.value == '#{@owner1}'){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}", :onblur=>"if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value='#{@owner1}'}", :class=>"lt textbox_ownerprovider",:style=>"outline: none;", :tabindex => '7', :onchange => "validateOwnerFirstname()" , :maxlength => 25 %>

                      <%= b.text_field :owner_last_name,:id=>"p_owner_lastname",:name=>"p_owner_lastname",:value=>"#{@owner2}",:onfocus=>"if(this.value == '#{@owner2}'){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}", :onblur=>"if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value='#{@owner2}'}", :class=>"lt textbox_ownerprovider",:style=>"outline: none; margin-left:5px;", :tabindex => '8', :maxlength => 25, :onchange => "validateOwnerLastname()"%>
                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="p_owner_firstname_error" style="display: inline-block; float: left;width: 150px;"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt" id="p_owner_lastname_error" style="display: inline-block; float: right; margin-right:19px;width: 150px;"></div>
                      <div class="lt" style="margin-left: 8px;"></div>
                    </div>
                    <div class="clear"></div>

                  </div>


                  <div class="lt" style="width: 413px; padding: 20px 0 0 0px;">
                    <div class="marginTop15" style="width: 442px;">
                      <div class="lt leftSideField">Email</div>
                      <%= f.text_field :email_address,:id=>"p_email",:name=>"p_email",:value=>"#{@p_email}", :class=>"lt textbox_provider",:maxlength => 50,:style=>"outline: none;",:onfocus=>"if(this.value == '#{@p_email}'){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}", :onblur=>"if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value='#{@p_email}'}", :tabindex => '2'%>
                      <div class="clear"></div>
                    </div>
                    <% if @user_usr.errors.any? %>
                      <div id="error_explanation" class="errorDiv">
                        <div class="lt leftSideField">&nbsp;</div>
                        <% @user_usr.errors.each_with_index do |msg, i| %>
                          <div class ="setStyleEmail"><%= msg[1] %></div>
                        <% end %>
                      </div>
                    <% end %>
                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="p_email_error"></div>
                    </div>
                    <div class="clear"></div>

                    <div class="marginTop15" style="width:442px;">
                      <div class="lt leftSideField">Confirm Password</div>
                      <%= f.password_field :password,:id=>"p_confirm_password",:name=>"p_confirm_password", :class=>"lt textbox_provider",:style=>"outline: none;",:onfocus=>"if(this.value == ''){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}", :onblur=>"if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value=''}", :tabindex => '4'%>
                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="p_confirm_password_error"></div>
                    </div>
                    <div class="clear"></div>

                    <div class="marginTop14" style="width:442px;">
                      <div class="lt leftSideField">Business Logo</div>
                      <div class="lt FileUpload">
                        <input type="file" accept="image/*" onchange="document.getElementById('browse_photo_spo').value =this.value;fakepath(this.value)" size="21" id="photo" class="BrowserHidden" name="activity_image">
                        <div class="BrowserVisible" style="border:none;">
                          <input type="text" name="browse_photo_spo" id="browse_photo_spo" class="FileField"   tabindex="6"/>
                        </div>
                        <span class="browse"><img src="/assets/register/browse.png" width="76" height="30" /></span>
                        <div class="clear"></div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="b_logo_error"></div>
                    </div>
                    <p class="msg" style=" color: #FC8989; font-size: 12px;  font-weight: normal;margin-left: 135px;"></p>
                    <div class="clear"></div>


                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="p_admin_firstname_error" style="display: inline-block; float: left; width: 150px;"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt" id="p_admin_lastname_error" style="display: inline-block; float: right; margin-right:8px;width: 150px;"></div>
                      <div class="lt" style="margin-left: 8px;"></div>
                    </div>
                    <div class="clear"></div>

                    <div class="errorDiv" style="display:none">
                      <div class="lt errorDivProvider" id="admin_provider_error" style="margin-left: 160px;"></div>
                    </div>
                    <div class="clear"></div>

                  </div>
                  <div class="clear"></div>

                </div>
                <div>
                  <div class="lt" style="width: 460px;  margin-top: -10px;">
                    <p class="head" style="margin-top: 20px; color:#186171;">Billing Address</p>
                    <div class="marginTop14">
                      <div class="lt leftSideField">Address Line 1</div>
                      <%= b.text_field :address_1,:id=>"address1",:name=>"address1",:value=>"#{@add1}", :class=>"lt textbox_provider",:maxlength => 50,:style=>"outline: none;",:onfocus=>"if(this.value == '#{@add1}'){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}", :onblur=>"if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value='#{@add1}'}",:onchange=>"removeunwantedSpace(this.value)", :tabindex => '9'%>
                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="address1_error"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="marginTop14">
                      <div class="lt leftSideField">Country</div>
                      <div class="lt customCity">
                        <div class="selectBoxPCountry" onkeydown="selectCountryUsrKeyDown(event)" onmouseover="flag2=true;" onmouseout="flag2=false;">
                          <%if @country%>
                            <input type="hidden" id="p_country" name="country" value="<%= @country %>"/>
                            <div id="p_Countryfield" class="selectDiv" style="line-height:23px;" tabindex="11"><%= @country %></div>
                          <%else%>
                            <input type="hidden" id="p_country" name="country" value=""/>
                            <div id="p_Countryfield" class="selectDiv" style="line-height:23px;" tabindex="11">--Choose Country--</div>
                          <%end%>
                        </div>

                        <div class="dropDownDivProviderCountry" id="dropDownDiv2" style="display:none; height:29px;">
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setCountryProviderValue('United States')" tabindex="">United States</a>

                        </div>
                      </div>

                      <input type="hidden" name="bid_amount" value="<%= @bid_amount %>"/>
                      <input type="hidden" name="budget" value="<%= @budget %>"/>
                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="p_country_error"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="marginTop14" id="city_height">
                      <div class="lt leftSideField">City</div>
                      <div class="lt customCity">
                        <div class="selectBoxPCity" onkeydown="selectCityUsrKeyDown(event)" onmouseover="flag1=true;" onmouseout="flag1=false;">
                          <%if @city%>
                            <input type="hidden" id="p_city" name="city" value="<%= @city %>"/>
                            <div id="p_Cityfield" class="selectDiv" style="line-height:23px;" tabindex="13"><%= @city %></div>
                          <%else%>
                            <input type="hidden" id="p_city" name="city" value=""/>
                            <div id="p_Cityfield" class="selectDiv" style="line-height:23px;" tabindex="13">--Choose City--</div>
                          <%end%>
                        </div>

                        <div class="dropDownDivProviderCity" id="dropDownDiv1" style="display:none;">
                        </div>
                      </div>

                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none" id="cityError">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="p_city_error"></div>
                    </div>
                    <div class="clear"></div>


                    <div class="marginTop14">
                      <div class="lt leftSideField">Time Zone</div>
                      <div class="lt customCity">
                        <div class="selectBoxPTime" onkeydown="selectTimeUsrKeyDown(event)" onmouseover="flag3=true;" onmouseout="flag3=false;">
                          <%if @time_zone%>
                            <input type="hidden" id="p_time" name="time" value="<%= @time_zone %>"/>
                            <div id="p_timefield" class="selectDiv" style="line-height:23px;" tabindex="15"><%= @time_zone %></div>
                          <%else%>
                            <input type="hidden" id="p_time" name="time" value=""/>
                            <div id="p_timefield" class="selectDiv" style="line-height:23px;" tabindex="15">--Choose Time Zone--</div>
                          <%end%>
                        </div>

                        <div class="dropDownDivProviderCountry" id="dropDownDiv3" style="display:none; height:103px; overflow-y:scroll;">
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-11:00) Midway Island, Samoa',this)" tabindex="">(GMT-11:00) Midway Island, Samoa</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-10:00) Hawaii-Aleutian',this)" tabindex="">(GMT-10:00) Hawaii-Aleutian</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-10:00) Hawaii',this)" tabindex="">(GMT-10:00) Hawaii</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-09:30) Marquesas Islands',this)" tabindex="">(GMT-09:30) Marquesas Islands</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-09:00) Gambier Islands',this)" tabindex="">(GMT-09:00) Gambier Islands</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-09:00) Alaska',this)" tabindex="">(GMT-09:00) Alaska</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-08:00) Tijuana, Baja California',this)" tabindex="">(GMT-08:00) Tijuana, Baja California</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-08:00) Pitcairn Islands',this)" tabindex="">(GMT-08:00) Pitcairn Islands</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-08:00) Pacific Time (US and Canada)',this)" tabindex="">(GMT-08:00) Pacific Time (US and Canada)</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-07:00) Mountain Time (US and Canada)',this)" tabindex="">(GMT-07:00) Mountain Time (US and Canada)</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-07:00) Chihuahua, La Paz, Mazatlan',this)" tabindex="">(GMT-07:00) Chihuahua, La Paz, Mazatlan</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-07:00) Arizona',this)" tabindex="">(GMT-07:00) Arizona</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-06:00) Saskatchewan, Central America',this)" tabindex="">(GMT-06:00) Saskatchewan, Central America</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-06:00) Guadalajara, Mexico City, Monterrey',this)" tabindex="">(GMT-06:00) Guadalajara, Mexico City, Monterrey</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-06:00) Easter Island',this)" tabindex="">(GMT-06:00) Easter Island</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-06:00) Central Time (US and Canada)',this)" tabindex="">(GMT-06:00) Central Time (US and Canada)</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-05:00) Eastern Time (US and Canada)',this)" tabindex="">(GMT-05:00) Eastern Time (US and Canada)</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-05:00) Cuba',this)" tabindex="">(GMT-05:00) Cuba</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-05:00) Bogota, Lima, Quito, Rio Branco',this)" tabindex="">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-04:30) Caracas',this)" tabindex="">(GMT-04:30) Caracas</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-04:00) Santiago',this)" tabindex="">(GMT-04:00) Santiago</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-04:00) La Paz',this)" tabindex="">(GMT-04:00) La Paz</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-04:00) Faukland Islands',this)" tabindex="">(GMT-04:00) Faukland Islands</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-04:00) Brazil',this)" tabindex="">(GMT-04:00) Brazil</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-04:00) Atlantic Time (Goose Bay)',this)" tabindex="">(GMT-04:00) Atlantic Time (Goose Bay)</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-04:00) Atlantic Time (Canada)',this)" tabindex="">(GMT-04:00) Atlantic Time (Canada)</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-03:30) Newfoundland',this)" tabindex="">(GMT-03:30) Newfoundland</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-03:00) UTC-3',this)" tabindex="">(GMT-03:00) UTC-3</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-03:00) Montevideo',this)" tabindex="">(GMT-03:00) Montevideo</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-03:00) Miquelon, St. Pierre',this)" tabindex="">(GMT-03:00) Miquelon, St. Pierre</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-03:00) Greenland',this)" tabindex="">(GMT-03:00) Greenland</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-03:00) Buenos Aires',this)" tabindex="">(GMT-03:00) Buenos Aires</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-03:00) Brasilia',this)" tabindex="">(GMT-03:00) Brasilia</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-02:00) Mid-Atlantic',this)" tabindex="">(GMT-02:00) Mid-Atlantic</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-01:00) Cape Verde Is',this)" tabindex="">(GMT-01:00) Cape Verde Is</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT-01:00) Azores',this)" tabindex="">(GMT-01:00) Azores</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT) Greenwich Mean Time : Belfast',this)" tabindex="">(GMT) Greenwich Mean Time : Belfast</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT) Greenwich Mean Time : Dublin',this)" tabindex="">(GMT) Greenwich Mean Time : Dublin</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT) Greenwich Mean Time : Lisbon',this)" tabindex="">(GMT) Greenwich Mean Time : Lisbon</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT) Greenwich Mean Time : London',this)" tabindex="">(GMT) Greenwich Mean Time : London</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT) Monrovia, Reykjavik',this)" tabindex="">(GMT) Monrovia, Reykjavik</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna',this)" tabindex="">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague',this)" tabindex="">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+01:00) Brussels, Copenhagen, Madrid, Paris',this)" tabindex="">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+01:00) West Central Africa',this)" tabindex="">(GMT+01:00) West Central Africa</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+01:00) Windhoek',this)" tabindex="">(GMT+01:00) Windhoek</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+02:00) Beirut',this)" tabindex="">(GMT+02:00) Beirut</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+02:00) Cairo',this)" tabindex="">(GMT+02:00) Cairo</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+02:00) Gaza',this)" tabindex="">(GMT+02:00) Gaza</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+02:00) Harare, Pretoria',this)" tabindex="">(GMT+02:00) Harare, Pretoria</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+02:00) Jerusalem',this)" tabindex="">(GMT+02:00) Jerusalem</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+02:00) Minsk',this)" tabindex="">(GMT+02:00) Minsk</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+02:00) Syria',this)" tabindex="">(GMT+02:00) Syria</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+03:00) Moscow, St. Petersburg, Volgograd',this)" tabindex="">(GMT+03:00) Moscow, St. Petersburg, Volgograd</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+03:00) Nairobi',this)" tabindex="">(GMT+03:00) Nairobi</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+03:30) Tehran',this)" tabindex="">(GMT+03:30) Tehran</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+04:00) Abu Dhabi, Muscat',this)" tabindex="">(GMT+04:00) Abu Dhabi, Muscat</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+04:00) Yerevan',this)" tabindex="">(GMT+04:00) Yerevan</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+04:30) Kabul',this)" tabindex="">(GMT+04:30) Kabul</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+05:00) Ekaterinburg',this)" tabindex="">(GMT+05:00) Ekaterinburg</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+05:00) Tashkent',this)" tabindex="">(GMT+05:00) Tashkent</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi',this)" tabindex="">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+05:45) Kathmandu',this)" tabindex="">(GMT+05:45) Kathmandu</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+06:00) Astana, Dhaka',this)" tabindex="">(GMT+06:00) Astana, Dhaka</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+06:00) Novosibirsk',this)" tabindex="">(GMT+06:00) Novosibirsk</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+06:30) Yangon (Rangoon)',this)" tabindex="">(GMT+06:30) Yangon (Rangoon)</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+07:00) Bangkok, Hanoi, Jakarta',this)" tabindex="">(GMT+07:00) Bangkok, Hanoi, Jakarta</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+07:00) Krasnoyarsk',this)" tabindex="">(GMT+07:00) Krasnoyarsk</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi',this)" tabindex="">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+08:00) Irkutsk, Ulaan Bataar',this)" tabindex="">(GMT+08:00) Irkutsk, Ulaan Bataar</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+08:00) Perth',this)" tabindex="">(GMT+08:00) Perth</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+08:45) Eucla',this)" tabindex="">(GMT+08:45) Eucla</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+09:00) Osaka, Sapporo, Tokyo',this)" tabindex="">(GMT+09:00) Osaka, Sapporo, Tokyo</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+09:00) Seoul',this)" tabindex="">(GMT+09:00) Seoul</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+09:00) Yakutsk',this)" tabindex="">(GMT+09:00) Yakutsk</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+09:30) Adelaide',this)" tabindex="">(GMT+09:30) Adelaide</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+09:30) Darwin',this)" tabindex="">(GMT+09:30) Darwin</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+10:00) Brisbane',this)" tabindex="">(GMT+10:00) Brisbane</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+10:00) Hobart',this)" tabindex="">(GMT+10:00) Hobart</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+10:00) Vladivostok',this)" tabindex="">(GMT+10:00) Vladivostok</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+10:30) Lord Howe Island',this)" tabindex="">(GMT+10:30) Lord Howe Island</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+11:00) Solomon Is., New Caledonia',this)" tabindex="">(GMT+11:00) Solomon Is., New Caledonia</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+11:00) Magadan',this)" tabindex="">(GMT+11:00) Magadan</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+11:30) Norfolk Island',this)" tabindex="">(GMT+11:30) Norfolk Island</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+12:00) Anadyr, Kamchatka',this)" tabindex="">(GMT+12:00) Anadyr, Kamchatka</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+12:00) Auckland, Wellington',this)" tabindex="">(GMT+12:00) Auckland, Wellington</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+12:00) Fiji, Kamchatka, Marshall Is',this)" tabindex="">(GMT+12:00) Fiji, Kamchatka, Marshall Is</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+12:45) Chatham Islands',this)" tabindex="">(GMT+12:45) Chatham Islands</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+13:00) Nukualofa',this)" tabindex="">(GMT+13:00) Nuku'alofa</a>
                          <a href="javascript:void(0)"  rel="1" title="" onclick="setTimeProviderValue('(GMT+14:00) Kiritimati',this)" tabindex="">(GMT+14:00) Kiritimati</a>
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="p_time_error"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="marginTop15">
                      <div class="lt leftSideField">Mobile</div>

                      <%= b.text_field :mobile,:id=>"p_mobile",:name=>"p_mobile",:value=>"#{@mobile}", :class=>"lt textbox_provider",:maxlength => 50,:style=>"outline: none;",:onfocus=>"if(this.value == '#{@mobile}'){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}", :onblur=>"if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value='#{@mobile}'}",:onchange=>"removeunwantedSpace(this.value)", :tabindex => '17', :onchange =>"validateMobileNumber()"%>
                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="p_mobile_error"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="marginTop15">
                      <div class="lt leftSideField">Web Address</div>
                      <%= b.text_field :website,:id=>"web_addrs",:value=>"#{@web}",:name=>"web_addrs", :class=>"lt textbox_provider",:maxlength => 50,:style=>"outline: none;",:onfocus=>"if(this.value == '#{@web}'){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}", :onblur=>"if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value='#{@web}'}",:onchange=>"removeunwantedSpace(this.value)", :tabindex => '19'%>
                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="web_addrs_error"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="marginTop12">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt">
                        <input type="hidden" name="agree_provider" id="agree_provider" value="" />
                        <span  class="checkbox">
                          <a href="javascript:void(0)" title="" id="p_checkbox_selected" onclick="dispCheckboxImg('p_checkbox_selected')" onkeydown="ag_cb_keydown(event,'p_checkbox_selected')" style="display: none" tabindex="21"><img src="/assets/register/checkbox_selected.png" alt=""/></a>
                          <a href="javascript:void(0)" title="" id="p_checkbox_normal" onclick="dispCheckboxImg('p_checkbox_normal')" onkeydown="ag_cb_keydown(event,'p_checkbox_normal')" tabindex="20"><img src="/assets/register/checkbox_normal.png" alt=""/></a>
                          <a href="javascript:void(0)" title="" id="p_checkbox_error" onclick="dispCheckboxImg('p_checkbox_error')" onkeydown="ag_cb_keydown(event,'p_checkbox_error')"  tabindex="22" style="display: none"><img src="/assets/register/checkbox_error.png" alt=""/></a>
                        </span>
                        <p class="lt checkboxCont">I agree to the <a href="javascript:void(0)" onkeydown="termsKeyDown(event)" title="" tabindex="23">Terms of Service, Privacy &amp; Refund Policies</a></p>
                        <div class="clear"></div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="clear"></div>

                    <div class="errorDiv" style="display:none">
                      <div class="lt errorDivProvider" id="agree_provider_error" style="margin-left: 160px;"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="paddingTop20">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div style="width: 400px;*margin:-20px 0 0 134px; position: relative;">
                        <a href="javascript:void(0)" class="lt loginButton" tabindex="24" value="" title="Register"> <input type="submit" id="register_next_button"  width="95" height="33" alt="" value="" onclick="return validate_sponsor();"/></a>
                        <a href="/provider_register" title="" tabindex="25" style="display:inline-block;"><img src="/assets/register/cancel.png" width="95" height="33" alt="" class="lt" /></a>

                        <div class="clear"></div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="marginTop14">
                      <div class="lt leftSideField">&nbsp;</div>
                      <p class="alreadyText">Already have an account?  <a href="/login" title="" tabindex="26" onkeydown="signinKeyDown(event)">Login</a></p>
                      <div class="clear"></div>
                    </div>


                  </div>
                  <div class="lt" style="width: 434px; margin-top: -10px;">
                    <p class="head" style="margin-top: 20px;">&nbsp;</p>
                    <div class="marginTop15" style="width: 442px;">
                      <div class="lt leftSideField">Address Line 2</div>
                      <%= b.text_field :address_2,:id=>"address2",:name=>"address2",:value=>"#{@add2}", :class=>"lt textbox_provider",:maxlength => 50,:style=>"outline: none;",:onfocus=>"if(this.value == '#{@add2}'){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}", :onblur=>"if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value='#{@add2}'}",:onchange=>"removeunwantedSpace(this.value)", :tabindex => '10',:onchange => "addressLine2()"%>
                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none;">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="address2_error"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="marginTop14" style="width: 443px;">
                      <div class="lt leftSideField">State</div>
                      <div class="lt customCity">
                        <div class="selectBoxPState"  onkeydown="selectStateUsrKeyDown(event)"  onmouseover="flag0=true;" onmouseout="flag0=false;">
                          <%if @state%>
                            <input type="hidden" id="p_state" name="state" value="<%=@state%>"/>
                            <div id="p_Statefield" class="selectDiv" style="line-height:23px;" tabindex="12"><%=@state%></div>
                          <%else%>
                            <input type="hidden" id="p_state" name="state" value=""/>
                            <div id="p_Statefield" class="selectDiv" style="line-height:23px;" tabindex="12">--Choose State--</div>
                          <%end%>
                        </div>
                        <div class="dropDownDivProviderState" id="dropDownDiv" style="display:none;">
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="p_state_error"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="marginTop14" style="width: 442px;">
                      <div class="lt leftSideField">Zip Code</div>
                      <%= b.text_field :zip_code,:id=>"p_zipcode",:value=>"#{@zip}",:name=>"p_zipcode", :class=>"lt textbox_provider",:maxlength => 50,:style=>"outline: none;",:onfocus=>"if(this.value == '#{@zip}'){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}", :onblur=>"if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value='#{@zip}'}",:onchange=>"removeunwantedSpace(this.value)", :tabindex => '14'%>
                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="p_zipcode_error"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="marginTop15" style="width: 442px;">
                      <div class="lt leftSideField">Phone</div>
                      <%= b.text_field :phone,:id=>"p_phone",:name=>"p_phone",:value=>"#{@phone}", :class=>"lt textbox_provider",:maxlength => 50,:style=>"outline: none;",:onfocus=>"if(this.value == '#{@phone}'){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}", :onblur=>"if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value='#{@phone}'}",:onchange=>"removeunwantedSpace(this.value)", :tabindex => '16'%>
                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="p_phone_error"></div>
                    </div>

                    <div class="clear"></div>
                    <div class="marginTop15" style="width: 442px;">
                      <div class="lt leftSideField">Fax</div>
                      <%= b.text_field :fax,:id=>"p_fax",:name=>"p_fax",:value=>"#{@fax}", :class=>"lt textbox_provider",:maxlength => 50,:style=>"outline: none;",:onfocus=>"if(this.value == '#{@fax}'){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}", :onblur=>"if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value='#{@fax}'}",:onchange=>"removeunwantedSpace(this.value)", :tabindex => '18'%>
                      <div class="clear"></div>
                    </div>
                    <div class="errorDiv" style="display:none">
                      <div class="lt leftSideField">&nbsp;</div>
                      <div class="lt" id="p_fax_error"></div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>

              <div id="sponsorpaymentDiv" style="display:none;">
                <%= render :partial =>'provider_payment_details' %>
                <div class="clear"></div>
              </div>
              </form>
              <div class="clear"></div>
            </div>
          <%end%>
        <%end%>


        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>


    <div class="clear"></div>
    <!--end register form div-->
    <div class="clear"></div>


  </div>
</div>

<!--#include virtual="/icom_includes/bizo/tag.html"-->

<!-- START VIBRANT --><!--#include virtual="/includes/Vibrant.html" --><!-- END VIBRANT -->

<script language="JavaScript" type="text/javascript">
function fakepath(filepath)
{
	inputNode = filepath.replace('C:\\fakepath\\', '');	
	var pos = filepath.lastIndexOf( filepath.charAt( filepath.indexOf(":")+1) );
	var filename = filepath.substring( pos+1);
	
	var ua=navigator.userAgent;
	if(ua.indexOf("Firefox")!=-1){ 
		$("#browse_photo_spo").val(filepath); 
	} 
	else {
		$("#browse_photo_spo").val(filename);
	}
}
  var gDomain="www.qsstats.com";
  var gDcsId="dcs17vxkl10000wkxczu5l0wa_9y2e";
  var gFpc="WT_FPC";
  var gConvert=true;
  var gFpcDom = "webreference.com";
  if ((typeof(gConvert) != "undefined") && gConvert && (document.cookie.indexOf(gFpc + "=") == -1) && (document.cookie.indexOf("WTLOPTOUT=")==-1)) {
    document.write("<SCR"+"IPT TYPE='text/javascript' SRC='http"+(window.location.protocol.indexOf('https:')==0?'s':'')+"://"+gDomain+"/"+gDcsId+"/wtid.js"+"'><\/SCR"+"IPT>");
  }
  function dcsAdditionalParameters() {}





  function validate_sponsor(){
    var p_name = $("#p_name").val();
    p_name = p_name.replace(/^\s+|\s+$/g, "");

    var p_password = $("#p_password").val();
    var p_confirm_password = $("#p_confirm_password").val();
    var p_owner_firstname=$("#p_owner_firstname").val();
    var p_owner_lastname=$("#p_owner_lastname").val();
    var p_email=$("#p_email").val();
    var browse_photo_spo=$("#browse_photo_spo").val();
    var b_name= $("#b_name").val();
    var p_admin_firstname=$("#p_admin_firstname").val();
    var p_admin_lastname=$("#p_admin_lastname").val();
    var admin_provider = $("#admin_provider").val();
    var address1=$("#address1").val();
    var address2=$("#address2").val();
    var p_state=$("#p_state").val();
    var p_city=$("#p_city").val();
    var p_zipcode=$("#p_zipcode").val();
    var p_country=$("#p_country").val();
    var agree_provider = $("#agree_provider").val();
    var p_time = $("#p_time").val();
    var p_phone=$("#p_phone").val();
    var p_mobile=$("#p_mobile").val();
    var p_fax=$("#p_fax").val();
    var web_addrs=$("#web_addrs").val();

    b_name = b_name.replace(/^\s+|\s+$/g, "");
    p_fax = p_fax.replace(/^\s+|\s+$/g, "");
    address1 = address1.replace(/^\s+|\s+$/g, "");
    p_phone = p_phone.replace(/^\s+|\s+$/g, "");
    p_mobile = p_mobile.replace(/^\s+|\s+$/g, "");
    web_addrs = web_addrs.replace(/^\s+|\s+$/g, "");


    $("#username_usr").css("border","1px solid #BDD6DD");
    $("#p_name").css("border","1px solid #BDD6DD");
    $("#b_name").css("border","1px solid #BDD6DD");
    $("#p_password").css("border","1px solid #BDD6DD");
    $("#p_confirm_password").css("border","1px solid #BDD6DD");
    $("#browse_photo_spo").css("border","1px solid #BDD6DD");
    $("#p_owner_firstname").css("border","1px solid #BDD6DD");
    $("#p_owner_lastname").css("border","1px solid #BDD6DD");
    $("#p_admin_firstname").css("border","1px solid #BDD6DD");
    $("#p_admin_lastname").css("border","1px solid #BDD6DD");
    $("#admin_provider").css("border","1px solid #BDD6DD");
    $("#p_time").css("border","1px solid #BDD6DD");
    $("#web_addrs").css("border","1px solid #BDD6DD");
    $("#p_email").css("border","1px solid #BDD6DD");
    $("#p_phone").css("border","1px solid #BDD6DD");
    $("#p_mobile").css("border","1px solid #BDD6DD");
    $("#p_fax").css("border","1px solid #BDD6DD");
    $("#address1").css("border","1px solid #BDD6DD");
    $("#address2").css("border","1px solid #BDD6DD");
    $("#agree_provider").css("border","1px solid #BDD6DD");
    $("#p_zipcode").css("border","1px solid #BDD6DD");



    $("#p_name_error").html("");
    $("#b_name_error").html("");
    $("#p_password_error").html("");
    $("#p_confirm_password_error").html("");
    $("#p_owner_firstname_error").html("");
    $("#p_owner_lastname_error").html("");
    $("#p_email_error").html("");
    $("#b_logo_error").html("");
    $("#p_admin_firstname_error").html("");
    $("#p_admin_lastname_error").html("");
    $("#admin_provider_error").html("");
    $("#address1_error").html("");
    $("#address2_error").html("");
    $("#p_state_error").html("");
    $("#p_city_error").html("");
    $("#p_zipcode_error").html("");
    $("#p_country_error").html("");
    $("#agree_provider_error").html("");
    $("#p_time_error").html("");
    $("#p_phone_error").html("");
    $("#p_mobile_error").html("");
    $("#p_fax_error").html("");
    $("#web_addrs_error").html("");

    /*
    $("#p_language_error").html("");
      $("#p_admin_error").html("");*/

    $("#p_name_error").parent().css("display","none");
    $("#b_name_error").parent().css("display","none")
    $("#p_email_error").parent().css("display","none");
    $("#p_password_error").parent().css("display","none");
    $("#p_confirm_password_error").parent().css("display","none");
    // $("#p_owner_firstname_error").parent().css("display","none");
    $("#p_owner_lastname_error").parent().css("display","none");
    $("#b_logo_error").parent().css("display","none");
    //$("#p_admin_firstname_error").parent().css("display","none");
    $("#p_admin_lastname_error").parent().css("display","none");
    $("#admin_provider_error").parent().css("display","none");
    $("#address1_error").parent().css("display","none");
    $("#address2_error").parent().css("display","none");
    $("#p_state_error").parent().css("display","none");
    $("#p_city_error").parent().css("display","none");
    $("#p_zipcode_error").parent().css("display","none");
    $("#p_country_error").parent().css("display","none");
    $("#agree_provider_error").parent().css("display","none");
    $("#p_time_error").parent().css("display","none");
    $("#p_phone_error").parent().css("display","none");
    $("#p_mobile_error").parent().css("display","none");
    $("#p_fax_error").parent().css("display","none");
    $("#web_addrs_error").parent().css("display","none");

    /*
    $("#p_owner_error").parent().css("display","none");
    $("#p_language_error").parent().css("display","none");
    /*$("#p_admin_error").parent().css("display","none");*/

    var errorFlag = false;
    //$("#city_height").css("margin-top","18px");

    if(p_name == "" || p_name == "Eg: John Smith"){
      $("#p_name").css("border","1px solid #fc8989");
      $("#p_name_error").html("Please enter your name");
      $("#p_name_error").parent().css("display","block");
      errorFlag = true;
    }
    else if(!validateName(p_name)){
      $("#p_name").css("border","1px solid #fc8989");
      $("#p_name_error").html("Please Use Only Alphabets");
      $("#p_name_error").parent().css("display","block");
      errorFlag = true;
    }
    else if(p_name.length>25){
      $("#p_name").css("border","1px solid #fc8989");
      $("#p_name_error").html("Please Do Not Exceed 25 Characters");
      $("#p_name_error").parent().css("display","block");
      errorFlag = true;
    }

    if(b_name =="" || b_name == "Enter the Name Of your business"){
      $("#b_name").css("border","1px solid #fc8989");
      $("#b_name_error").html("Please enter the business name");
      $("#b_name_error").parent().css("display","block");
      errorFlag = true;
    }

    else if(!validateName(b_name)){
      $("#b_name").css("border","1px solid #fc8989");
      $("#b_name_error").html("Please Use Only Alphabets");
      $("#b_name_error").parent().css("display","block");
      errorFlag = true;
    }
    else if(b_name.length>50){
      $("#b_name").css("border","1px solid #fc8989");
      $("#b_name_error").html("Please Do Not Exceed 50 Characters");
      $("#b_name_error").parent().css("display","block");
      errorFlag = true;
    }

    if (p_password == "" ||  p_password == "password"){
      $("#p_password").css("border","1px solid #fc8989");
      $("#p_password_error").html("Please enter the password");
      $("#p_password_error").parent().css("display","block");
      errorFlag = true;
    }
    else if(p_password.length<8){
      $("#p_password").css("border","1px solid #fc8989");
      $("#p_password_error").html("Must Have At least 8 Characters");
      $("#p_password_error").parent().css("display","block");
      errorFlag = true;
    }
    if(p_confirm_password ==""){
      $("#p_confirm_password").css("border","1px solid #fc8989");
      $("#p_confirm_password_error").html("Please enter the correct confirm password");
      $("#p_confirm_password_error").parent().css("display","block");
      errorFlag = true;
    }
    else if(p_confirm_password != p_password){
      $("#p_confirm_password").css("border","1px solid #fc8989");
      $("#p_confirm_password_error").html("Please enter the correct confirm password");
      $("#p_confirm_password_error").parent().css("display","block");
      errorFlag = true;
    }
    if(p_email == "" || p_email=="Eg:john@gmail.com"){
      $("#p_email").css("border","1px solid #fc8989");
      $("#p_email_error").html("Please enter your Email");
      $("#p_email_error").parent().css("display","block");
      errorFlag = true;
    }
    else if(!validateCorrectEmail(p_email)){
      $("#p_email").css("border","1px solid #fc8989");
      $("#p_email_error").html("Please Check The Email Entered");
      $("#p_email_error").parent().css("display","block");
      errorFlag = true;
    }
    /*else if(!validateDot(p_email)){
      $("#p_email").css("border","1px solid #fc8989");
      $("#p_email_error").html("Please Check The Email Address Entered");
      $("#p_email_error").parent().css("display","block");
      errorFlag = true;
    }*/
    if(browse_photo_spo == ""){
      $("#browse_photo_spo").css("border","1px solid #fc8989");
      $("#b_logo_error").parent().css("display","block");
      $("#b_logo_error").html("Please select the image to upload");
      errorFlag = true;
    }
    if(browse_photo_spo != ""){
      val = validateBrowse();
      if(!val){
        $('#b_logo_error').html('Please Check The Format Of Your Logo');
        errorFlag = true;
      }
    }
    if(p_admin_firstname == "" || p_admin_firstname == "First Name" ){
      $("#p_admin_firstname").css("border","1px solid #fc8989");
      $("#p_admin_firstname_error").parent().css("display","block");
      $("#p_admin_firstname_error").html("Please enter the first name");
      //$("#p_admin_lastname_error").css('marginLeft','298px');

      errorFlag = true;
    }
    if(p_admin_lastname == "" || p_admin_lastname == "Last Name" ){

      $("#p_admin_lastname").css("border","1px solid #fc8989");
      $("#p_admin_lastname_error").parent().css("display","block");
      $("#p_admin_lastname_error").html("Please enter the last name");
      $(".marginTop12").css('marginTop','-5px');
      $(".marginTop12").css('float','left');
      errorFlag = true;
    }
    if(p_owner_firstname != "First Name" ){
      if(!validateName(p_owner_firstname)){
        $("#p_owner_firstname").css("border","1px solid #fc8989");
        $("#p_owner_firstname_error").parent().css("display","block");
        $("#p_owner_firstname_error").html("Please enter the valid name");
        errorFlag = true;
      }
      if(p_owner_firstname.length>25){
        $("#p_owner_firstname").css("border","1px solid #fc8989");
        $("#p_owner_firstname_error").parent().css("display","block");
        $("#p_owner_firstname_error").html("Please Do Not Exceed 25 Characters");
        errorFlag = true;

      }
    }

    if(p_owner_lastname != "Last Name" ){
      if(!validateName(p_owner_lastname)){
        $("#p_owner_lastname").css("border","1px solid #fc8989");
        $("#p_owner_lastname_error").parent().css("display","block");
        $("#p_owner_lastname_error").html("Please enter the valid name");
        errorFlag = true;
      }
      if(p_owner_lastname.length>25){
        $("#p_owner_lastname").css("border","1px solid #fc8989");
        $("#p_owner_lastname_error").parent().css("display","block");
        $("#p_owner_lastname_error").html("Please Do Not Exceed 25 Characters");
        errorFlag = true;
      }

    }
    if(address1 == ""){
      $("#address1").css("border","1px solid #fc8989");
      $("#address1_error").parent().css("display","block");
      $("#address1_error").html("Please enter the address line1");

      errorFlag = true;
    }
    if(p_state == "" || p_state == "--Choose State--"){
      $(".selectBoxPState").css("border","1px solid #fc8989");
      $("#p_state_error").parent().css("display","block");
      $("#p_state_error").html("Please select the state");
      errorFlag = true;
    }

    if(p_city == "" || p_city == "--Choose City--"){
      $(".selectBoxPCity").css("border","1px solid #fc8989");
      $("#p_city_error").parent().css("display","block");
      $("#p_city_error").html("Please select the city");
      errorFlag = true;
    }
    if(p_phone=="Enter Your Phone Number" || p_phone==""){
      $("#p_phone").css("border","1px solid #fc8989");
      $("#p_phone_error").parent().css("display","block");
      $("#p_phone_error").html("Please enter phone number");
      errorFlag = true;
    }
    if(p_phone!=""){
      if(validatePhone(p_phone)){
        $("#p_phone").css("border","1px solid #fc8989");
        $("#p_phone_error").parent().css("display","block");
        $("#p_phone_error").html("Please enter valid phone number");
        errorFlag = true;
      }
    }
	
    if(p_mobile=="Enter Your Mobile Number" || p_mobile==""){
      $("#p_mobile").css("border","1px solid #fc8989");
      $("#p_mobile_error").html("Please enter mobile number");
      $("#p_mobile_error").parent().css("display","block");
      errorFlag = true;
    }
    if(p_mobile !=""){
      if(validatePhone(p_mobile)){
        $("#p_mobile").css("border","1px solid #fc8989");
        $("#p_mobile_error").html("Please enter mobile number");
        $("#p_mobile_error").parent().css("display","block");
        errorFlag = true;
      }
    }
    /*if(p_fax == "" || p_fax == "Enter Your Fax Number"){
        $("#p_fax").css("border","1px solid #fc8989");
        $("#p_fax_error").parent().css("display","block");
        $("#p_fax_error").html("Please enter fax number");
        errorFlag = true;
    }*/
    if(p_fax != "Enter Your Fax Number"){
      if(isNaN(p_fax)){
        $("#p_fax").css("border","1px solid #fc8989");
        $("#p_fax_error").parent().css("display","block");
        $("#p_fax_error").html("Please enter fax number");
        errorFlag = true;
      }
    }
    /*if(web_addrs == "" || web_addrs== "Enter The URL Of Your Website"){
        $("#web_addrs").css("border","1px solid #fc8989");
        $("#web_addrs_error").parent().css("display","block");
        $("#web_addrs_error").html("Please enter the web address");
        errorFlag = true;
    }*/    
    if(web_addrs!= "Enter The URL Of Your Website"){
      if(!ValidateWebAddress(web_addrs)){
        $("#web_addrs").css("border","1px solid #fc8989");
        $("#web_addrs_error").parent().css("display","block");
        $("#web_addrs_error").html("Please enter the valid web address");
        errorFlag = true;
      }
    }
    if(p_zipcode == "Enter Zip Code"){
      $("#p_zipcode").css("border","1px solid #fc8989");
      $("#p_zipcode_error").parent().css("display","block");
      $("#p_zipcode_error").html("Please enter the Zipcode");
      errorFlag = true;
    }
    else if(!validateZipcode(p_zipcode)){
      $("#p_zipcode").css("border","1px solid #fc8989");
      $("#p_zipcode_error").html("Please enter the valid Zipcode");
      $("#p_zipcode_error").parent().css("display","block");
      errorFlag = true;
    }


    if(p_country == "" || p_country == "--Choose Country--"){
      $(".selectBoxPCountry").css("border","1px solid #fc8989");
      $("#p_country_error").parent().css("display","block");
      $("#p_country_error").html("Please select the country");
      errorFlag = true;
    }

    /*    if(p_time =="" || p_time!= "--Choose Time Zone--"){
        $(".selectBoxProvider").css("background","url('/assets/register/select_box_error.png') no-repeat");
        $(".selectBoxPTime").css("border","1px solid #fc8989");
        $("#p_time_error").parent().css("display","block");
        $("#p_time_error").html("Please select the time zone");
        errorFlag = true;
    }
     */   if (agree_provider == ""){
      $('#p_checkbox_error').css('display','block');
      $('#p_checkbox_normal').css('display','none');
      $("#agree_provider_error").html("Please Check The Terms Of Service");
      $("#agree_provider_error").parent().css("display","block");
      //$("#p_checkbox_normal").css("border","1px solid #fc8989");
      errorFlag = true;
    }


    if(errorFlag){
	
      return false;
    }
    else{
      var p_email = $("#p_email").val();
      $.ajax({
        type: "POST",
        url: "users/user_exist",
        data: {
          "email": p_email
        },
        dataType : 'json',
        iframe: 'true',
        cache: false,
        success: function(data){
          if (data=="failed"){
            $("#p_email").css("border","1px solid #fc8989");
            $("#p_email_error").html("Already exist this Email");
            $("#p_email_error").parent().css("display","block");

          }
          else{
            $("#sponsor_first").css("display","none");
            $("#sponsorpaymentDiv").css("display","block");
            $("#img3").attr("src","/assets/provider_register/step_3active.png");
            $("#payment_text").css("font-weight","bold");
            $("#img2").attr("src","/assets/provider_register/step_2inactive.png");
            $("#plan_text").css("font-weight","normal");
          }
        }
      });
      return false;
    }
    function validateCorrectEmail(elementValue){
      var emailPattern = /^([a-zA-Z0-9]+([~{|}`^?=+*'#$!%._-]{0,1}[a-zA-Z0-9]+)*)@(([a-zA-Z0-9]+([._-]{0,1}[a-zA-Z0-9]+)*)+(?:[\w-]+\.)*\w[\w-]{0,66})\.([a-zA-Z]{2,3}(?:\.[a-zA-Z]{2,3})?)$/;
      return emailPattern.test(elementValue);
    } 
    function validatePhone(p_phone) {
      /*var filter = /^[0-9+]+$/;*/
      var filter = /^[a-zA-Z]+$/;
      return filter.test(p_phone);
    }
    function validateMobile(txtMobile) {
      var filter1 = /^[0-9-+]+$/;
      return filter1.test(txtMobile);
    }
    function validateBrowse(){
      var fup = document.getElementById('browse_photo_spo');
      var fileName = fup.value;
      var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
      if(ext == "gif" || ext == "GIF" || ext == "JPEG" || ext == "jpeg" || ext == "jpg" || ext == "JPG" || ext == "png" || ext == "PNG")
      {
        //errorFlag = false;
        return true;
      }
      else
      {
        $('#b_logo_error').parent().css("display","block");
        $("#browse_photo").css("border","1px solid #fc8989");
        $('#b_logo_error').html('Please Check The Format Of Your Logo');
        return false;
      }
    }
 


  }
</script>



