<div class="top_info_text">
  <div class="businness_font" style="margin-bottom:20px;"><b>Business Details</b></div>
  
  <table cellpadding="0" cellspacing="0" border="0" width="622" style="margin: 0 auto;">
    <tr>
       <td width="69" valign="top">
      	<% if !current_user.nil? && !current_user.user_profile.nil? && !current_user.user_profile.profile_file_name.blank? %>
          <%= image_tag(current_user.user_profile.profile.url(:small), :width => 69 )%>   
      	<% else %> 
          <%= image_tag("/assets/profile/user_icon_69.png", size:"69x69", style:"border:1px solid #CEE1E8;")%>
        <%end%>
	   </td>
  
  <td  valign="top">
    <div class="profileRt">
      <table cellpadding="0" cellspacing="0" width="485" >
	      <% if !@user_profile.nil? && !@user_profile.business_name.nil? && @user_profile.business_name.present?%>
            <tr>
              <td class="profile_font_border profile_font_rtColor" style="color:#5099AC;" colspan="2"><b>
                <%=@user_profile.business_name if !@user_profile.nil? %></b>
	           </td>             
            </tr>
	      <% end %> 
        <% if !@user_profile.nil? && !@user_profile.owner_first_name.nil? && @user_profile.owner_first_name.present?%>
          <tr>
            <td class="profile_font" height="26" width="175"><b>Owner</b></td> 
            <td class="profile_font_rtColor" width="330"><%=@user_profile.owner_first_name if !@user_profile.nil? %> <%=@user_profile.owner_last_name if !@user_profile.nil? %></td>
          </tr>
        <% end %>
        <% if !@user_profile.nil? && !@user_profile.first_name.nil? && @user_profile.first_name.present?%>
          <tr>  
            <td class="profile_font" height="26" width="175"><b>Administrator</b></td>
            <td class="profile_font_rtColor" width="330"><%=@user_profile.first_name if !@user_profile.nil? %> <%=@user_profile.last_name if !@user_profile.nil? %></td>
          </tr> 
        <% end %>            
        <% if !@user_profile.nil? && !@user_profile.website.nil? && @user_profile.website.present?%>
          <tr>
            <td class="profile_font" height="30" width="175"><b>Website</b></td>
            <td class="profile_font_rtColor" width="330"><u><%=@user_profile.website if !@user_profile.nil? %></u>
            </td>
          </tr>
        <% end %>
        <% if !@user_profile.nil? && !@user_profile.phone.nil? && @user_profile.phone.present?%>
          <tr>
            <td class="profile_font" height="26" width="175"><b>Phone Number</b></td>
            <td class="profile_font_rtColor" width="330"><%=@user_profile.phone if !@user_profile.nil? %></td>
          </tr>
        <% end %>
        <% if !@user_profile.nil? &&!@user_profile.mobile.nil? && @user_profile.mobile.present?%>
          <tr>
            <td class="profile_font" height="26" width="175"><b>Mobile Number</b></td>
            <td class="profile_font_rtColor" width="330"><%=@user_profile.mobile if !@user_profile.nil? %></td>
          </tr>
        <% end %>
        <% if !@user_profile.nil? && !@user_profile.fax.nil? && @user_profile.fax.present?%>
          <tr>
            <td class="profile_font_border" height="26" width="175"><b>Fax Number</b></td>
            <td class="profile_font_border profile_font_rtColor" width="330" style="color: #5099AC;"><%=@user_profile.fax if !@user_profile.nil? %></td>
          </tr>
        <% end %>
	      <% if !@user_profile.nil? && !@user_profile.category.nil? && !@user_profile.sub_category.nil? && @user_profile.category.present? && @user_profile.sub_category.present?%>
	       <tr>
          <td class="profile_font" height="18" width="175" style="padding-bottom:10px;"><b>Category &amp; Sub Category</b></td>
          <td class="profile_font_rtColor" width="330" style="padding-bottom:10px;"><%= @user_profile.category %> > <%= @user_profile.sub_category %></td>
        </tr>
        <% end %>
	       <% if !@user_profile.nil? && !@user_profile.tags_txt.nil? && @user_profile.tags_txt.present?%>
  		      <tr>
              <td class="profile_font" height="18" width="175" style="padding-bottom:10px;"><b>Tags</b></td>
              <td class="profile_font_rtColor" width="330" style="padding-bottom:10px;" title="<%=@user_profile.tags_txt if !@user_profile.nil? %>"><%= truncate(@user_profile.tags_txt,length: 40) if !@user_profile.nil? %></td>
            </tr>
          <% end %>
          <% if !@user_profile.nil? && !@user_profile.address_1.nil? && @user_profile.address_1.present?%>
		      <tr>
            <td class="profile_font" height="33" width="175"><b>Provider Location</b></td>
            <td class="profile_font_rtColor" width="330"><%=@user_profile.address_1 if !@user_profile.nil? %><% if ( !@user_profile.nil? && !@user_profile.address_2.blank?)%>,<%=@user_profile.address_2%><% end %>,<%=@user_profile.city if !@user_profile.nil? %></td>
          </tr>
          <% end %>

          <% if !@user_profile.nil? && !@user_profile.business_language.nil? && @user_profile.business_language.present?%>
		      <tr>
            <td class="profile_font" height="18" width="175" style="padding-bottom:10px;"><b>Language</b></td>
            <td class="profile_font_rtColor" width="330" style="padding-bottom:10px;"><%=@user_profile.business_language if !@user_profile.nil? %></td>
          </tr>
          <% end %>
  
    <!--    <% if !@user_profile.nil? && !@user_profile.time_zone.nil? %>
			      <tr>
              <td class="profile_font" height="35" width="175"><b>Time Zone</b></td>  
              <td class="profile_font_rtColor" width="330" ><%=@user_profile.time_zone if !@user_profile.nil? %></td>
            </tr>
            <% end %>            
            <% if !@user_profile.nil? && !@user_profile.currency.nil? %>
			      <tr>
              <td class="profile_font" height="21" width="175" style="padding-bottom:10px;"><b>Currency</b></td>
              <td class="profile_font_rtColor" width="330" style="padding-bottom:10px;"><%=@user_profile.currency if !@user_profile.nil? %></td>
            </tr>
            <% end %> -->
         
          </table>
       </div>
	<br/>
	<div class="profileRt">
          <table cellpadding="0" cellspacing="0" width="485" >           
	  <tr>
              <td class="profile_font_border" width="170" style="border:none;"><b>Email</b></td>
              <td class="profile_font_rtColor" width="215" style="color: #5099AC;width:215px;padding-bottom: 10px;"><a style="color: #5099AC;" href="mailto:<%=current_user.email_address if !current_user.email_address.nil? %>" title=""><%=current_user.email_address if !current_user.email_address.nil? %></a></td>
	    <td style="padding-bottom: 10px;"><a onclick="pop_change_email('/change_email');" href="javascript:void(0);" title="Change Email">
        <%= image_tag("/assets/form_builder/edit_icon.png", size:"15x15",alt:"Edit")%>
        </a>&nbsp;</td>
	    <td style="padding-bottom: 10px;"><a onclick="pop_change_email('/change_email');" href="javascript:void(0)" style="color:#5099AC" title="Change Email"><b>Change Email</b></p></td>
            </tr> 
	</table>
	</div>
      </td>
    </tr>
  </table>  
  <div class="edtiDiv" style="margin: 20px 0 20px 77px;">
  <a href="#" style="float:left;display:inline-block;" title="" onclick="pop_provider_edit_profile('/provider_edit_profile'); _gaq.push(['_trackEvent','Provider Module', 'clickMyAccounts','Edit Profile'])">
  <%= image_tag("/assets/register/edit_button.png")%>
   </a>
   <%@tran_id = UserTransaction.find_by_user_id(current_user.user_id) if !current_user.nil?%>
  <a href="<%if !@tran_id.nil? && @tran_id.present?%>/payment_setup<%else%>/get_credit_card_info<%end%>" class="businness_font" title="" style="margin:10px 0px 0px <%if !@tran_id.nil? && @tran_id.present?%>102px<%else%>85px<%end%>;font-size:14px;display:inline-block;float:left;">
      <b><%if !@tran_id.nil? && @tran_id.present?%>Click here to view Credit Card Information<%else%>Click here to update Credit Card Information<%end%></b>
  </a>
  <a href="/bank_info" class="businness_font" title="" style="margin:0px 0px 0px 153px;font-size:14px;display:inline-block;float:left;">
  <b>Click here to edit Bank Information</b>
  </a>
  <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>	