<%=stylesheet_link_tag "profile/profile","landing/how_it_works", :media => "all"%>
<%=javascript_include_tag "settings/contact_list", "global/jquery-1.9.1.min"%>
<style type="text/css" id="page-css">
  /* Styles specific to this particular page */
  .scroll-pane
  {
    width: 100%;
    height: 185px;
    overflow: auto;
  }
  .horizontal-only
  {
    height: auto;
    max-height: 185px;
  }
  
  /*****************/
  
.required {
    color: red;
    display: inline-block;
    font-size: 13px;
    left: 0;
    position: relative;
    top: 0;
}
</style>
<script type="text/javascript">

//this function called when u submit the form in provider setting page.
$(document).ready(function() {
    $('#change_password_form').submit(function (){
      var current_password= $("#current_password").val();
      var new_password= $("#new_pass").val();
      var confirm_password = $("#confirm_pass").val();
      var pwd = $("#pwd").val();

      $("#current_password").css("border","1px solid #BDD6DD");
      $("#new_pass").css("border","1px solid #BDD6DD");
      $("#confirm_pass").css("border","1px solid #BDD6DD");

      $("#current_password_error").html("");
      $("#new_pass_error").html("");
      $("#confirm_password_error").html("");

      $("#current_password_error").parent().css("display","none");
      $("#new_pass_error").parent().css("display","none")
      $("#confirm_password_error").parent().css("display","none");


      var errorFlag = false;

      $("#current_password").css("border","1px solid #CDE0E6");
      $("#current_password_error").html("");
      $("#current_password_error").parent().css("display","none");
      $("#new_pass").css("border","1px solid #CDE0E6");
      $("#new_pass_error").html("");
      $("#new_pass_error").parent().css("display","none");
      $("#confirm_pass").css("border","1px solid #CDE0E6");
      $("#confirm_password_error").html("");
      $("#confirm_password_error").parent().css("display","none");

      current_password = current_password.replace(/^\s+|\s+$/g, "");
      if(current_password == ""  || current_password =="password"){
        $("#current_password").css("border","1px solid #fc8989");
        $("#current_password_error").html("Please enter current password");
        $("#current_password_error").parent().css("display","block");
        errorFlag = true;
      }
      else if(current_password != pwd ){
       // alert(pwd);
        //alert(current_password);
        $("#current_password").css("border","1px solid #fc8989");
        $("#current_password_error").html("Please enter your correct current password");
        $("#current_password_error").parent().css("display","block");
        errorFlag = true;
      }

      new_password = new_password.replace(/^\s+|\s+$/g, "");
      if(new_password == "" || new_password == "newpassword"){
        $("#new_pass").css("border","1px solid #fc8989");
        $("#new_pass_error").html("Please enter new password");
        $("#new_pass_error").parent().css("display","block");
        errorFlag = true;
      }
      else if(new_password.length<8){
        $("#new_pass").css("border","1px solid #fc8989");
        $("#new_pass_error").html("Must Have At least 8 Characters");
        $("#new_pass_error").parent().css("display","block");
        errorFlag = true;
      }
      else if(new_password == current_password){
        $("#new_pass").css("border","1px solid #fc8989");
        $("#new_pass_error").html("Your new password should be different");
        $("#new_pass_error").parent().css("display","block");
        errorFlag = true;
      }
      confirm_password = confirm_password.replace(/^\s+|\s+$/g, "");
      if(confirm_password == "" || confirm_password == "newpassword"){
        $("#confirm_pass").css("border","1px solid #fc8989");
        $("#confirm_password_error").html("Please enter confirm password");
        $("#confirm_password_error").parent().css("display","block");
        errorFlag = true;
      }
      else if(confirm_password != new_password){
        $("#confirm_pass").css("border","1px solid #fc8989");
        $("#confirm_password_error").html("Please enter the correct confirm new password");
        $("#confirm_password_error").parent().css("display","block");
        errorFlag = true;
      }

      if(errorFlag){
        return false;
      }
      else{
       $.post($(this).attr('action'), $(this).serialize(), function(){	  
		$("#current_password").val('');
		$("#new_pass").val('');
		$("#confirm_pass").val('');
		//$("#pwd").val('');
}, "script");
	   
       return false;
      }
    });
  });
 
 
   /*clear fields*/

  function clearpasswordfields(){
	  $("#current_password").val('');
	  $("#new_pass").val('');
	  $("#confirm_pass").val('');
      //$("#pwd").val('');
    $("#current_password").css("border","1px solid #BDD6DD");
    $("#new_pass").css("border","1px solid #BDD6DD");
    $("#confirm_pass").css("border","1px solid #BDD6DD");

    $("#current_password_error").html("");
    $("#new_pass_error").html("");

    $("#confirm_password_error").html("");

    $("#current_password_error").parent().css("display","none");
    $("#new_pass_error").parent().css("display","none")
    $("#confirm_password_error").parent().css("display","none");
    $('.success_update_info').css('display', 'none');

  }

  
</script>

<script type="text/javascript">
  var activitySupportPage;
  var inviteproviderPage;
  var EditparentprofilePage;
   //become a provider popup start 
  var LoginPage;

  function pop_Parent_Login(url){
    parentLoginPage = dhtmlmodal.open("Activity Detail ","iframe",url,"", "width=951px,height=2621px,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px; background:none;'", "recal");    
    $("html, body").animate({ scrollTop: 0 }, 100);   
    return false;
  }   

function pop_become_provider(url){
    becomeproviderPage = dhtmlmodal.open("Edit Activity","iframe",url," ", "width=900px,height=1050px,overflow:hidden,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px; background:none;'", "recal");
    $("html, body").animate({ scrollTop: 0 }, 100);
    //set height for iframe div
    var body = document.body,
    html = document.documentElement;
    var height = Math.max( body.scrollHeight, body.offsetHeight,
    html.clientHeight, html.scrollHeight, html.offsetHeight );
    $(".drag-contentarea").css("height",height+"px");
    
    return false;
  }

   //become a provider popup end
  function pop_support_form(url){
    activitySupportPage = dhtmlmodal.open("Delete Activity","iframe",url," ", "width=900px,height=1050px,overflow:hidden,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px; background:none;'", "recal");
    $("html, body").animate({ scrollTop: 0 }, 100);
    //set height for iframe div
    var body = document.body,
    html = document.documentElement;
    var height = Math.max( body.scrollHeight, body.offsetHeight,
    html.clientHeight, html.scrollHeight, html.offsetHeight );
    $(".drag-contentarea").css("height",height+"px");
		
    return false;
  }
  
    function pop_invite_provider(url){
    inviteproviderPage = dhtmlmodal.open("Edit Activity","iframe",url," ", "width=900px,height=1050px,overflow:hidden,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px; background:none;'", "recal");
    $("html, body").animate({ scrollTop: 0 }, 100);
    //set height for iframe div
    var body = document.body,
    html = document.documentElement;
    var height = Math.max( body.scrollHeight, body.offsetHeight,
    html.clientHeight, html.scrollHeight, html.offsetHeight );
    $(".drag-contentarea").css("height",height+"px");
		
    return false;
  }
    

  function pop_provider_edit_profile(url){
    EditparentprofilePage = dhtmlmodal.open("Edit Password ","iframe",url,"", "width=896px,height=2000px,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px; background:none;'", "recal");	
    $("html, body").animate({ scrollTop: 0 }, 100);
    //set height for iframe div
    var body = document.body,
    html = document.documentElement;
    var height = Math.max( body.scrollHeight, body.offsetHeight,
    html.clientHeight, html.scrollHeight, html.offsetHeight );
    $(".drag-contentarea").css("height",height+"px");
    return false;
  }
  //hide and reload the change password form
function reload(){
$('#cge_pwd_cfm').hide();
parent.location.reload(true);
}
  </script>


<div id="event_index_container">
<input type="hidden" id="actid_chk" name="actid_chk" value="" />

  <div id="how_it_worksDiv" class="SettingsDiv" style="padding-bottom:0px;">
    <div class="TopListText" align="center" style="width:100%; marign:0 auto; padding-top:21px; background:#F6F8F7;">

	<%if !@click_mode.nil? && @click_mode=="parent"%>
	<span><a href="/parent_profile" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Parent Module', 'clickSettings','Profile']);">Profile</a></span>
	<span class="dot menuText">&bull;</span>
	<span><a href="/change_password?mode=parent" class="menuText" onclick = "_gaq.push(['_trackEvent','Parent Module', 'clickSettings','Password']);"><b>Password</b></a></span>
	<span class="dot menuText">&bull;</span>
	<span><a href="/discount_dollars?mode=parent" class="menuText" onclick = "_gaq.push(['_trackEvent','Parent Module', 'clickSettings','Discount Dollars']);">Discount Dollars</a></span>
	<span class="dot selectedMenuText">&bull;</span>
	<span><a href="/parent_settings" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Parent Module', 'clickSettings','Settings']);">Settings</a></span>
	<%elsif !current_user.nil? && current_user.user_type=="P" %>	
	<span><a href="/provider?<%=current_user.user_profile.business_name.parameterize if !current_user.user_profile.nil? %>/<%=current_user.user_profile.city.parameterize if !current_user.user_profile.nil? %>" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Activity List']);">Activity List</a></span>
	<span class="dot menuText">&bull;</span>
	<span><a href="/provider_activites" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Activity Cards']);">Activity Cards</a></span>
	<span class="dot menuText">&bull;</span>
  <span><a href="/provider_activity_discount" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Activity Discount']);">Activity Discount</a></span><span class="dot menuText">&bull;</span>
	<span><a href="/activity_provider_schedule" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Schedule']);">Schedule</a></span>
	<span class="dot menuText">&bull;</span>
	<span><a href="/provider_profile" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Business Info']);">Business Info</a></span>
	<span class="dot menuText">&bull;</span>
	<span><a href="/provider_policies" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Policies']);">Policies</a></span>
	<span class="dot menuText">&bull;</span>
	<span><a href="/provider_plan" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Plan']);">Plan</a></span>
	<span class="dot menuText">&bull;</span>
	<span><a href="/change_password" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Change Password']);"><b>Password</b></a></span>
	<span class="dot menuText">&bull;</span>
	<span><a href="/provider_settings" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Settings']);">Settings</a></span>
	<span class="dot menuText">&bull;</span>
	<%if !params[:mode].nil? && params[:mode].downcase == 'parnt' %>
	<span><a href="/discount_dollars" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Dollars']);">Discount Dollars</a></span>	
	<span class="dot menuText">&bull;</span>
	<%end%>	
	<span><a href="/transaction" class="menuText" title="" onclick = "_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Reports']);">Reports</a></span>
	<span class="dot menuText">&bull;</span>
          <span><a href="javascript:void(0);" class="menuText" title="" onClick="pop_provider_embed_Detail('activity_detail/provider_embedded_link?activity_id=<%= get_embed_data if current_user.present? %>'); _gaq.push(['_trackEvent','Provider Module', 'clickSettings','Embed Link']);">Embed Link</a></span>

	<%end%>
	
    </div>    
    <div class="clear"></div>
    <div class="setTopBprder" style="padding-top:8px;"></div>

 <div class="top_info_text" style="width:829px; margin:0;">
  <div id="change_password">
    <input id="pwd" name="pwd" type="hidden" value="<%= Base64.decode64("#{current_user.user_password}")%>" />
    <form name="change_password_form" id="change_password_form" action="/update_userpassword" method="post" data-remote="true">

      <div class="paddingTop10_settings" style="width:829px;">
       
        <div class="clear"></div>
      </div>
      <div class="paddingTop10_settings"></div>
      <div class="paddingTop10_settings"></div>
      <div class="paddingTop10_settings">
        <div class="lt leftSideField" style="margin-left:7px;">&nbsp;</div>
        <div class="setLockBg">
          <div style="float:left; display:inline-block;">
            <%= image_tag("/assets/profile/privacy_lock.png")%>
          </div>
          <div class="lock_text" align="center">To Change your password, enter your current password in the field below</div>
        </div>
        <div class="clear"></div>
      </div>

      <!--<div class="paddingTop10_settings">
        <div class="lt leftSideField">&nbsp;</div>
        <div class="success_update_info" style="display:none;color:green;">Your password was successfully updated</div>
        <div class="clear"></div>
      </div>-->
      
       <!-- cge_pwd_cfm popup start -->
        <div id="cge_pwd_cfm">
          <div class="content_popup" style="display:block;"><br>Your password was successfully updated<br><br>
          <span class="b-close"><a href="javascript:void(0)" title="">
            <%= image_tag("/assets/register/ok_btn.png", :onClick=>"reload();")%>
          </a></span>
        </div>
        </div>
        <!-- cge_pwd_cfm popup end -->

      <div class="paddingTop10_settings">
        <div class="lt leftSideField" style="margin-left:6px;">Current Password<span class="required">*</span></div>
        <input type="password" name="user_password" id="current_password" value="" class="lt textbox" maxlength="25" onfocus="if(this.value == ''){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}" onchange="removeunwantedSpace(this.value)" onblur="if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value=''}"/>
        <div class="clear"></div>
      </div>

      <div class="clear"></div>
      <div class="errorDiv" style="display:none">
        <div class="lt leftSideField" style="margin-left:21px;">&nbsp;</div>
        <div class="lt" id="current_password_error"></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>

      <div class="paddingTop10_settings">
        <div class="lt leftSideField" style="margin-left:6px;">New Password<span class="required">*</span></div>
        <input type="password" name="new_pass" id="new_pass" value="" maxlength="25" class="lt textbox" onfocus="if(this.value == ''){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}" onchange="removeunwantedSpace(this.value)" onblur="if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value=''}"/>
        <div class="clear"></div>
      </div>

      <div class="clear"></div>
      <div class="errorDiv" style="display:none">
        <div class="lt leftSideField" style="margin-left:21px;">&nbsp;</div>
        <div class="lt" id="new_pass_error"></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>

      <div class="paddingTop10_settings">
        <div class="lt leftSideField" style="margin-left:6px;">Confirm New Password<span class="required">*</span></div>
        <input type="password" name="confirm_pass" id="confirm_pass" value="" class="lt textbox" maxlength="25" onfocus="if(this.value == ''){this.value=''; this.style.color='#444444'; this.style.border='1px solid #9fd8eb';}" onchange="removeunwantedSpace(this.value)" onblur="if (this.value == '') {this.style.color='#999999'; this.style.border='1px solid #BDD6DD';this.value=''}"/>
        <div class="clear"></div>
      </div>

      <div class="clear"></div>
      <div class="errorDiv" style="display:none">
        <div class="lt leftSideField" style="margin-left:21px;">&nbsp;</div>
        <div class="lt" id="confirm_password_error"></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div class="buttonDiv">
        <div class="lt leftSideField" style="margin-left:20px;">
          &nbsp;
        </div>
        <div class="lt"> 
          <input type="image" src="/assets/settings/save_button.png" width="113" height="41" alt="" />

          <a href="javascript:void(0)" onClick="clearpasswordfields()" onkeydown="cancelActivityClearData(event)">
            <%= image_tag("/assets/settings/cancel_button.png", size: "113x41")%>
          </a>
        </div>
        <div class="clear"></div>
      </div>
<br>
    </form>
  </div>
 <div style="height:150px;"></div>

</div>

	  <div class="clear"></div>
<div class="clear"></div>


</div>


