<%if @pro_discount_fees.length >= 1 %>
<div id="header_fee">
  <a onclick="open_add_discount()"><b>Add +</b></a>
</div>
<div id="scrolling_discs">
  <table>
    <%i = 1%>
    <%@pro_discount_fees.each do |s|%>
      <%if i==1%>
        <tr>
        <%end%>
        <td><div style="float: left; width: 16px;"><input type="checkbox" name="other_discount_1" value="<%=  s.provider_discount_code_type_id %>" onclick="modify_discount_fee('<%= s.provider_discount_code_type_id %>')" id="other_discount_<%= s.provider_discount_code_type_id %>" value="0"/>&nbsp;</div>
          <div style="float: left; "><a class="edit_fee_other" onclick="edit_discount_provider_fee('<%= s.provider_discount_code_type_id %>')"><%= s.code_name %></a></div>
          <% if !s.note.nil? && s.note!=""%>
            <div style="float: left;width: 25px;margin-left: 4px;" id="provider_event_list">

              <div id="menu_active" class="lt ActiveDivMenu">
                <ul>
                  <li><%=image_tag("/assets/provider_register/help.png", :width=>"17", :height=>"17", :style=>"cursor:pointer;")%>
                    <ul style="width: 215px;" class="sub-menu dispParticipantToll">
                      <li><%=  s.note%></li>
                    </ul>
                  </li>
                </ul>
                <div class="clear"></div>
              </div>
            </div>
          <%end%>
          <div style="float: left"><a class="edit_fee_other" onclick="delete_disc_provider_fee('<%= s.provider_discount_code_type_id %>')"><%=image_tag("/assets/create_new_activity/delete_fee_icon.png", :width=>"11", :height=>"11", :style=>"cursor:pointer;")%></a></div></td>
              <%i+=1%>
              <%if i>3%>
        </tr>
        <%i= 1%>
      <%end%>
    <%end%>
  </table>
</div>
<script type="text/javascript" >
  var fav = $("#add_otherdiscount_org").val();
  if (fav!=""){
    fav_cal = fav.split(",")
    jQuery.each(fav_cal, function(index, value) {
      $("#other_discount_"+value).attr('checked', true);
      //  $("#other_fee_"+value+" label").addClass('altCheckboxOn');
      //  $("#other_fee_"+value+" label").removeClass('altCheckboxOff');
    });
  }

  var rem_fav = $("#rem_otherdiscount_org").val();
  if (rem_fav!=""){
    rem_fav_cal = rem_fav.split(",")
    jQuery.each(rem_fav_cal, function(index, value) {
      $("#other_discount_"+value).attr('checked', false);
      // $("#other_fee_"+value+" label").addClass('altCheckboxOff');
      //$("#other_fee_"+value+" label").removeClass('altCheckboxOn');
    });
  }

</script>
<%else%>
 <div id="fee_text1"> No Discount code created. Create Discount code  for this activity</div>
<div id="fee_text2" onclick="open_add_discount()"> <b >+<b>&nbsp;Create Discount code </div>
<%end%>
