<%=stylesheet_link_tag "global/pop_up_success", :media => "all"%>
<script language="javascript">
  function closepopup(){
    parent.shareActivitySuccessPage.hide();
  }
</script> 
<div id="share_actvity_success">
  <div class="popupContainer">
    <div class="headTab">
      <div class="heading">
        <div class="headCont">Share Activity</div>
      </div>
      <div class="lt closeButton">
        <a href="javascript:void(0)" onClick="closepopup()" title="" class="lt">
          <%=image_tag("/assets/global/pop_up/button_close.png", :width=>"15", :height=>"15", :style=>"border:0px;")%>
        </a>
      </div>
      <div class="clear"></div>
    </div>
    <div align="center">
      <p class="successText" style="margin: 37px 0 49px;">Do you want to add this activity to <br>My Favourites <%= flowers = ["lily", "Jasmin", "Rose", "Lotus", "Kanagam", "Mullai"]
        flowers.each do |i|

        end  %></p>

      <div class="clear"></div>
      <a href="#"><%=image_tag("/assets/tickets/ok.png", :width=>"103", :height=>"41", :style=>"border:0px;", :onclick=>"closepopup();")%></a>
      <a href="#"><%=image_tag("/assets/tickets/cancel.png", :width=>"103", :height=>"42", :style=>"border:0px;", :onclick=>"closepopup();")%></a>

    </div>
  </div>
</div>
