<%= form_for(@default_filter) do |f| %>
  <% if @default_filter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@default_filter.errors.count, "error") %> prohibited this default_filter from being saved:</h2>

      <ul>
      <% @default_filter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :filter_id %><br />
    <%= f.number_field :filter_id %>
  </div>
  <div class="field">
    <%= f.label :filter_value %><br />
    <%= f.text_field :filter_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
