<h1>Listing default_filters</h1>

<table>
  <tr>
    <th>Filter</th>
    <th>Filter value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @default_filters.each do |default_filter| %>
  <tr>
    <td><%= default_filter.filter_id %></td>
    <td><%= default_filter.filter_value %></td>
    <td><%= link_to 'Show', default_filter %></td>
    <td><%= link_to 'Edit', edit_default_filter_path(default_filter) %></td>
    <td><%= link_to 'Destroy', default_filter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Default filter', new_default_filter_path %>
