<p id="notice"><%= notice %></p>

<p>
  <b>Attend:</b>
  <%= @activity_attend_detail.attend_id %>
</p>

<p>
  <b>Participant name:</b>
  <%= @activity_attend_detail.participant_name %>
</p>

<p>
  <b>Dob:</b>
  <%= @activity_attend_detail.dob %>
</p>

<p>
  <b>Age range:</b>
  <%= @activity_attend_detail.age_range %>
</p>

<p>
  <b>Gender:</b>
  <%= @activity_attend_detail.gender %>
</p>

<p>
  <b>Schedule:</b>
  <%= @activity_attend_detail.schedule_id %>
</p>

<p>
  <b>Image content type:</b>
  <%= @activity_attend_detail.image_content_type %>
</p>

<p>
  <b>Image file size:</b>
  <%= @activity_attend_detail.image_file_size %>
</p>

<p>
  <b>Image updated at:</b>
  <%= @activity_attend_detail.image_updated_at %>
</p>

<p>
  <b>Price:</b>
  <%= @activity_attend_detail.price %>
</p>

<p>
  <b>Activity:</b>
  <%= @activity_attend_detail.activity_id %>
</p>

<p>
  <b>User:</b>
  <%= @activity_attend_detail.user_id %>
</p>

<p>
  <b>Inserted date:</b>
  <%= @activity_attend_detail.inserted_date %>
</p>

<p>
  <b>Modified date:</b>
  <%= @activity_attend_detail.modified_date %>
</p>


<%= link_to 'Edit', edit_activity_attend_detail_path(@activity_attend_detail) %> |
<%= link_to 'Back', activity_attend_details_path %>
