<div style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#6A6A6A; background-color:#FBFBFB;border:1px solid #eaeaea;"> 
  <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr bgcolor="#DBEEF4">
      <td align="left" valign="top">&nbsp;</td>
      <td align="left" valign="top">&nbsp;</td>
      <td align="right" valign="middle">&nbsp;</td>
      <td align="right" valign="middle">&nbsp;</td>
    </tr>
    <tr bgcolor="#DBEEF4">
      <td width="1%" align="left" valign="top">&nbsp;</td>
      <td width="63%" align="left" valign="top">
        <%=image_tag("#{$image_global_path}assets/newsletter/fam_logo.png", :alt=>"Famtivity",  :height=>"69", :width=>"200")%>
      </td>
      <td width="35%" align="right" valign="middle">
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="left" valign="middle">
              <%=image_tag("#{$image_global_path}assets/newsletter/share_icon-_image.png", :height=>"24", :width=>"24", :border =>"0")%>
            </td>
            <td align="left" valign="middle"><span style="color:#77B2CC;">
                <a href="http://www.campaignonthecloud.com/Forwardmail.aspx?dbname=famtivity&amp;newsletterid=1118&amp;subject=The_Latest_Resources,_Weekend_Activities_&amp;_Specials" target="_blank" title="" style="color:#77B2CC; text-decoration:none;">
			Share with Friends</a></span></td>
          </tr>
        </table>
      </td>
      <td width="1%" align="right" valign="middle">&nbsp;</td>
    </tr>
    <tr bgcolor="#DBEEF4">
      <td align="left" valign="top">&nbsp;</td>
      <td align="left" valign="top">&nbsp;</td>
      <td align="right" valign="middle">&nbsp;</td>
      <td align="right" valign="middle">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td align="left" valign="top">&nbsp;</td>
      <td align="left" valign="top">&nbsp;</td>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td height="24" colspan="2" align="left" valign="middle"><span style="font-size:14px;">Here's your weekly <b>Grow Together newsletter</b> with awesome resources, weekend activities and provider specials. Enjoy!</span></td>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td height="24" colspan="2" align="left" valign="middle">
        <div style="border-bottom: 1px dashed #dddfdf; width:100%;">&nbsp;</div>
      </td>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td height="24" colspan="2" align="left" valign="middle">
        <span style="font-family: Arial; font-size: 18px; color: #4495ae; font-weight: bold;line-height: 30px; text-align: justify; margin-right: 8px;">Latest Articles</span>
      </td>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td height="24" colspan="2" align="center" valign="middle">
        <div style="font-family: Arial; font-size: 15px; color: #4495ae; font-weight: bold;line-height: 30px; text-align: left; margin-right: 8px;width:100%;margin: 0 auto;" >
          <div style="margin: 0px auto; max-width: 670px;background: #f0fafc;border:1px solid #dddfdf;border-bottom:none;" >
            <div style="width:32%;float: left; padding: 12px;" ><a target="_blank" href="http://blog.famtivity.com/cereal-for-dinner-again-6-guilt-freeing-tips/" >
              <%=image_tag("#{$image_global_path}assets/newsletter/latest_articles_1.png", :alt=>"Cereal for Dinner Again", :style=>"border: none;")%>
            </a></div>
            <div style="float: left; margin-left: 15px; margin-right: 10px; margin-top: 10px;max-width: 370px;">
              <div style="font-size:14px;color:#77b2cc;line-height:17px;" ><a style="text-decoration: none;font-size:14px;color:#77b2cc;font-weight:bold;" href="http://blog.famtivity.com/cereal-for-dinner-again-6-guilt-freeing-tips/" target="_blank" >Cereal for Dinner Again?: 6 Guilt-Freeing Tips</a></div>
              <div style="font-size:14px;color:#6A6A6A;float:left;font-size:12px;font-weight:normal;line-height:17px;margin-top: 10px;" >Are you one of those famlies (like ours) who occasionally have cereal for dinner?....</div>
              <div style="float:right;" ><a style="text-decoration: none;color:#ff0004;font-size:12px;font-weight:normal;" href="http://blog.famtivity.com/cereal-for-dinner-again-6-guilt-freeing-tips/" target="_blank" >Read More</a> </div>
            </div>
            <div style="clear:both;" ></div>
            <div style="border-bottom:1px dashed #DDDFDF;margin: 0 auto; width:97%;" ></div>
          </div>
          <div style="margin: 0px auto; max-width: 670px;background-color: #f0fafc;border:1px solid #dddfdf;border-top:none;" >
            <div style="width:32%;float: left; padding: 12px;" ><a target="_blank" href="http://blog.famtivity.com/how-to-nurture-your-childs-creativity-at-home/" >
              <%=image_tag("#{$image_global_path}assets/newsletter/latest_articles_2.png", :alt=>"How To Nurture Your Child", :style=>"border: none;")%>
            </a></div>
            <div style="float: left;margin-left: 15px;margin-right: 10px;margin-top: 10px;max-width: 370px;" >
              <div style="font-size:14px;color:#77b2cc;line-height:17px;" ><a style="text-decoration: none;font-size:14px;color:#77b2cc;font-weight:bold;" href="http://blog.famtivity.com/how-to-nurture-your-childs-creativity-at-home/" target="_blank" >How To Nurture Your Child's Creativity at Home</a></div>
              <div style="font-size:14px;color:#6A6A6A;float:left;font-size:12px;font-weight:normal;line-height:17px;margin-top:10px;" >Last week Dr. Dan wrote about why creativity is essential for your child's future ...
              </div>
              <div style="float:right;color:#ff0004;font-size:12px;font-weight:normal;" ><a style="text-decoration: none;color:#ff0004;font-size:12px;font-weight:normal;" href="http://blog.famtivity.com/how-to-nurture-your-childs-creativity-at-home/" target="_blank" >Read More</a> </div>
            </div>
            <div style="clear:both;" ></div>
          </div>
        </div>
      </td>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td height="24" colspan="2" align="left" valign="middle">
        <div style="border-bottom: 1px dashed #dddfdf; width:100%;">&nbsp;</div>
      </td>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td height="24" colspan="2" align="left" valign="middle">
        <div style="float:left; width:100%;">
          <div style="float:left;"><span style="font-family: Arial; font-size: 18px; color: #4495ae; font-weight: bold;line-height: 30px; text-align: justify; margin-right: 8px;;">Fun Weekend Activities</span>
          </div>
          <div style="float:right; font-family: Arial; font-size: 18px; color: #ff0004; font-weight: bold;line-height: 30px">
            <a href="<%= $image_global_path %>?newsletter=view" title="" target="_blank" style="color: #ff0004; text-decoration:none;">Choose an location for your newsletter</a>
          </div>
        </div>
      </td>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td height="24" colspan="2" align="center" valign="middle">
        <div style="margin:0 auto; max-width:670px;"> <!-- outer container start -->
          <% @fun_week = 3617,3618,3611,3564,3559,3496 %>
          <% !@spmail_fun = Activity.find_by_sql("select * from activities where activity_id in (3617,3618,3611,3564,3559,3496)")  if !@fun_week.nil?%>
          <%!@spmail_fun.nil? && @spmail_fun.each do |share|  %>
            <%@use = User.find_by_user_id(share.user_id) if !share.nil?%>
            <%act_det = ActivitySchedule.where("activity_id = ? AND expiration_date >= ?",share.activity_id,Date.today ) if !share.activity_id.nil?%>
            <% shedule_count=act_det.count%>
            <%@use_data = User.find_by_user_id(share.user_id) if !share.nil?%>
            <% @a_share = find_activity(share.activity_id) if !share.nil? && !share.activity_id.nil?%>
            <% @val_date=[]
            @discount_price = ActivityPrice.where("activity_id = ?", share.activity_id) if !share.activity_id.nil? && share.activity_id.present?
            @discount_price.each do |dprice|
              @dis_price=dprice.activity_discount_price
              @dis_price.each do |dprice|
                @early_bird_date = dprice.discount_valid.strftime("%Y-%m-%d") if !dprice.nil? && !dprice.discount_valid.nil?
                @max_date = @early_bird_date if !@early_bird_date.nil? && @early_bird_date.present? && @early_bird_date!=""
                @cday = Time.now.strftime("%Y-%m-%d")
                if !@early_bird_date.nil? && @early_bird_date.present? && @early_bird_date >= @cday
                  @val_date << "test"
                elsif !dprice.nil? && dprice.discount_valid.nil?
                  @val_date << "test"
                end
              end
            end %>
            <div style="width:200px; float:left; margin-right:10px; border:1px solid #dddfdf; background-color:#fff; padding:5px; color:#77b2cc ; height:320px; margin-bottom:10px; ">
              <table width="200" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center" valign="middle" height="190" style="border:1px solid #dddfdf; width:200px; ">
                    <div style="max-height:190px; overflow:hidden;">
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="center" valign="middle" height="190">
                            <a href="<%= $image_global_path %>/?mview=<%=share.activity_id unless share.nil? %>&v=0" title=""  style="display:block;" target="_blank">
                              <%if !share.avatar_file_name.nil? && share.avatar.present?%>
                                <%=image_tag("#{share.avatar.url(:thumb) unless share.nil?}", :border => "0", :style => "border:none;")%>
                              <%else%>
                               <%=image_tag("#{$image_global_path}assets/no_image.png", :alt=>"Loading...", :style=>"border: none;", :border => "0")%>
                              <%end%>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="middle" height="24">
                    <div style="margin-left:8px;"><a style="font-size:14px; color:#77b2cc;font-family:arial;font-weight: bold;" title="<%= share.activity_name %>"><%=truncate(share.activity_name, :length =>20, :omission => '...')%>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="middle"  height="30">
                    <div style="margin-left:8px;"><table border="0"  cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td align="left" valign="middle" width="60%" style="color:#77B2CC; font-size:12px;">
                            <% if share.schedule_mode.downcase!='any time' && !shedule_count.nil? && shedule_count>1%>
                                                                    $ Price Details
                            <%elsif !share.price_type.nil? && share.price_type == "1"  || share.price_type == "2"%>
                              <%@price_det = get_activity(share.activity_id) if !share.nil? && !share.activity_id.nil?%>
                              <%if !@price_det.nil? && @price_det.present? && @price_det.length>1%>
                                                                              $ Price Details
                              <%elsif !@price_det.nil? && @price_det.present? && @price_det.length==1 %>
                                                                              $ <%=number_with_precision @price_det[0].price , :precision => 2  if !@price_det.nil?%>
                              <%end%>
                            <%elsif !share.price_type.nil? && share.price_type == "2"%>
                                                                    $ <%= number_with_precision share.price, :precision => 2 %>
                            <%elsif !share.price_type.nil? && share.price_type == "3" || share.filter_id == "3" || share.created_by.downcase == "parent"%>
                                                                    $ Free
                            <%elsif !share.price_type.nil? && share.price_type == "4"%>
                                                                    $  Contact Provider
                            <% elsif share.price.present? && !share.price.nil?  && share.price!=0%>
                                                                    $ <%= number_with_precision share.price, :precision => 2 %>
                            <%end%>
                          </td>
                          <td align="left" valign="middle" width="40%">
                            <%if !@use.nil? && !@use.user_flag.nil? && @use.user_flag == false%>
                              <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" title="Get info" ><%=image_tag("#{$image_global_path}assets/newsletter/get_info_button.png", :width => "68", :height => "24", :target => "_blank")%></a>
                            <%elsif  !share.nil? && !share.price_type.nil? && share.price_type == "4"%>
                              <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" title="Get info" ><%=image_tag("#{$image_global_path}assets/newsletter/get_info_button.png", :width => "68", :height => "24", :target => "_blank")%></a>
                            <%elsif !share.nil? && !share.schedule_mode.nil? && share.schedule_mode.downcase == "by appointment"%>
                              <%= render :partial =>"newsletters/schedule_expiry" %>
                            <%elsif @use.user_plan == "sell" || share.created_by == "Parent"%>
                              <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" title="Get info" ><%=image_tag("#{$image_global_path}assets/newsletter/get_info_button.png", :width => "68", :height => "24", :target => "_blank")%></a>
                              <%if share[:created_by] == "Parent"%>
                                <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" title="Buy Now" ><%=image_tag("#{$image_global_path}assets/card_images/buy_now.png", :width => "78", :height => "21")%></a>
                              <%elsif !@share.nil? && @share.present? &&  @a_share.present?%>
                                <%= render :partial =>"newsletters/schedule_expiry" %>
                              <%else%>
                                <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" title="Get info" ><%=image_tag("#{$image_global_path}assets/newsletter/get_info_button.png", :width => "68", :height => "24", :target => "_blank")%></a>
                              <%end%>
                            <%else%>
                              <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" title="Get info" ><%=image_tag("#{$image_global_path}assets/newsletter/get_info_button.png", :width => "68", :height => "24", :target => "_blank")%></a>
                            <%end%>
                          </td>
                        </tr>
                      </table></div>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="middle" height="30">
                    <div style="margin-left:8px;"><table border="0"  cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td align="left" valign="middle" width="60%">
                            <a style="font-size:13px; color:#77b2cc ; font-family:arial;text-transform:capitalize"><%if share.schedule_mode == 'Any Where'%>Anywhere<%else%><%=truncate(share.city.strip, :length =>15, :omission => '... ')%><%end%></a>
                          </td>
                          <td align="left" valign="middle" width="40%" style="color:#77B2CC; font-size:12px;">
                            <%if (!share.min_age_range.nil? && share.min_age_range.present?) && (!share.max_age_range.nil? && share.max_age_range.present?) %>
                              <span style="color:#77B2CC; font-weight:bold; font-size:14px;">Age</span>&nbsp;<%=age_range_cal(share.min_age_range,share.max_age_range)%>
                            <%end%>
                          </td>
                        </tr>
                      </table></div>
                  </td>
                </tr>
                <tr>
                  <%@share = ActivitySchedule.where("activity_id=?",share.activity_id).last %>
                  <td align="left" valign="middle" height="30">
                    <div style="margin-left:8px;"><table border="0"  cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td align="left" valign="middle" width="16">
                            <%=image_tag("#{$image_global_path}assets/assets/newsletter/calendar_icon.png", :size => "16x18")%>
                          </td>
                          <td align="left" valign="middle" width="10"></td>
                          <td align="left" valign="middle" style="color:#5099AC; font-size:12px;">
                            <% if share.created_by.downcase=='parent' && !share.schedule_mode.nil? && share.schedule_mode.present? && share.schedule_mode.downcase=='any time' %>
                                                               AnyTime
                            <% elsif share.created_by.downcase=='parent' && !share.schedule_mode.nil? && share.schedule_mode.present? && share.schedule_mode.downcase != 'any time'%>
                              <% if !@share.nil? && @share.present?%><%= render :partial =>"newsletters/schedule_new_format" %><%end%>
                            <% elsif (!share.nil? && !share.schedule_mode.nil? && share.schedule_mode == "By Appointment")%>
                                                                    By Appointment
                            <%else%>

                              <% if share.schedule_mode.downcase=="schedule" && !shedule_count.nil? && shedule_count>1%>
                                <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" title="" style="color:#5099AC ; text-decoration:none;"> Schedule details</a>
                              <%elsif share.schedule_mode.downcase=="schedule"%>
                                <%= render :partial =>"newsletters/schedule_new_format" %>
                              <%end%>
                              <% if share.schedule_mode.downcase=="whole day" && !shedule_count.nil? && shedule_count>1%>
                                <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" style="color:#5099AC ; text-decoration:none;"> Schedule details</a>
                              <% elsif share.schedule_mode.downcase=="whole day"%>
                                <%= render :partial =>"newsletters/wholeday_new_format" %>
                              <%end%>
                              <% if share.schedule_mode.downcase=="by appointment"%>
                                                                                      By Appointment
                              <%end%>
                              <% if share.schedule_mode.downcase=="any time"%>
                                                                                      AnyTime
                              <%end%>
                              <% if share.schedule_mode.downcase=="any where"%>
                                                                                      AnyTime
                              <%end%>
                            <%end%>
                          </td>
                        </tr>
                      </table></div>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
        </div> <!-- outer container end -->
      </td>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td height="24" colspan="2" align="left" valign="middle">
        <div style="border-bottom: 1px dashed #dddfdf; width:100%;">&nbsp;</div>
      </td>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td height="24" colspan="2" align="left" valign="middle">
        <span style="font-family: Arial; font-size: 18px; color: #4495ae; font-weight: bold;line-height: 30px; text-align: justify; margin-right: 8px;">Special Promotions</span>
      </td>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td height="24" colspan="2" align="left" valign="middle">
        <div style="margin:0 auto; max-width:670px;"> <!-- outer container start -->
          <% @special = 3626,3620,3579,3580,3543,3534 %>
          <% !@spmail = Activity.find_by_sql("select * from activities where activity_id in (3626,3620,3579,3580,3543,3534)")  if !@special.nil?%>
          <%!@spmail.nil? && @spmail.each do |share|  %>
            <%@use = User.find_by_user_id(share.user_id) if !share.nil?%>
            <%act_det = ActivitySchedule.where("activity_id = ? AND expiration_date >= ?",share.activity_id,Date.today ) if !share.activity_id.nil?%>
            <% shedule_count=act_det.count%>
            <%@use_data = User.find_by_user_id(share.user_id) if !share.nil?%>
            <% @a_share = find_activity(share.activity_id) if !share.nil? && !share.activity_id.nil?%>
            <% @val_date=[]
            @discount_price = ActivityPrice.where("activity_id = ?", share.activity_id) if !share.activity_id.nil? && share.activity_id.present?
            @discount_price.each do |dprice|
              @dis_price=dprice.activity_discount_price
              @dis_price.each do |dprice|
                @early_bird_date = dprice.discount_valid.strftime("%Y-%m-%d") if !dprice.nil? && !dprice.discount_valid.nil?
                @max_date = @early_bird_date if !@early_bird_date.nil? && @early_bird_date.present? && @early_bird_date!=""
                @cday = Time.now.strftime("%Y-%m-%d")
                if !@early_bird_date.nil? && @early_bird_date.present? && @early_bird_date >= @cday
                  @val_date << "test"
                elsif !dprice.nil? && dprice.discount_valid.nil?
                  @val_date << "test"
                end
              end
            end %>
            <div style="width:200px; float:left; margin-right:10px; border:1px solid #dddfdf; background-color:#fff; padding:5px; color:#77b2cc ; height:340px; margin-bottom:10px; ">
              <table width="200" border="0" cellpadding="0" cellspacing="0">
                <% if !share.nil? && !share.discount_eligible.nil? && share.discount_eligible.present? && !@val_date.nil? && !@val_date[0].nil?%>
                  <tr>
                    <td align="left" valign="middle" height="28" style="background-color:#FF3334;text-align:center;color:#ffffff;font-size: 15px;">
                      <table   border="0" cellpadding="0" cellspacing="0" align="center"><tr>
                        <tr>
                          <td valign="middle" align="center"><span style="background-color:#ff3334;text-align:center;color:#ffffff;font-size:15px"><b>Specials</b></span>
                          </td>
                          <td valign="middle" align="center">
                            <%=image_tag("https://ci3.googleusercontent.com/proxy/UFywpkGE0HwkbjoU7qFuj5ULdqkeqpu5N54aQCDsBY6TykQGyCKEcTsuv-7h_Q0fwmU3AEgkTSwCKREm8JWj5vXMf2N3im9Fq64gTkHyrdW6xt1IruGO=s0-d-e1-ft#http://54.243.133.232:8080/assets/card_images/discount_dollar.png", :align => "top", :alt => "top")%>
                            </td>
                        </tr>

                      </table>
                    </td>
                  </tr>
                <%elsif !@val_date.nil? && !@val_date[0].nil?%>
                  <tr>
                    <td align="left" valign="middle" height="28" style="background-color:#FF3334;text-align:center;color:#ffffff;font-size: 15px;"><b>Specials</b>
                    </td>
                  </tr>
                <%elsif !share.nil? && !share.discount_eligible.nil? && share.discount_eligible.present?%>
                  <tr>
                    <td align="left" valign="middle" height="28" style="background-color:#FF3334;text-align:center;color:#ffffff;font-size: 15px;">
                      <%=image_tag("#{$image_global_path}assets/card_images/discount_dollar.png")%>
                    </td>
                  </tr>
                <%else%>
                  <tr>
                    <td align="left" valign="middle" height="28"></td>
                  </tr>
                <%end%>
                <tr>
                  <td align="center" valign="middle" height="190" style="border:1px solid #dddfdf; width:200px; ">
                    <div style="max-height:190px; overflow:hidden;">
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="center" valign="middle" height="190">
                            <a href="<%= $image_global_path %>/?mview=<%=share.activity_id unless share.nil? %>&v=0" title=""  style="display:block;" target="_blank">
                              <%if !share.avatar_file_name.nil? && share.avatar.present?%>
                                <%=image_tag("#{share.avatar.url(:thumb) unless share.nil?}", :border => "0", :style => "border:none;")%>
                              <%else%>
                                <%=image_tag("#{$image_global_path}assets/no_image.png", :alt=>"Loading...", :style=>"border: none;", :border => "0")%>
                              <%end%>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="middle" height="24">
                    <div style="margin-left:8px;"><a style="font-size:14px; color:#77b2cc;font-family:arial;font-weight: bold;" title="<%= share.activity_name %>"><%=truncate(share.activity_name, :length =>20, :omission => '...')%>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="middle"  height="30">
                    <div style="margin-left:8px;"><table border="0"  cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td align="left" valign="middle" width="60%" style="color:#77B2CC; font-size:12px;">
                            <% if share.schedule_mode.downcase!='any time' && !shedule_count.nil? && shedule_count>1%>
                                                                    $ Price Details
                            <%elsif !share.price_type.nil? && share.price_type == "1"  || share.price_type == "2"%>
                              <%@price_det = get_activity(share.activity_id) if !share.nil? && !share.activity_id.nil?%>
                              <%if !@price_det.nil? && @price_det.present? && @price_det.length>1%>
                                                                              $ Price Details
                              <%elsif !@price_det.nil? && @price_det.present? && @price_det.length==1 %>
                                                                              $ <%=number_with_precision @price_det[0].price , :precision => 2  if !@price_det.nil?%>
                              <%end%>
                            <%elsif !share.price_type.nil? && share.price_type == "2"%>
                                                                    $ <%= number_with_precision share.price, :precision => 2 %>
                            <%elsif !share.price_type.nil? && share.price_type == "3" || share.filter_id == "3" || share.created_by.downcase == "parent"%>
                                                                    $ Free
                            <%elsif !share.price_type.nil? && share.price_type == "4"%>
                                                                    $  Contact Provider
                            <% elsif share.price.present? && !share.price.nil?  && share.price!=0%>
                                                                    $ <%= number_with_precision share.price, :precision => 2 %>
                            <%end%>
                          </td>
                          <td align="left" valign="middle" width="40%">
                            <%if !@use.nil? && !@use.user_flag.nil? && @use.user_flag == false%>
                              <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" title="Get info" >
                                <%=image_tag("#{$image_global_path}assets/newsletter/get_info_button.png", :width => "68", :height => "24", :target => "_blank")%></a>
                            <%elsif  !share.nil? && !share.price_type.nil? && share.price_type == "4"%>
                              <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" title="Get info" ><%=image_tag("#{$image_global_path}assets/newsletter/get_info_button.png", :width => "68", :height => "24", :target => "_blank")%></a>
                            <%elsif !share.nil? && !share.schedule_mode.nil? && share.schedule_mode.downcase == "by appointment"%>
                              <%= render :partial =>"newsletters/schedule_expiry" %>
                            <%elsif @use.user_plan == "sell" || share.created_by == "Parent"%>
                              <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" title="Get info" ><%=image_tag("#{$image_global_path}assets/newsletter/get_info_button.png", :width => "68", :height => "24", :target => "_blank")%></a>
                              <%if share[:created_by] == "Parent"%>
                                <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" title="Buy Now" >
                                  <%=image_tag("#{$image_global_path}assets/card_images/buy_now.png", :width => "78", :height => "21")%></a>
                              <%elsif !@share.nil? && @share.present? &&  @a_share.present?%>
                                <%= render :partial =>"newsletters/schedule_expiry" %>
                              <%else%>
                                <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" title="Get info" ><%=image_tag("#{$image_global_path}assets/newsletter/get_info_button.png", :width => "68", :height => "24", :target => "_blank")%></a>
                              <%end%>
                            <%else%>
                              <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" title="Get info" ><%=image_tag("#{$image_global_path}assets/newsletter/get_info_button.png", :width => "68", :height => "24", :target => "_blank")%></a>
                            <%end%>
                          </td>
                        </tr>
                      </table></div>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="middle" height="30">
                    <div style="margin-left:8px;"><table border="0"  cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td align="left" valign="middle" width="50%">
                            <a style="font-size:13px; color:#77b2cc ; font-family:arial;text-transform:capitalize"><%if share.schedule_mode == 'Any Where'%>Anywhere<%else%><%=truncate(share.city.strip, :length =>15, :omission => '... ')%><%end%></a>
                          </td>
                          <td align="left" valign="middle" width="50%" style="color:#77B2CC; font-size:12px;">
                            <%if (!share.min_age_range.nil? && share.min_age_range.present?) && (!share.max_age_range.nil? && share.max_age_range.present?) %>
                              <span style="color:#77B2CC; font-weight:bold; font-size:14px;">Age</span>&nbsp;<%=age_range_cal(share.min_age_range,share.max_age_range)%>
                            <%end%>
                          </td>
                        </tr>
                      </table></div>
                  </td>
                </tr>
                <tr>
                  <%@share = ActivitySchedule.where("activity_id=?",share.activity_id).last %>
                  <td align="left" valign="middle" height="30">
                    <div style="margin-left:8px;"><table border="0"  cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td align="left" valign="middle" width="16">
                            <%=image_tag("#{$image_global_path}assets/newsletter/calendar_icon.png", :width => "16", :height => "18")%>
                          </td>
                          <td align="left" valign="middle" width="10"></td>
                          <td align="left" valign="middle" style="color:#5099AC; font-size:12px;">
                            <% if share.created_by.downcase=='parent' && !share.schedule_mode.nil? && share.schedule_mode.present? && share.schedule_mode.downcase=='any time' %>
                                                               AnyTime
                            <% elsif share.created_by.downcase=='parent' && !share.schedule_mode.nil? && share.schedule_mode.present? && share.schedule_mode.downcase != 'any time'%>
                              <% if !@share.nil? && @share.present?%><%= render :partial =>"newsletters/schedule_new_format" %><%end%>
                            <% elsif (!share.nil? && !share.schedule_mode.nil? && share.schedule_mode == "By Appointment")%>
                                                                    By Appointment
                            <%else%>

                              <% if share.schedule_mode.downcase=="schedule" && !shedule_count.nil? && shedule_count>1%>
                                <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" title="" style="color:#5099AC ; text-decoration:none;"> Schedule details</a>
                              <%elsif share.schedule_mode.downcase=="schedule"%>
                                <%= render :partial =>"newsletters/schedule_new_format" %>
                              <%end%>
                              <% if share.schedule_mode.downcase=="whole day" && !shedule_count.nil? && shedule_count>1%>
                                <a href="<%= $image_global_path %>?mview=<%= share.activity_id %>&mode=parent" target="_blank" style="color:#5099AC ; text-decoration:none;"> Schedule details</a>
                              <% elsif share.schedule_mode.downcase=="whole day"%>
                                <%= render :partial =>"newsletters/wholeday_new_format" %>
                              <%end%>
                              <% if share.schedule_mode.downcase=="by appointment"%>
                                                                                      By Appointment
                              <%end%>
                              <% if share.schedule_mode.downcase=="any time"%>
                                                                                      AnyTime
                              <%end%>
                              <% if share.schedule_mode.downcase=="any where"%>
                                                                                      AnyTime
                              <%end%>
                            <%end%>
                          </td>
                        </tr>
                      </table></div>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
        </div> <!-- outer container end -->
      </td>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
      <td height="24" colspan="2" align="left" valign="middle">&nbsp;</td>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr bgcolor="#DBEEF4">
      <td colspan="4" align="left" valign="top">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:4px solid red;">
          <tr bgcolor="#DBEEF4">
            <td width="1%" align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" >&nbsp;</td>
            <td width="1%" align="left" valign="top">&nbsp;</td>
          </tr>
          <tr bgcolor="#DBEEF4">
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" >
              <div align="center" style="font-family: Arial; font-size: 20px; color: #3d8ea3; font-weight: bold; margin-top: 10px; margin-bottom: 5px;">
			Learn why parents and activity providers love Famtivity.
              </div>
            </td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr bgcolor="#DBEEF4">
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="center" valign="top" >&nbsp;</td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr bgcolor="#DBEEF4">
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="center" valign="top" >
              <a href="https://www.famtivity.com" title="" border="0" target="_blank">
                <%=image_tag("#{$image_global_path}assets/newsletter/button_sign-up.png", :border => "0", :width => "226", :height => "39")%>
              </a>
            </td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr bgcolor="#DBEEF4">
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="center" valign="top" >&nbsp;</td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr bgcolor="#DBEEF4">
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="center" valign="top" >
			Contact us toll-free at <span  style="color:#2c8fae;font-weight:bold;">888-386-6479</span> or click sign-up to learn more. 
            </td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr bgcolor="#DBEEF4">
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" >
              <p  style="  border-bottom: 1px solid #C0D7DD; margin: 0 auto;padding-top: 20px;"></p>
            </td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr bgcolor="#DBEEF4">
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="right" valign="top" >&nbsp;</td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr bgcolor="#DBEEF4">
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="right" valign="top" >
              <table cellspacing="0" cellpadding="0" border="0" >
                <tr >
                  <td >
                    <div style="font-family: Arial; font-size: 14px; color: #686868; font-weight: normal;" > Connect with us </div>
                  </td>
                  <td colspan="4" style="padding-left: 8px; padding-top: 4px;" >
                    <a target="_blank" href="https://www.facebook.com/Famtivity" style="text-decoration: none;" >
                      <%=image_tag("#{$image_global_path}assets/newsletter/icon_facebook.png", :alt=>"facebook", :style=>"border: none;")%>
                    </a>
                    <a target="_blank" href="https://twitter.com/famtivity" style="text-decoration: none;" >
                      <%=image_tag("#{$image_global_path}assets/newsletter/icon_twitter.png", :alt=>"twitter", :style=>"margin-left: 5px; margin-right: 5px; border: none")%>
                    </a>
                    <a target="_blank" href="http://pinterest.com/famtivity" style="text-decoration: none;" >
                      <%=image_tag("#{$image_global_path}assets/newsletter/icon_p.png", :alt=>"pinterest", :style=>"border: none;")%>
                    </a>
                    &nbsp;<a target="_blank" href="https://plus.google.com/105576957217163088887/about" style="text-decoration: none;" >
                      <%=image_tag("#{$image_global_path}assets/newsletter/google_icon.png", :alt=>"google", :style=>"border: none;")%>
                    </a>
                  </td>
                </tr>
              </table>
            </td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr bgcolor="#DBEEF4">
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="right" valign="top" >&nbsp;</td>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</div>