<link rel="stylesheet" href="/assets/contacts_users_new/contact_user.css" type="text/css" />
<div class="centerCont">
  <form id="edit_contact_i" name="create_contact" method="post" enctype="multipart/form-data" onsubmit="return validateContact();">
    <div class="viewContact1" style="padding-top:20px;margin-left: -121px;">
      <table cellspacing="0" cellspadding="0" border="0" width="700" style="margin: 0 auto">
        <tr>
          <td width="180" align="left" style="padding-left:40px;" valign="top">


     		<% if !@contact_user.nil? && @contact_user.contact != nil &&  @contact_user.contact_file_name != "" && @contact_user.contact_file_name.present? %>
     		 <div style="margin: 0px 5px 0px 79px;">
      				<%= image_tag(@contact_user.contact.url(:small), :size => "70x70") %>
      		</div>
      		<% else %>
      			<span class="contactImg"><span>No Image</span></span>

            <!-- <div><img src="/assets/profile/profile_left_pic.png" style="border:1px solid #CEE1E8;"></div>-->
             <% end %>
		  	
		  </td>
		  <td width="520" style="border:1px solid #d7dadb;" valign="top">
		  	
		  	<input type="hidden" name="con_id" id="con_id" value="<%=@contact_user.contact_id if !@contact_user.nil? && !@contact_user.contact_id.nil? %>" class="lt textbox" />
		  	<div>
				  <div class="contactNameText setWidthName">Name</div>
				  <div class="contactNameText" style="padding-top:10px;"><%if !@contact_user.nil? && !@contact_user.contact_name.nil?%><%=@contact_user.contact_name.truncate(40)  %><%elsif !@contact_user.nil? && !@contact_user.contact_email.nil?%><%name=@contact_user.contact_email.split("@")%><%=name[0]%><%end%></div>
			</div>
			  <div class="clear"></div>
			 <div>
				  <div class="contactNameText setWidthName">Email</div>
				  <div class="contactNameText" style="padding-top:10px;"><%=@contact_user.contact_email if !@contact_user.nil? && !@contact_user.contact_email.nil? %></div>
			 </div>
			  <div class="clear"></div>
			  <div style="margin-bottom:10px;">
				  <div class="contactNameText setWidthName">Mobile Number</div>
				  <div class="contactNameText" style="padding:10px 0 10px 0;"><%= display_phone_format(@contact_user.contact_mobile) if !@contact_user.nil? && !@contact_user.contact_mobile.nil? %></div>
			  <div class="clear"></div>
			  <div style="margin-bottom:10px;">
				  <div class="contactNameText setWidthName">Group</div>
				  <div class="contactNameText" style="padding:10px 0 10px 0;" title="<%= @group_names.join(",") if !@contact_user.nil? && !@group_names.nil?%>"><%= truncate(@group_names.join(","),length: 30) if !@contact_user.nil? && !@group_names.nil? %></div>
			  <div class="clear"></div>
			</div>
		  </td>
		  <%if @show_detail.nil? && @show_detail!="true"%>
		  <tr>
		    <td>&nbsp;</td>
			<td>
			  <div style="margin:20px 0 20px 0;">
			  	<!--<input id="edit_contact_i" type="image" onClick="edit_con()" src="/assets/register/edit_button.png" alt="" class="editImage" tabindex="1"/>-->
			  	<a href="javascript:void(0)" onClick="edit_con()"><img src="/assets/register/edit_button.png" alt="" tabindex="1" style="margin-right:5px;"/></a>
			  	<a href="javascript:void(0)" onClick="closepopup()"  style="position:absolute"><img src="/assets/contact/cancel_button_new.png" alt="" height="42px" tabindex="2"/></a>
			  </div>
			</td>
		  </tr>
		  <%end%>
        </tr>
      </table>
    </div>

  </form>
</div>

<script language="javascript">
  
  
  function edit_con(){
		var c_id = $('#con_id').val();
		$.post("contact_edit", {"id":c_id}, null, "script");
  }

</script>