<%= stylesheet_link_tag "report/plan_report","event_index/event_scroll","discount_dollar/discount_dollar", :media => "all"%>
<!-- Provider Sub Menu -->
<%#= render :partial => '/provider_settings/provider_submenu'%>
<div class="wrapper_contianer_inner_login">
	<div class="staic_inner"%>
		<div class="page_head">		
			<div style="top:27px;" class="head_line"></div>
			<h1 class="search_head">Plan Transaction&nbsp;</h1>
		</div>
		<div class="title-right-content" align="right">
			<%=image_tag("/assets/policies/dwniconnormal.png", :alt=>"Dwniconnormal")%>
			<!--<a  href="/plan_report.csv" title="">CSV</a> |-->
			<a id="download_report_excel" title="" <%if !@user_plan.nil? && @user_plan.length > 0 %>href="/plan_report.xls"<%else%>href="javascript:void(0)"<%end%>>Excel</a>
		</div>
		<div class="boxContainer">
			<div style="display: block;border:1px solid #d4d4d4;">
				<table width="100%" cellspacing="0" border="0" cellpadding="0">
		  			<tbody>
						<tr>
							<td class="headText setPadLt" width="5%" valign="middle" align="left"><div  style="margin-right:10px;">Transaction ID</div></td>
		      				<td class="headText" width="5%" valign="middle" align="left"><div  style="margin-right:10px;">Transaction Date</div></td>
		      				<td class="headText" width="5%" valign="middle" align="left"><div  style="margin-right:10px;">Plan Name</div></td>
		      				<td class="headText" width="5%" valign="middle" align="left"><div  style="margin-right:10px;">Price</div></td>
		      				<td class="headText td_hide" width="5%" valign="middle" align="left"><div  style="margin-right:10px;">&nbsp;</div></td>
		      			</tr>
		      			<%if !@user_plan.nil? && @usertot > 0 %>
							<%i=0%>
							<%@user_plan.each do |uval|%>
									<%#if i.even? %>
									<!-- <tr class="setBg2"> -->
									<%#else%>
									<tr class="setBg1">
									<%#end%>
									<%i = i + 1%>
									<%dotted_class=(i==@usertot) ? "contentBorderNone" : "contentText"%> 
									<td align="left" class="<%=dotted_class%>">
										<div  style="margin-right:10px;padding-left:20px;">
											<%= uval["transaction_id"] if !uval["transaction_id"].nil? && uval["transaction_id"]!=''%>
										</div>
									</td>
									<td  align="left" class="<%=dotted_class%>">
										<div style="margin-right:10px;">
											<%= uval["payment_date"].strftime("%b %d, %Y") if !uval["payment_date"].nil? && uval["payment_date"]!=''%>
										</div>
									</td>
									<td  align="left" class="<%=dotted_class%>">
										<div style="margin-right:10px;">
										   <%= uval["user_plan"] if !uval["user_plan"].nil? && uval["user_plan"]!=''%>

										</div>
									</td>
									<td  align="left" class="<%=dotted_class%>">
										<div style="margin-right:10px;">
											<%= "$#{(number_with_precision uval["amount"], :precision => 2)}" if !uval["amount"].nil? && uval["amount"]!=''%>
										</div>
									</td>
								</tr>
							<%end%>
						<%else%>
					      <tr>
					        <td width="40%" colspan="7" class="no_activities" style="text-align:center;height: 500px;">Sorry we found no result.</td>
					      </tr>
	    				<%end%>
		      		</tbody>
		      	</table>
			</div>
		</div>
	</div>
</div>