<%=stylesheet_link_tag "event_index/event_index","event_index/menu", :media => "all"%>
<%=javascript_include_tag "pagination"%>

<!--thils style for search box width fixed-->
<style>
  #ui-id-1 {
    width:270px;
    overflow: hidden;
  }
  /*discount banner style*/
  .SetOfferBg_provider{
		background:url("/assets/landing/specials_icon.png") no-repeat;
		width:77px;
		height:79px;
		display:block;
		position:absolute;
		z-index:1000;
		margin-left:-4px;
}
</style>

<div class="clear"></div>
<!--provider submenu -->
  <%= render :partial => '/provider_settings/provider_submenu'%>
<!--provider submenu -->
<!-- form name="provider_event_list" id="provider_event_list" style="height:730px;" -->
<div id="providerEventList">
  <div class="topContainer">
   <input type="hidden" id="auto_details" value="<%=@auto_act%>"/>
   <input type="hidden" id="uid" value="<%=cookies[:uid_usr]%>"/>
  <div class="centerContainer" id="provider_partial_event_list">
    <%= render "provider_thumb_list"%>
  </div>
</div>
</div>
<div id="popup_container"></div>
<!--/form-- >
<!-- ajax loader -->
<div id='loadingmessage' style='display:none;margin-top:-424px' align="center">
  <%=image_tag("/assets/ajax-loader.gif", :width=>"32", :height=>"32")%>
</div>
<script> 
  function filter_parent_update_state(state,id){
    $.ajax({
      url:'update_ses_date',
      type:"get",
      data: {
        "state": state
      },
      success:function(data){

      }
    });
  }

  function filter_land_zip_code(){
    var zip_code = document.getElementById("zp").value;
    $.ajax({
      url:'update_ses_date',
      type:"get",
      data: {
        "zip_code": zip_code
      },
      success:function(data){

      }
    });

  }

  var newbidActivityPage;
  var activityDeletePageEmpty;

  function pop_bid_new_activity(url){
    newbidActivityPage = dhtmlmodal.open("bid Setup","iframe",url," ", "width=950px,height=750px,overflow:hidden,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px; background:none;'", "recal");
    $("html, body").animate({ scrollTop: 0 }, 100);
    return false;
  }
  <!--modified by rajkumar-->
  function pop_delete_activity_empty(url){
    activityDeletePageEmpty = dhtmlmodal.open("Delete Activity","iframe",url," ", "width=450px,height=250px,overflow:hidden,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px; background:none;'", "recal");
    $("html, body").animate({ scrollTop: 0 }, 100);
    //set height for iframe div
    var body = document.body,
    html = document.documentElement;
    var height = Math.max( body.scrollHeight, body.offsetHeight,
    html.clientHeight, html.scrollHeight, html.offsetHeight );
    $(".drag-contentarea").css("height",height+"px");
    
    return false;
  }
  
  function before_delete_all(){
    //~ alert('delete data checking');
    a = $("#actid_chk").val();
    if (a=='')
    {
      pop_delete_activity_empty('/activities/delete_activity_empty')
    }
    else
    {
      var a;
      pop_delete_activity('/activities/delete_activity?id='+a)
    }
  }

</script>