<%=stylesheet_link_tag "contacts_users/contact_user","global/pop_up", :media => "all"%>
<%=javascript_include_tag "contacts_users/contact_user","event/jquery.min","event/jquery-ui.min"%>
<style type="text/css">
	body{
		backgrond:#fff;
	}
</style>
<script language="javascript">
  function closepopup() {
    parent.activitySupportPage.hide();
    //parent.parent.location.reload(true);
    
  }
  var flag_s=false;
  function show_comment(val){
    $("#img1").attr("src","/assets/register/comments_selection.png");
    $("#img2").attr("src","/assets/register/error.png");
    $("#img3").attr("src","/assets/register/suggestion.png");
    $("#img4").attr("src","/assets/register/like.png");
    $("#comment_test").css("font-weight","bold");
    $("#error_text").css("font-weight","normal");
    $("#suggest_text").css("font-weight","normal");
    $("#like_text").css("font-weight","normal");
    $("#support_type").val('comments');
    flag_s=true;
  }
  function show_error(){
    $("#img1").attr("src","/assets/register/comments.png");
    $("#img2").attr("src","/assets/register/error_selection.png");
    $("#img3").attr("src","/assets/register/suggestion.png");
    $("#img4").attr("src","/assets/register/like.png");
    $("#comment_test").css("font-weight","normal");
    $("#error_text").css("font-weight","bold");
    $("#suggest_text").css("font-weight","normal");
    $("#like_text").css("font-weight","normal");
    $("#support_type").val('error');
    flag_s=true;
  }
  function show_suggest(){
    $("#img1").attr("src","/assets/register/comments.png");
    $("#img2").attr("src","/assets/register/error.png");
    $("#img3").attr("src","/assets/register/suggestion_selection.png");
    $("#img4").attr("src","/assets/register/like.png");
    $("#comment_test").css("font-weight","normal");
    $("#error_text").css("font-weight","normal");
    $("#suggest_text").css("font-weight","bold");
    $("#like_text").css("font-weight","normal");
    $("#support_type").val('suggestion');
    flag_s=true;
  }
  function show_like(){
    $("#img1").attr("src","/assets/register/comments.png");
    $("#img2").attr("src","/assets/register/error.png");
    $("#img3").attr("src","/assets/register/suggestion.png");
    $("#img4").attr("src","/assets/register/like_selection.png");
    $("#comment_test").css("font-weight","normal");
    $("#error_text").css("font-weight","normal");
    $("#suggest_text").css("font-weight","normal");
    $("#like_text").css("font-weight","bold");
    $("#support_type").val('like');
    flag_s=true;
  }

  function support_setLabel(id,val){
    document.getElementById("label").value=val;
    document.getElementById("label_id").value=id;
    document.getElementById("field1").innerHTML=val;
    document.getElementById("field1").style.color="#444444"
    document.getElementById("dropDownDiv1").style.display="none";
  }

</script>


<div id="contact_container" class="support_form" style="background:#fff;">
  <div class="popupContainer">
    <div class="popupContainerTop"></div>
    <div class="popupContainerCenter">
      <div class="innerContainer">
        <div class="headTab">
          <div class="heading">
            <div class="headCont">Support</div>
          </div>
          <div class="closeButton">
            <a href="javascript:void(0)" onClick="closepopup()" title=""> 
              <!-- <img src="/assets/global/pop_up/button_close.png" alt="" width="15" height="15" />  -->
              <%= image_tag("/assets/global/pop_up/button_close.png", size: "15x15" )%>
            </a>
          </div>
        </div>

        <div style="margin:0 auto; margin-top:15px; width:880px;" align="center">
          <a href="javascript:void(0)" class="menuText" title="" onclick="show_comment('comment')">
            <!-- <img src="/assets/register/comments_selection.png" id="img1" width="18"  height="18" align="top" style="top:3px; position:relative;"> -->
            <%= image_tag("/assets/register/comments_selection.png", id: "img1", size: "18x18", style: "top:3px; position:relative;", align: "top" )%>
            <span id="comment_test" style="padding-left:3px;font-weight: bold;">Comment</span></a>
          <span class="dot menuText">&bull;</span>
          <a href="javascript:void(0)" class="menuText" title="" onclick="show_error('error')">
            <!-- <img src="/assets/register/error.png" id="img2" width="18" height="18" align="top" style="top:1px; position:relative;"> -->
            <%= image_tag("/assets/register/error.png", id: "img2", size: "18x18", style: "top:1px; position:relative;", align: "top" )%>
            <span id="error_text" style="padding-left:3px;">Error</span></a>
          <span class="dot menuText">&bull;</span>
          <a href="javascript:void(0)" class="menuText" title="" onclick="show_suggest('suggestion')">
            <!-- <img src="/assets/register/suggestion.png" id="img3" width="18" height="18" align="top" style="top:1px; position:relative;"> -->
            <%= image_tag("/assets/register/suggestion.png", id: "img3", size: "18x18", style: "top:1px; position:relative;", align: "top" )%>
            <span id="suggest_text">Suggestion</span></a>
          <span class="dot menuText">&bull;</span>
          <a href="javascript:void(0)" class="menuText" title="" onclick="show_like('like')">
            <!-- <img src="/assets/register/like.png" id="img4" width="18" height="18" align="top" style="top:1px; position:relative;"> -->
            <%= image_tag("/assets/register/like.png", id: "img4", size: "18x18", style: "top:1px; position:relative;", align: "top" )%>
            <span id="like_text">Like</span></a>
        </div>

        <div class="centerCont contactNew">
          <form id="support_contact" name="support_contact" action="support_create" method="post" enctype="multipart/form-data">
            <div class="paddingTop10"></div>
            <div class="paddingTop10">

              <div class="clear"></div>
              <div class="clear"></div>

              <div class="paddingTop10">
                <div class="lt leftSideField">Your Email Address <span class="required">*</span></div>
                <%if current_user.present? && !current_user.nil?%>
                  <input type="text" name="email_address" id="email_id" class="lt textbox" tabindex="3" value="<%=current_user.email_address if !current_user.email_address.nil?%>" />
                <%else%>
                  <input type="text" name="email_address" id="email_id" class="lt textbox" tabindex="3"/>
                <%end%>
                <div class="clear"></div>
              </div>
              <input type="hidden" name="label_id" id="label_id" class="lt textbox" tabindex="3"/>
              <div class="clear"></div>
              <div class="errorDiv" style="display:none">
                <div class="lt leftSideField">&nbsp;</div>
                <div class="lt" id="email_id_error"></div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
              <input type="hidden" name="support_type" id="support_type" value="comments"/>
              <div class="paddingTop10">
                <div class="lt leftSideField">Labels</div>
                <div class="lt gender">
                  <div onmouseout="flag1=false;" onmouseover="flag1=true;" class="selectBoxCity" id="label_border">
                    <input type="hidden" value="" name="label" id="label">
                    <div tabindex="5" style="line-height: 23px; color:#999999;" class="selectDiv" id="field1">--Select--</div>
                  </div>
                  <div style="display: none; height:168px; overflow-y: auto;" id="dropDownDiv1" class="dropDownDivCity">
                    <%@parsed["results"].each do |s|%>
                      <a title="" onclick="support_setLabel('<%=  s['fbk_label_id']%>','<%=  s['fbk_label_name']%>')" href="javascript:void(0)"><%=  s['fbk_label_name']%></a>
                    <%end%>


                  </div>
                </div>              </div>

              <div class="clear"></div>
              <div class="errorDiv" style="display:none">
                <div class="lt leftSideField">&nbsp;</div>
                <div class="lt" id="label_error"></div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>

              <div class="paddingTop10">
                <div class="lt leftSideField">Comments <span class="required">*</span></div>
                <textarea class="textArea" name="message" id="message" value="" onchange="removeunwantedSpace('message',this.value)" onfocus="focusChangeBorderColor('message')" onblur="blurChangeBorderColor('message')" style="border:1px solid #CDE0E6; width:534px; height:150px; color: #444444; padding:4px;"></textarea>
                <div class="clear"></div>
              </div>

              <div class="clear"></div>
              <div class="errorDiv" style="display:none">
                <div class="lt leftSideField">&nbsp;</div>
                <div class="lt" id="message_no_error"></div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>


              <div id="edit_image_activity" class="paddingTop10">
                <div class="lt leftSideField setTop">
                  &nbsp;
                </div>
                <div class="lt">
                  <div class="lt">
                    <div class="lt setImgBorder">
                      <!-- <img  src="/assets/register/icon.png" alt="Nature"> -->
                      <%= image_tag("/assets/register/icon.png", alt: "Nature")%>
                      <!--<input type="file" style="display:none;" onchange="dispPhotoName()" readonly="readonly" class="FileField" id="photo" name="activity_image" accept="image/*">-->
                    </div>
                    <div class="lt"><!--a href="#" title="" class="changeProf" tabindex="88" onClick="selectFile()">Change Picture</a-->
                      <div class="lt FileUpload">
                        <input type="file" style=".width:100px;" name="support" class="BrowserHidden" id="photo" size="21" onchange="document.getElementById('photo1').value =this.value;fakepath(this.value);" accept="image/*">
                        <div style="border:none;" class="BrowserVisible">
                          <input type="text" style="border:1px solid #ffffff;" readonly="readonly" class="FileField" id="photo1" name="photo1">

                        </div>
                        <span style="cursor:pointer; position:relative; display:inline-block;" tabindex="88" class="browse"><b>Attach File</b></span>
                        <div class="clear"></div>
                      </div>
                    </div>

                  </div>
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
              </div>              <div class="buttonDiv">
                <div class="lt leftSideField">
                  &nbsp;
                </div>
                <div class="lt">
                  <input type="image" src="/assets/login/send_button.png" alt="" tabindex="6"/>

                  <a href="javascript:void(0)" onClick="closepopup()" onkeydown="cancelActivityClearData(event)">
                    <!-- <img src="/assets/login/close_button.png" alt="" tabindex="7" /> -->
                    <%= image_tag("/assets/login/close_button.png", tabindex: "7")%>
                  </a>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="popupContainerBottom"></div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

</div>

<script type="text/javascript" language="javascript">
function fakepath(filepath)
{
	inputNode = filepath.replace('C:\\fakepath\\', '');	
	var pos = filepath.lastIndexOf( filepath.charAt( filepath.indexOf(":")+1) );
	var filename = filepath.substring( pos+1);
	
	var ua=navigator.userAgent;
	if(ua.indexOf("Firefox")!=-1){ 
		$("#photo1").val(filepath); 
	} 
	else {
		$("#photo1").val(filename);
	}
}
  $(document).ready(function (){

    $('#support_contact').submit(function (){
	
      var email_id= $("#email_id").val();
      var message = $("#message").val();
      var label=$("#label").val();
	
      var errorFlag = false;
      
      $("#email_id").css("border","1px solid #CDE0E6");
      $("#email_id_error").html("");
      $("#email_id_error").parent().css("display","none");
      $("#label_border").css("border","1px solid #CDE0E6");
      $("#label_error").html("");
      $("#label_error").parent().css("display","none");
      $("#message").css("border","1px solid #CDE0E6");
      $("#message_no_error").html("");
      $("#message_no_error").parent().css("display","none");
	  
      email_id = email_id.replace(/^\s+|\s+$/g, "");
      if(email_id == "" ){
        $("#email_id").css("border","1px solid #fc8989");
        $("#email_id_error").html("Please enter email id");
        $("#email_id_error").parent().css("display","block");
        errorFlag = true;
      }
      else if(!validateCorrectEmail(email_id)){
        $("#email_id").css("border","1px solid #fc8989");
        $("#email_id_error").html("Please enter valid email id");
        $("#email_id_error").parent().css("display","block");
        errorFlag = true;
      }
      else if(!validateDot(email_id)){
        $("#email_id").css("border","1px solid #fc8989");
        $("#email_id_error").html("Please enter valid email id");
        $("#email_id_error").parent().css("display","block");
        errorFlag = true;
      }
      if(label == "" || label == "--Select--"){
        $("#label_border").css("border","1px solid #fc8989");
        $("#label_error").html("Please select label");
        $("#label_error").parent().css("display","block");
        errorFlag = true;
      }
      message = message.replace(/^\s+|\s+$/g, "");
      if(message==""){
        $("#message").css("border","1px solid #fc8989");
        $("#message_no_error").html("Please enter comments");
        $("#message_no_error").parent().css("display","block");
        errorFlag = true;
      }

      if(errorFlag == false){
    
      }



      if(errorFlag){
        return false;
      }
      //~ else{
      //~ var error_Flag = "";
      //~ $.ajax({
      //~ type: "POST",
      //~ url: "check_contact_exist",
      //~ data: {
      //~ "email": email_id
      //~ },
      //~ dataType : 'json',
      //~ cache: false,
      //~ success: function(data){
      //~ if (data == "failed"){
      //~ $("#email_id").css("border","1px solid #fc8989");
      //~ $("#email_id_error").html("Please enter valid email id");
      //~ $("#email_id_error").parent().css("display","block");
      //~ error_Flag = true;
      //~ }
      //~ else{
      //~ error_Flag = false;
      //~ }

      //~ },
      //~ error : function(xhr,status,error){
      //~ alert(status);
      //~ }
      //~ });
      //~ if (error_Flag == false){

      //~ var formData = new FormData(this);

      //~ formData.append( "contact",$("#photo")[0].files[0]);
      //~ $.ajax({
      //~ url:$(this).attr('action'),
      //~ type:"post",
      //~ dataType:"script",
      //~ processData: false,
      //~ contentType: false,
      //~ data:formData,
      //~ success:function(data){
      //~ }
      //~ });
         
      //~ }
      //~ return false;
      //~ }
    });
	
  });
  
  function validateBrowse(){
    var fup = document.getElementById('photo');
    var fileName = fup.value;
    var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
    if(ext == "gif" || ext == "GIF" || ext == "JPEG" || ext == "jpeg" || ext == "jpg" || ext == "JPG" || ext == "png" || ext == "PNG")
    {
      //errorFlag = false;
      return true;
    }
    else
    {
      $('#photo_error').parent().css("display","block");
      $("#photo1").css("border","1px solid #CDE0E6");
      $('#photo_error').html('Please select the valid file');
      return false;
    }
  }
  
  function clearfields(){
    $("#contact_name").val('');
    $("#email_id").val('');
    $("#mobile_no").val('');
    $("#gender").val('');
    $("#field1").html('--Select--');
    $("#contact_name_error").html("");
    $("#email_id_error").html("");
    $("#mobile_no_error").html("");
    $("#insti_name").html("");
    $("#message").html("");
    $("#label").val('');
    $("#field1").html('--Select--');
    $("#field1").css("color","#999999");



    $("#contact_name").css("border","1px solid #CDE0E6");
    $("#contact_name_error").html("");
    $("#contact_name_error").parent().css("display","none");
    $("#email_id").css("border","1px solid #CDE0E6");
    $("#email_id_error").html("");
    $("#email_id_error").parent().css("display","none");
    $("#mobile_no").css("border","1px solid #CDE0E6");
    $("#mobile_no_error").html("");
    $("#mobile_no_error").parent().css("display","none");
    $("#insti_name").css("border","1px solid #CDE0E6");
    $("#insti_no_error").html("");
    $("#insti_no_error").parent().css("display","none");
    $("#message").css("border","1px solid #CDE0E6");
    $("#message_no_error").html("");
    $("#message_no_error").parent().css("display","none");
    $("#label_border").css("border","none");
    $("#label_error").html("");
    $("#label_error").parent().css("display","none");
  }

</script>

