<%=stylesheet_link_tag "user_settings/parent_settings", :media => "all"%>
<%=javascript_include_tag "user_settings/password_settings"%>
<%if @click_mode=="parent"%>
<%= render "parent_header"%>
<%else%>
<%= render "provider_settings/provider_submenu"%>
<%end%>
<div class="wrapper_contianer_inner_login">
	<div class="staic_inner">
	<div class="page_head">		
			<div class="head_line"></div>
			<h1 class="search_head">Password&nbsp;</h1>
	</div><br>
	 <div id="change_password" class="boxContainer">
	    <input id="pwd" name="pwd" type="hidden" value="<%= Base64.decode64("#{current_user.user_password}")%>" />
	    <form name="change_password_form" id="change_password_form" action="/update_userpassword" method="post" data-remote="true">
	      <div class="paddingTop10_settings padbtm">
		<div class="setLockBg">
		  <!--div style="float:left; display:inline-block;">
		    <%#= image_tag("/assets/profile/privacy_lock.png")%>
		  </div-->
		  <div class="lock_text" align="center">To Change your password, enter your current password in the field below</div>
		</div>
		<div class="clear"></div>
	      </div>

	      <!--<div class="paddingTop10_settings">
		<div class="lt leftSideField">&nbsp;</div>
		<div class="success_update_info" style="display:none;color:green;">Your password was successfully updated</div>
		<div class="clear"></div>
	      </div>-->
	      
	       <!-- cge_pwd_cfm popup start -->
		<div id="cge_pwd_cfm">
		  <div class="content_popup" style="display:block;"><br>Your password was successfully updated<br><br>
		  <span class="b-close"><a class="save-button" href="javascript:void(0)" title="" onclick="reload();">OK</a></span>
		</div>
		</div>
		<!-- cge_pwd_cfm popup end -->

	      <div class="paddingTop10_settings">
		<div class="lt leftSideField">Current Password<span class="required">*</span></div>
		<input type="password" name="user_password" id="current_password" value="password" class="lt textbox" maxlength="25" onfocus="if(this.value == 'password'){this.value=''; this.style.color='#444444';}" onblur="if (this.value == '') {this.style.color='#999';this.value='password'}"/>
		<div class="clear"></div>
	      </div>

	      <div class="clear"></div>
	      <div class="errorDiv" style="display:none">
		<div class="lt leftSideField err_div">&nbsp;</div>
		<div class="lt" id="current_password_error"></div>
		<div class="clear"></div>
	      </div>
	      <div class="clear"></div>

	      <div class="paddingTop10_settings">
		<div class="lt leftSideField">New Password<span class="required">*</span></div>
		<input type="password" name="new_pass" id="new_pass" value="password" maxlength="25" class="lt textbox" onfocus="if(this.value == 'password'){this.value=''; this.style.color='#444444';}" onblur="if (this.value == '') {this.style.color='#999';this.value='password'}"/>
		<div class="clear"></div>
	      </div>

	      <div class="clear"></div>
	      <div class="errorDiv" style="display:none">
		<div class="lt leftSideField err_div">&nbsp;</div>
		<div class="lt" id="new_pass_error"></div>
		<div class="clear"></div>
	      </div>
	      <div class="clear"></div>

	      <div class="paddingTop10_settings">
		<div class="lt leftSideField">Confirm New Password<span class="required">*</span></div>
		<input type="password" name="confirm_pass" id="confirm_pass" value="password" class="lt textbox" maxlength="25" onfocus="if(this.value == 'password'){this.value=''; this.style.color='#444444';}" onblur="if (this.value == '') {this.style.color='#999';this.value='password'}"/>
		<div class="clear"></div>
	      </div>

	      <div class="clear"></div>
	      <div class="errorDiv" style="display:none">
		<div class="lt leftSideField err_div">&nbsp;</div>
		<div class="lt" id="confirm_password_error"></div>
		<div class="clear"></div>
	      </div>
	      <div class="clear"></div>
	      <div class="buttonDiv">
		<div class="lt leftSideField">
		  &nbsp;
		</div>
		<div class="lt"> 
		  <!--input type="image" src="/assets/settings/save_button.png" width="113" height="41" alt="" /-->

		  <a class="save-button" href="javascript:void(0)" onClick="submitpassword()">Save</a>
		  <a class="cancel-button" href="javascript:void(0)" onClick="clearpasswordfields()" onkeydown="cancelActivityClearData(event)">Cancel</a>
		</div>
		<div class="clear"></div>
	      </div>
		
	    </form>
	  </div>
  </div>
</div>