<%
s=1
e=100
i=1
for i in s..e
%>

<!-- Start Box -->
<div id="field" style="width: 228px;float:left;margin-right:10px;">
<div class="lt"><%=image_tag("/assets/event_index/top.png", :width=>"229", :height=>"13", :id=>"marginLeftMac", :alt=>"Field")%></div>
<div class="BottomContent" id="freediv>" onmouseover="" onmouseout="" style="display:none; z-index:9997; left:69px; .left:220px; top:24px;">
  <a href="#" title="Purchase Activity" id="ShowPop_purchase"><%=image_tag("/assets/event_index/cart_img.png", :width=>"25", :height=>"25", :class=>"lt")%></a>
  <a href="javascript:void(0)" onclick="pop_favorite_activity('')" title="Save to Favorites" id="ShowPop_purchase"><%=image_tag("/assets/event_index/fave_img.png", :width=>"25", :height=>"25", :class=>"lt", :style=>"padding-left:5px;")%></a>
  <!--modified by rajkumar-->
  <!--div class="description lt" id="commentDiv">5 Comment</div-->
</div>
<div style="height:350px;padding:0px 15px;background: url(&quot;../assets/event_index/box_middle.png&quot;) repeat-y scroll 0px 0px transparent;margin:-5px 0px -9px 1px;" class="center_bg_scroll" id="setHeightMac">
  Name <%=i%><br/>Age


</div>
<div style="margin-left:1px;"><%=image_tag("/assets/event_index/box_bottom.png", :width=>"227", :height=>"5", :class=>"box_bottom_img", :alt=>"Field")%></div>
</div>
<!-- End Box -->
<%i=i+1
end%>