<%=stylesheet_link_tag "global/pop_up","tickets/ticket_edit", :media => "all"%>
<%=javascript_include_tag "tickets/tickets"%>


<script language="javascript">
  function closepopup() {
    parent.showPage.hide();
  }
</script>

<div id="new_act_container">
  <div class="popupContainer">
    <div class="popupContainerTop"></div>
    <div class="popupContainerCenter">
      <div class="innerContainer">
        <div class="headTab">
          <div class="heading">
            <div class="headCont">
              Activity Ticket

            </div>
          </div>
          <div class="closeButton">
          	<%#= link_to 'New Post', new_post_path %>
			<%= link_to(image_tag('/assets/global/pop_up/button_close.png', :width => 15, :height => 15, :title => "Close" ), tickets_path, :remote => true) %>
           
          </div>
        </div>
        <div id="edit_ticket">
            <div class="centerCont">
        <form id="edit_activity_ticket" name="edit_activity_ticket" action="#" method="post" onSubmit="return validate_ticket()">
        <div class="row">
          <div class="lt">
            <!-- editTicket1 -->
            <div class="lt setTotalWidth">
           
              <div class="rt ticketContainer" id="editTicket1">               
                <div class="row1">
                	<%#= @activities.activity_schedule.end_date %>
                  <div class="lt col1"><span class="whiteText"><b><% @activities.activity_schedule.each do |product| %>
    			       <%= product.start_date.strftime("%d %b") %>
    				   <% end %></div>
                  <div class="lt col2"><span class="whiteText"><b><% @activities.activity_schedule.each do |product| %>
    			       <%= product.start_time.strftime("%I:%M %p") %>
    				   <% end %>
    			  <span class='whiteTextSmall'>Start time</span></span></div>
                  <div class="lt col3"><span class="whiteText"><b><% @activities.activity_schedule.each do |product| %>
    			       <%= product.end_time.strftime("%I:%M %p") %>
    			           <%#= product.start_time.strftime("%I:%M %p %b %d") %>
    					<% end %></b><br/><span class='whiteTextSmall'>End time</span></span></div>
                </div>  
                <div class="row2"><span class='actName'><%= @activities.activity_name %></span></div>
                <div class="row3"><%=image_tag("/assets/tickets/view_page_ticket_image111.png", :width=>"181", :height=>"143")%></div> 
              
                <div class="contRow">
                <div style='height:136px;overflow:hidden;'>
                <div class="head"><%= @activities.activity_name %></div>
                <div class="desp" style="font-size:9px;"><%= @activities.description %></div>
                <div class="head">Venue</div>
                <div class="desp"><%= @activities.address_1 %>,<%= @activities.address_2 %>,<%= @activities.city %>, Pn:<%=@activities.phone%></div>
                </div>
                <div class="clear"></div>
                <div>
                  <div class="lt priceCode">
                    <div class="head">Price</div>
                    <div class="redText">$<%= @activities.price %>/-</div>             
                  </div>
                  <div class="lt priceCodert">
                    <div class='ticketText'>FamPass Code</div>
                    <%=image_tag("/assets/tickets/ticket_code.png", :width=>"92", :height=>"43", :class=>"lt ticketCodeImg")%>  
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>               
              </div>
            </div>
            <div class="clear"></div> 
            </div>
            
            <!-- editTicket2 -->
            
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
   
        </form>
        </div>
    </div>
      </div>  
    </div>
    <div class="popupContainerBottom"></div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
