<meta http-equiv="cache-control" content="public" />
<meta http-equiv="cache-control" content="max-age=86400" />
<meta http-equiv="cache-control" content="must-revalidate" />
<%=stylesheet_link_tag "event_index/event_index","event_index/menu","event_index/event_scroll", :media => "all"%>
<%=javascript_include_tag "event_more/checkbox","pagination","global/checkbox","event_index/event_scroll","event/provider_event_list"%>
<script type="text/javascript">
  $(document).ready(function () {
    selectAny();
  });
</script>


<!--thils style for search box width fixed-->
<style>
  #ui-id-1 {
    width:270px;
    overflow: hidden;
  }
</style>
<script>
  var availableTags=new Array();
<%if @auto_comp.present? && !@auto_comp.nil?%>
  <%@auto_comp.each do |auto_complete|%>
      availableTags.push('<%= auto_complete.activity_name %>');
  <%end%>
<%end%>

  $(document).ready(function () {

<% if !current_user.nil? && !cookies[:f_invited_user].nil? && cookies[:f_invited_user]=="friend" %>
  pop_invite_friend_check('/invite_friend_famtivity?check_invite=invite&mode=parent&fam_last=/contact_users');
<% elsif !current_user.nil? && !params[:invite_friend].nil? && params[:invite_friend]=="friend" %>
  pop_invite_friend_check('/invite_friend_famtivity?check_invite=contact_import&fam_last=provider?<%=current_user.user_profile.business_name.parameterize if !current_user.nil? && !current_user.user_profile.nil? && !current_user.user_profile.business_name.nil? %>/<%=current_user.user_profile.city.parameterize if !current_user.nil? && !current_user.user_profile.nil? && !current_user.user_profile.city.nil? %>');
<%elsif (!current_user.nil? && current_user.sign_in_count==1 && cookies[:first_import].nil?)%>
      pop_invite_friend_check('/invite_friend_famtivity?check_invite=contact_import&fam_last=provider?<%=current_user.user_profile.business_name.parameterize if !current_user.nil? && !current_user.user_profile.nil? && !current_user.user_profile.business_name.nil? %>/<%=current_user.user_profile.city.parameterize if !current_user.nil? && !current_user.user_profile.nil? && !current_user.user_profile.city.nil? %>');
  <%if ((!params[:dect].nil? && params[:dect] !="")||(!cookies[:fam_invited_user].nil? && cookies[:fam_invited_user] !=""))%>
        setTimeout(function(){
    <%if !params[:dect].nil? && params[:dect] !=""%>
            $(".flash-message").html("Success!  You’re now part of the Family Activity Network!");
    <%elsif !cookies[:fam_invited_user].nil? && cookies[:fam_invited_user] !=""%>
            $(".flash-message").html("You are now friends with <%=cookies[:fam_invited_user]%>");
    <%end%>
          var win=$(window).width();
          var con=$(".flash_content").width();
          var leftvalue=((win/2)-(con/2))
          $(".flash_content").css("left",leftvalue+"px");
          $(".flash_content").css("top","9%");
          $('.flash_content').fadeIn().delay(20000).fadeOut();
        },5000);
  <%end%>
  <%cookies[:first_import]='1'%>
<%end%>
    //displayed the popup for deactivate users dont remove this code
<%if (!current_user.nil? && !current_user.user_status.nil? && current_user.user_status=="deactivate" && cookies[:activate_popup].nil?)%>
      activate_account(); //displayed the activate popup for deactivated user by rajkumar
  <%cookies[:activate_popup]='1'%>
<%end%>
  });
  
  function filter_parent_update_state(state,id){
    $.ajax({
      url:'update_ses_date',
      type:"get",
      data: {
        "state": state
      },
      success:function(data){

      }
    });
  }


  function filter_land_zip_code(){
    var zip_code = document.getElementById("zp").value;
    $.ajax({
      url:'update_ses_date',
      type:"get",
      data: {
        "zip_code": zip_code
      },
      success:function(data){
  
      }
    });

  }
  function activity_save_copy(actid,pageid){
    $('#save_copy_load_'+actid).show();
    $.ajax({
      url:'activity_save_copy',
      dataType:"script",
      data: {
        "activity_id": actid,
        "page": pageid
      },
      success:function(data){      
      }
    });
    
    //return false;
  }
  
  var newbidActivityPage; 
  function pop_bid_new_activity(url){
    newbidActivityPage = dhtmlmodal.open("bid Setup","iframe",url," ", "width=950px,height=750px,overflow:hidden,center=1,resize=0,scrolling=0,style='margin:0px; padding:0px; background:none;'", "recal");
    $("html, body").animate({ scrollTop: 0 }, 100);
    return false;
  }  
  function before_delete_all(mul){
    //alert(mul);
    var li= mul
    var a = $("#actid_chk").val();
    page = $("#page").val();
    pop_delete_activity('/activities/delete_activity?mul='+li+'&id='+a+'&page='+page+'')
    //~ if (a=='')
    //~ {
    //~ pop_delete_activity_empty('/activities/delete_activity_empty')
    //~ }
    //~ else
    //~ {
    //~ pop_delete_activity('/activities/delete_activity?id='+a+'&page='+page+'')
    //~ }
  }
  var t=$('#search_hidden').val();
  if(t=="parent")
  {
    document.onkeypress =  enter_key_press_for_search; //calling the function while press the enter key...
  }
  else
  {
    document.onkeypress =  enter_key_press_for_search_provider; //calling the function while press the enter key...
  }
  
 
  //clear autocomplete input..
  function clearAutoCompleteInput() {
    $("#advace_search").val('');
  }
  
  function close_div()
  {
    $('.search_submenu').hide();
  }
      

  
  //ajax advance search submit form
  $(document).ready(function() {
    $('#advanced_search_form').submit(function (){
      $('#loadingmessage').show();
      $.get($(this).attr('action'), $(this).serialize(), function(){$('#loadingmessage').hide();$('.search_submenu').hide();}, "script");
      return false;
    });
  });
  
  function show_location(){
    $('ul.dropdown li a:first').addClass("hoverDiv");
    $('ul.dropdown li a:first').addClass("hover");
    $('.dropdown li a:first').css("border","1px solid #b1d7e3");
  }
  function hide_location(){
    $('ul.dropdown li a:first').removeClass("hoverDiv");
    $('ul.dropdown li a:first').removeClass("hover");
  }
  
  $(function() {
    $('.off').hover(function(){
      $(this).css('color', '#f58112');
    },
    function(){
      $(this).css('color', '#313332');
    });
  });

  function visible_color(id){
    $(this).css('color', '#f58112');
  }
   

</script>

<div class="clear"></div>
<!-- form name="provider_event_list" id="provider_event_list" style="height:730px;" -->
<div id="providerEventList" style="margin-top:45px;">
  <div class="topContainer">

    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <%if !current_user.nil? && current_user.user_type.downcase=='p'%>
          <td align="left" height="40" width="12%">
            <div class="leftMenus" style="width:250px;">
              <span><a href="#" onclick="pop_new_activity('/create_new_activity');_gaq.push(['_trackEvent', 'Provider Module', 'clickAddActivity','Add New Activity']);" title="" class="menuText addText" ><b></b></span></a><span class="plusImg"></span>
              <input type="hidden" name="pe" id="pe" value="0" />

              <span  class="checkboxImg" style="margin: 2px 11px 0;">
                <a href="javascript:void(0)" title="" id="select" onclick="selectAny('select',0)" style="display: none"><%=image_tag("/assets/provider_event_list/top_checkbox_selected.png", :width=>"18", :height=>"18")%></a>
                <a href="javascript:void(0)" title="" id="not_select" onclick="selectAny('not_select',1)" ><%=image_tag("/assets/provider_event_list/top_checkbox_normal.png", :width=>"18", :height=>"18")%></a>
              </span>
              <span class="menuText setLt"><b>Select All</b></span>

              <span class="pipeSymbol" style="margin: 0 -4px 0 8px; ">|</span>
              <span class="pipeSymbol">
                <div id="menu" class="actionDivMenu" style="top:-3px;.top:-6px;">
                  <span><a href="#" title="" onclick="before_delete_all()"><%=image_tag("/assets/event/delete_image.png", :width=>"13", :height=>"13", :style=>"border:0px;margin-top:2px; .margin-top:-5px;  vertical-align:top;")%></a><a href="#" class="menuText" style=" height: 20px; margin: 1px 0 0 -9px;  padding: 4px 5px 3px 15px; .padding: 6px 5px 3px 15px; width: 55px;" onclick="before_delete_all('multiple')"><b>Delete</b></a></span>
                  <div class="clear"></div>
                </div>

              </span>

            </div>

          </td>
        <%end%>
        <td align="center" height="40" width="<%if !current_user.nil? && (current_user.user_type.downcase=='p' || current_user.user_type.downcase=='a')%>76%<%else%>100%<%end%>">
          <%if !current_user.nil? && (current_user.user_type.downcase=='p' || current_user.user_type.downcase=='a')%>
            <span><a href="javascript:void(0);" class="menuText" title="" onclick="_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Activity List']);"><b>Activity List</b></a></span>
            <span class="dot menuText">&bull;</span>
            <span><a href="/provider_activites" class="menuText" title="" onclick="_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Activity Cards']);">Activity Cards</a></span>
            <span class="dot menuText">&bull;</span>
            <span><a href="/provider_activity_discount" class="menuText" title="" onclick="_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Activity Discount']);">Activity Discount</a></span><span class="dot menuText">&bull;</span>
            <span><a href="/activity_provider_schedule" class="menuText" title="" onclick="_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Schedule']);">Schedule</a></span>
            <span class="dot menuText">&bull;</span>
            <span><a href="/provider_profile" class="menuText" title="" onclick="_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Business Info']);">Business Info</a></span>
            <span class="dot menuText">&bull;</span>
            <span><a href="/provider_policies" class="menuText" title="" onclick="_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Policies']);">Policies</a></span>
            <span class="dot menuText">&bull;</span>
            <span><a href="/provider_plan" class="menuText" title="" onclick="_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Plan']);">Plan</a></span>
            <span class="dot menuText">&bull;</span>
            <span><a href="/change_password" class="menuText" title="" onclick="_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Password']);">Password</a></span>
            <span class="dot menuText">&bull;</span>
            <span><a href="/provider_settings" class="menuText" title="" onclick="_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Settings']);">Settings</a></span>
            <span class="dot menuText">&bull;</span>
            <span><a href="/transaction" class="menuText" title="" onclick="_gaq.push(['_trackEvent','Provider Module', 'clickSettings','Reports']);">Reports</a></span>
            <span class="dot menuText">&bull;</span>
            <span><a href="javascript:void(0);" class="menuText" title="" onClick="pop_provider_embed_Detail('activity_detail/provider_embedded_link?activity_id=<%= @act_id %>'); _gaq.push(['_trackEvent','Provider Module', 'clickSettings','Embed Link']);">Embed Link</a></span>
          <%else%>
            <span><a href="/parent_profile" class="menuText" onclick="_gaq.push(['_trackEvent','Parent Module', 'clickSettings','Profile']);">Profile</a></span>
            <span class="dot menuText">&bull;</span>
            <span><a href="/change_password?mode=parent" class="menuText" onclick="_gaq.push(['_trackEvent','Parent Module', 'clickSettings','Password']);">Password</a></span>
            <span class="dot menuText">&bull;</span>
            <span><a href="/discount_dollars?mode=parent" class="menuText" onclick="_gaq.push(['_trackEvent','Parent Module', 'clickSettings','Discount Dollars']);">Discount Dollars</a></span>
            <span class="dot selectedMenuText">&bull;</span>
            <span><a href="/parent_settings" class="menuText" onclick="_gaq.push(['_trackEvent','Parent Module', 'clickSettings','Settings']);">Settings</a></span>
          <%end%>
        </td>

        <!--basic search for activity details-->

      <input type="hidden" id="auto_details" value="<%=@auto_act%>"/>
      <input type="hidden" id="uid" value="<%=cookies[:uid_usr]%>"/>


      <td align="right" height="40" width="12%">
      </td>

      </tr>
    </table>
  </div>

  <div class="centerContainer" id="provider_partial_event_list">

    <%= render "provider_event_list"%>


  </div>
</div>
<!--/form-- >

<!-- ajax loader -->
<div id='loadingmessage' style='display:none;margin-top:-424px' align="center"><%=image_tag("/assets/ajax-loader.gif", :width=>"32", :height=>"32")%></div>
<div id="popup_container"></div>
<%if (!current_user.nil? && current_user.sign_in_count==1 && cookies[:first_import].nil?)%>
  <%if !current_user.fb_id.nil? %>
    <%=render :partial => 'fb_discount_offer'%>
  <%end%>
<%end%>
<!-- save a copy success popup -->
<div id="thankyou_newsletter">
  <div class="content_popup" style="display:block;"><br>You successfully saved.<br><br>
    <span class="b-close" id="loginFeature"><a href="javascript:void(0)" title=""><%=image_tag("/assets/register/ok_btn.png", :width=>"99", :height=>"38", :style=>"border:0px;")%></a></span>
  </div>
</div>
<!-- save a copy success popup  end-->