<%=stylesheet_link_tag "fam_network/uploadfile","fam_network/fam_network_post", :media => "all"%>
<%=javascript_include_tag "fam_network/jquery.uploadfile.min"%>
<style type="text/css">
.ui-autocomplete {
height: 120px;
overflow-y: auto;
overflow-x: hidden;
width: 790px !important;
margin-top: 10px;

}
</style>

<%if params[:show] == "success"%>
  <div id="success_pop_up">
    <div id="spacer_div" style="text-align: right; margin-top: 10px;"> <a href="#" onclick="close_pop_create()"><%=image_tag("/assets/global/pop_up/button_close.png", :width=>"15", :height=>"15", :style=>"border:0px;")%></a></div>
    <div id="fist_outer">
      <div id="firrst_layer">
        <%=image_tag("/assets/fam_networks/tick_icon.png")%> Your invite has been sent!<!--Your invite has been sent successfully!-->
      </div>
      <div id="second_layer">
                We’ve added this Famtivity network to your home page. To manage your home page feed, click on the follow image.
      </div>
    </div>
    <div class="fist_outer" onClick="show_success(); _gaq.push(['_trackEvent','Parent Module', 'clickFriending','Post to your Network']);">
      <div id="last_row">Post to your Network!</div>
    </div>
  </div>
<%end%>


<div id="success_create" class="buttons" align="center" style="display:none;padding-bottom:30px;border:2px solid #e1e1e1;">
  <!--Great,Your post has been published in the network!-->Awesome! You've just published a post in the Famtivity network.
  <div id="last_ok"><a href="javascript:void(0)" onClick="fam_pos_create();" style="border: none"><%=image_tag("/assets/register/ok_btn.png", :width=>"99", :height=>"38", :style=>"border:0px;border: none")%></a>
  </div>
</div>
<%if @status.nil? && @status!="success"%>
<div id="newmsg">
  <div class="clear"></div>
  <div id="msgpath" >
    <a href="/messages?mode=<%=@mode%>" ><span class="new_font" style="color: #fe3e3d;margin-right: 5px;">Messages </span></a> > <span class="new_font" style="margin-left: 2px;">Post New Message</span>
  </div>


<div id="create_new_post" class="create_new_post" style="height: 770px;margin: 0 auto;" <%if params[:show] == "success"%>style="display:none;" <%end%>>
  <div id="img_close" align="right" onclick="close_page();" style="cursor:pointer;">
    <div class="clsimgin">
            <%=image_tag("/assets/activity_detail/cancel_icon.png", :border=>"0")%>
    </div>
  </div>
  <div class="create_new_post_header">
    <div class="header_head new_font" >
		create new post

    </div>
    <%if !params[:show].nil? && !params[:show]!="success"%>
    <div id="old-cls" style="width:30px;height:23px;float:right;margin-top:-7px;margin-right:2px;opacity: 0.6;filter: alpha(opacity=60);border: 1px solid #DFD7D7;border-right: none;border-top:none;padding-top:7px;" onclick="close_page();">
        <a href="javascript:void(0)"  title="" ><%=image_tag("/assets/global/close_icon.png", :width=>"20", :height=>"19")%></a>
        </div>
    <%end%>
  </div>
  <div class="clear"></div>
  <form id="createFamNetworkpost" name="createFamNetworkpost" action="/create_fam_post" method="post" data-remote="true" enctype="multipart/form-data">

    <div class="create_new_posts" style="height:290px;">
     <input type="hidden" name="mode" id="mode" value="<%=params[:mode]%>" />
         
      <div id="space10" class="space10"></div>
        <div class="image_up" id="sendto_text_dv">
          <%  @user=[]
              @user<<current_user.email_address
              @all_user=@fam_users-@user%>
              <!--input type="text" name="send_to" id="msg_send_to" class="file_input_reg" autocomplete='on' value="<%=if (@fam_users && @fam_users.present? && !@fam_users.nil?) 
                @fam_users.join(', ')
                 end%>" style="width: 740px;z-index:0 !important;color:#999999"  readonly/-->
                 <input type="text" name="send_to" id="msg_send_to" class="file_input_reg" autocomplete='on' value="<%=if (@all_user && @all_user.present? && !@all_user.nil? && @all_user!="") 
                @all_user.join(', ')
                else
                  'To*'
                end%><%if !@all_user.nil?&& @all_user.count>=1%>, <%end%>" style="width: 740px;z-index:0 !important;color:#999999" onblur="if(this.value==''){this.value='To*';this.style.color='#999999'}"  onfocus="if(this.value=='To*'){this.value='';this.style.color='#444444'}"/>
          </div>
           <div id="space10" class="space10" style="display: block;"></div>
           <div id="send_to_error" class="msg_error" style="display: none"></div>


      <div class="image_up" id="subject_text_dv"  >
        <input type="text" name="subject_text" id="subject_text" class="file_input_reg" style="width: 740px;z-index:0 !important;color:#999999"onblur="if(this.value==''){this.value='Enter your Subject*';this.style.color='#999999'}" value="Enter your Subject*" onfocus="if(this.value=='Enter your Subject*'){this.value='';this.style.color='#444444'}"/>
      </div>
      <!--div id="space10" class="space10" style="display: block;"></div-->
      <div id="errr_sub_msg" class="msg_error" style="display: none"></div>

    <div class="success_text">
              <!--message-->
              <div id="right_col">
                <div class="image_up" id="h_image">
                  <div class="file_hidden_reg" style="width: 740px;">
                    <input type="text" name="messager_photo" id="messager_photo" class="file_input_reg" onclick="browser_click()" readonly="readonly"  style="width: 775px;z-index:0 !important;background:none !important;"onblur="if(this.value==''){this.value='Image for the Post';this.style.color='#999999'}" value="Image for the Post" onfocus="if(this.value=='Image for the Post'){this.value='';this.style.color='#444444'}"/>
                  </div>
                  <div class="file_upload" >
                    <input type="file" name="messager_image" id="messager_image" accept="image/*"  size="21"  onChange="document.getElementById('messager_photo').value=this.value;fakepath(this.value);" tabindex="6" />
                    <span class="button"></span>
                  </div>
                </div>
              </div>
            </div>
           <div id="messager_phot_error" class="msg_error" style="display: none"></div>
      
      <div class="input_fields" >
        <textarea name="message_text" style="outline:none;" id="message_text" onblur="if(this.value==''){this.value='Enter your Message*';this.style.color='#999999'}" onfocus="if(this.value=='Enter your Message*'){this.value='';this.style.color='#444444'}">Enter your Message*</textarea>
      </div>
      <div id="errr_msg" class="msg_error" style="display: none"></div>
    </div>
    <div class="clear"></div>

    <div class="create_new_posts_imgs">
      <div class="post_inner_imgs ">
        <div id="photo_border" class="single_img selct_borders">
          <div class=" common photo photo_normal_select"></div>
          <div class=" common_txt photo_txt text_span_select">photos/videos/files</div>
        </div>
      </div>
    </div>
    <div class="clear"></div>

    <div class="tabs_slides">
      <!--div class="space30"></div-->
      <div id="photo" class="inner_tabs">
        <div class="upload_heading uplodad_photos"  onclick="upload_photo(); _gaq.push(['_trackEvent','Parent Module', 'clickFriending','Upload Photo']);">upload more</div>
        <div class="uploding">
          <div class="first_half">
                <!--div  id="fileuploader" class="upload_header "  >
                upload photos/ videos
                </div-->
            <div class="upload_photo"  onclick="upload_photo(); _gaq.push(['_trackEvent','Parent Module', 'clickFriending','Upload Photo']);" >
              <div class="upload_header new_font">
			           upload photos/ videos/ files			
              </div>
              <div class="upload_img"  >
              </div>
            </div>
          </div>
          <div class="second_half">
            <div class="import_photo"   > 
              <div class="upload_header ">
			          import photos/ videos			
              </div>
              <div class="import_from">
                <div id="facebooks" class="import_icons"> </div>
                <div id="gmailplus" class="import_icons"> </div>
                <div id="dit_dots" class="import_icons"> </div>
                <div id="dropbox"class="import_icons"> </div>
              </div>
            </div>
          </div>
        </div>
        <div  id="fileuploader" class="upload_header "  >
        </div>
      </div>

      <div class="clear"></div>
      <div id="document" class="inner_tabs" style="display:none">
        <div class="upload_heading uplodad_docs"  onclick="upload_document()">upload more</div>
        <div class="uploding_documents">

          <div class="first_half">

            <div class="upload_document" onclick="upload_document()"    >

              <div class="upload_header" >
	               upload documents
              </div>
              <div class="upload_doc">

              </div>
            </div>
          </div>
          <div class="second_half">
            <div class="import_photo"   > 
              <div class="upload_header ">
			           import Documents			
              </div>

              <div class="import_document">
                <div id="document_import" class="import_icons"> </div>
                <div id="document_import1" class="import_icons"> </div>
              </div>

            </div>
          </div>

        </div>
        <div class="upload_header_Test" id="fileuploader_document">

        </div>
      </div>

      <div id="tab_3" class="inner_tabs" style="display:none">
      </div>
      <div class="clear"></div>
      <div id="tab_4" class="inner_tabs" style="display:none">
      </div>
      <div class="clear"></div>
      <div id="tab_5" class="inner_tabs" style="display:none">
      </div>

      <!--div class="space10"></div-->
      <div class="pc_buttons" style="margin-top:25px;">
        <span id="postcancel" >
         <a class="save-button" href="javascript:void(0)" onclick="post_message_net();" onkeydown="continueKeyDown(event)">Post</a>         
         <a class="cancel-button" href="javascript:void(0)" onclick="close_page();" onkeydown="cancelKeyDown(event)">Cancel</a> 
          </span>    
         <span id="loding_symbol_post" style="display:none;position: relative;top: -16px;left: 150px;width: 28px;"> 
           <%=image_tag("/assets/loading.gif", :width=>"25", :height=>"25")%>
         </span> 

		<div class="rightMenus rt new_font">
			Go to <a href="/parent_settings?mode=parent" target="_blank" style="color:#FF3330;cursor:pointer;">Settings</a> to get emails as SMS text messages!
		</div>
      </div>
    </div>
</div>
<%end%>

</div>

</form>


</div>
<%=stylesheet_link_tag "contacts_users/jquery-ui", :media => "all"%>
<%=javascript_include_tag "auto_complete/jquery-ui"%>
<script>
function browser_click(){
   $('#messager_image').click();
 }
  function post_img(){
    //$('#add_post_img').hide();
    // $('#image_up').show();
  }
  function upload_photo(){
    var id=$('.file_uploder').attr("id");
    $('#'+id).click();
 
  }
  function upload_document(){
    var id=$('.file_uploder').attr("id");
    $('#'+id).click();
  }
  function change_invite_tabs(x){


    $('.inner_tabs input[type="file"]').removeClass('file_uploder');
    $('#'+x+' input[type="file"]').addClass('file_uploder');
     
    $('.inner_tabs .ajax-upload-wrap').removeClass('ajax-same-upload');
    $('#'+x+' .ajax-upload-wrap').addClass('ajax-same-upload');
     
    $('.single_img').removeClass('selct_borders');
    $('.inner_tabs').css('display','none');
    $('#'+x).css('display','block');
    $('.common').removeClass('document_normal_select').addClass('document_normal');
    $('.common').removeClass('photo_normal_select').addClass('photo_normal');
    $('.common_txt').removeClass('text_span_select').addClass('text_span');
    $('.'+x).removeClass(x+'_normal').addClass(x+'_normal_select');
    $('.'+x+'_txt').removeClass('text_span').addClass('text_span_select');
    $('#'+x+'_border').addClass('selct_borders');
  }


  $(document).ready(function()
  { 
    /*<%if !@fam_users.nil?&& @fam_users.count>=1%>
     $("#subject_text").focus();
    <%else%>
     $("#msg_send_to").focus();
    <%end%>*/
    <%if !@status.nil? && @status=="success"%>
      $('#create_new_post').hide();
      $('.create_new_post').hide();
      $('#msgpath').hide();
      $('.clsimgin').hide();

    <%end%>
    //hide back scroll start
    /*parent.$('html, body').css({
    'overflow': 'hidden',
    'height': '100%'
    })*/
    //hide back scroll end
    $("#fileuploader").uploadFile({
      url:"/add_to_temp",
      multiple:true,
      fileName:"myfile",
      formData: {fam_file_type: "I"},
      onSuccess:function(files,data,xhr)
      {
      }

    });
    
    $("#fileuploader_document").uploadFile({
      url:"/add_to_temp",
      multiple:true,
      fileName:"myfile",
      formData: {fam_file_type: "D"},
      onSuccess:function(files,data,xhr)
      {
      }

    });

  });

 //~ $('#post_button').click(function (){
    function post_message_net(){
      _gaq.push(['_trackEvent','Parent Module', 'clickFriending','Post']);
      $('#loding_symbol_post').show();
      var val=$('#message_text').val();
      var send_to = $("#msg_send_to").val();
      var sub_val=$('#subject_text').val();
      var msg_card = $('#messager_photo').val();
      var ext = msg_card.split('.').pop().toLowerCase();
      var error_flag=false;
        $('#post_button').unbind('click');
        $("#space10").css("display","block");
          $("#errr_msg").css("display","none");
        $("#errr_msg").text("");
        $("#message_text").css("border","1px solid #CDE0E6");
        $("#errr_sub_msg").css("display","none");
        $("#errr_sub_msg").text("");
        $("#subject_text_dv").css("border","1px solid #CDE0E6");
        $("#messager_phot_error").css("display","none");
        $("#messager_phot_error").text("");
        $("#h_image").css("border","1px solid #CDE0E6");
        
      if(send_to == ""){
        $("#sendto_text_dv").css("border","1px solid #ff0000");
        $("#send_to_error").css("display","block");
        $("#send_to_error").html("Please specify at least one recipient");
        error_flag = true;
      }
      if(send_to!="")
      {
        if(!validateCorrectEmailtestnew(send_to)){
          $("#sendto_text_dv").css("border","1px solid #ff0000");
          $("#send_to_error").css("display","block");
          $("#send_to_error").html("Please enter a valid email address(Use comma separated value for mutiple email)");
          error_flag = true;
        }
        else{
         $("#sendto_text_dv").css("border","1px solid #CDE0E6");
       }
      }
      if((sub_val=="Enter your Subject*")||(sub_val=="")){
        $("#errr_sub_msg").css("display","block");
        $("#errr_sub_msg").text("Please enter your subject");
        $("#subject_text_dv").css("border","1px solid #ff0000");
        $("#space10").css("display","none");
         error_flag=true;
      }
       else{
         $("#subject_text_dv").css("border","1px solid #CDE0E6");
       }
      if((val=="Enter your Message*")||(val=="")){
        $("#errr_msg").css("display","block");
        $("#errr_msg").text("Please enter your message");
        $("#message_text").css("border","1px solid #ff0000");
        $(".create_new_posts").css("height","310px");
        $(".create_new_post").css("height","790px");
         error_flag=true;
      }
       else{
         $("#message_text").css("border","1px solid #CDE0E6");
       }
      if((msg_card!="") && (msg_card!="Image for the Post")){
        if($.inArray(ext, ['gif','png','jpg','jpeg','bmp']) == -1) {
          $("#h_image").css("border","1px solid #ff0000");
          $("#messager_phot_error").css("display","block");
          $("#messager_phot_error").html("Please select an valid image");
          $("#messager_phot_error").parent().css("display","block");
          error_flag=true;
        }
     }
      if (error_flag==true){
      $('#loding_symbol_post').hide();
      return false;
      }
      else{
        $("#sendto_text_dv").css("border","1px solid #CDE0E6");
        $("#subject_text_dv").css("border","1px solid #CDE0E6");
        $("#message_text").css("border","1px solid #CDE0E6");
        $(".create_new_posts").css("height","290px");
              $('#loding_symbol_post').show();
              $("#postcancel").css("margin-left","-28px");
              $.ajax({
                type: "GET",
                url: "/check_same_users",
                data: {"cre_to_msg": send_to },
                dataType : 'json',
                iframe: 'true',
                cache: false,
                success: function(data){
                  if(data=="your"){
                    $('#loding_symbol_post').hide();
                    $("#sendto_text_dv").css("border","1px solid #ff0000");
                    $("#send_to_error").css("display","block");
                    $("#send_to_error").html("<%=current_user.email_address%> is linked with your sign-in account");
                  }
                  else{    
                      $("#postcancel").css("margin-left","-28px");        
                        $("#createFamNetworkpost").ajaxSubmit({
                          // success: afterSuccess
                        });
                  }
                }
              });
       
      }
}

  function afterSuccess()
  {
   // alert("ee");
  }
  function show_success(){
    parent.window.location.href = "fam_create_post?mode=parent&id=<%= cookies[:fam_network] if !cookies[:fam_network].nil?%>"
   
  }
  function close_pop_create(){
    //show back scroll start
    parent.$('html, body').css({
    'overflow': 'auto',
    'height': 'auto'
    })
    //show back scroll end
    <%if !@status.nil? && @status=="success"%>
      parent.location.href='/contact_users';
      //parent.location.reload(true)
    <%end%>
    parent.FamGroupPage.hide();
    //parent.jumpto("<%=cookies[:follow_cat_val].downcase.gsub(/[^a-zA-Z0-9]/,"_") if !cookies[:follow_cat_val].nil?%>");

  }
  function fam_pos_create(){
    parent.FamGroupPage.hide();
    parent.location.reload(true)
    /*
    <%if !@name.nil? && @name.present?%>
     parent.jumpto("<%=cookies[:follow_cat_val].downcase.gsub(/[^a-zA-Z0-9]/,"_") if !cookies[:follow_cat_val].nil?%>");
    <%else%>
     parent.location.href='/';
    <%end%>*/
  }


  function fakepath(filepath,id)
  {
    inputNode = filepath.replace('C:\\fakepath\\', '');
    var pos = filepath.lastIndexOf( filepath.charAt( filepath.indexOf(":")+1) );
    var filename = filepath.substring( pos+1);

    var ua=navigator.userAgent;
    if(ua.indexOf("Firefox")!=-1){
      $("#"+id).val(filepath);
    }
    else {
      $("#"+id).val(filename);
    }
  }
  
  function fakepath(filepath){
    inputNode = filepath.replace('C:\\fakepath\\', '');
    var pos = filepath.lastIndexOf( filepath.charAt( filepath.indexOf(":")+1) );
    var filename = filepath.substring( pos+1);
    //$("#photo1").attr("disabled", "disabled");
    var ua=navigator.userAgent;
    if(ua.indexOf("Firefox")!=-1){
      $("#messager_photo").val(filepath);
    }
    else {
      $("#messager_photo").val(filename);
    }
  }

  function close_page(){
 /* if (history.length > 1){
    history.go(-1);return false;
  }
  else
  {
    window.location.href = "/"
  }*/
   window.location.href = "/contact_users"
}

function validateCorrectEmailtestnew(elementValue){  
  flag=true;
  tot_len = elementValue.length;
  search_len = tot_len-2;
  to_chk_rem = elementValue.substring(search_len,tot_len);
  check_for_comma= jQuery.inArray( ",", to_chk_rem )
  if (check_for_comma!=-1){
    e=elementValue.substring(0,elementValue.length-2); 
  }
  else{
    e=elementValue
  }
  var emailSplitComma= e.split(",");
  if(emailSplitComma.length>0)
  {
    for(i=0;i<emailSplitComma.length; i++)
    {
      email = $.trim(emailSplitComma[i]);
        //email=Trim(emailSplitComma[i]);
        var emailPattern = /^([a-zA-Z0-9]+([~{|}`^?=+*'#$!%._-]{0,1}[a-zA-Z0-9]+)*)@(([a-zA-Z0-9]+([._-]{0,1}[a-zA-Z0-9]+)*)+(?:[\w-]+\.)*\w[\w-]{0,66})\.([a-zA-Z]{2,4}(?:\.[a-zA-Z]{2,3})?)$/;        
        if(emailPattern.test(email) == false)
        {
          flag=false;   
        }
        else
        {
          $("#msg_send_to").css("border","1px solid #CDE0E6");
          $("#send_to_error").css("display","none");
          $("#send_to_error").html("");         
        }
    
    }
  }
  else
  {
    var emailPattern = /^([a-zA-Z0-9]+([~{|}`^?=+*'#$!%._-]{0,1}[a-zA-Z0-9]+)*)@(([a-zA-Z0-9]+([._-]{0,1}[a-zA-Z0-9]+)*)+(?:[\w-]+\.)*\w[\w-]{0,66})\.([a-zA-Z]{2,4}(?:\.[a-zA-Z]{2,3})?)$/;
    if(emailPattern.test(email) == false)
    {
      flag=false;
      
    }
    else
    {
      $("#msg_send_to").css("border","1px solid #CDE0E6");
      $("#send_to_error").css("display","none");
      $("#send_to_error").html("");
    }
  }
  if(!flag)
  {
    $("#send_to_error").show();
    return false;   
  }
  else
  {
    return true;
  }
  
}

  //~ Added Autocomplete functionality for famitvity share
  function split( val ) {
    return val.split( /,\s*/ );
  }
  function extractLast( term ) {
    return split( term ).pop();
  }

  $( "#msg_send_to" ).autocomplete({
    minLength: 1,
    position: {
        my: 'right top',
        at: 'right bottom',
        of: $('#sendto_text_dv'),
        offset: '0 5',
        },
    source: function(request, response) {
    jQuery.get("/message_email", {
    query: extractLast( request.term )
    }, function(data){
      //~ response(data.slice(0, 8)); 
      response(data); 
          });
  },
  focus: function() {
          return false;
        },
  select: function( event, ui ) {
    var emailPattern = /^([a-zA-Z0-9]+([~{|}`^?=+*'#$!%._-]{0,1}[a-zA-Z0-9]+)*)@(([a-zA-Z0-9]+([._-]{0,1}[a-zA-Z0-9]+)*)+(?:[\w-]+\.)*\w[\w-]{0,66})\.([a-zA-Z]{2,4}(?:\.[a-zA-Z]{2,3})?)$/;
    var terms = split( this.value );
    // remove the current input
    terms.pop();
    if(emailPattern.test(ui.item.value) == false){
    $("#autoloading").show();
    addUserComplete(ui.item.value);
    }
    else{
        // add the selected item
    terms.push( ui.item.value );
    }
    // add placeholder to get the comma-and-space at the end
    terms.push( "" );
    this.value = terms.join( ", " );
    return false;
  }
  });

    //ie8 key enter fixes 
  $("#msg_send_to").keypress(function(e) {
    if(e.which == 13)
    {
      e.preventDefault();
    }
  });
       //Autocomplete dropdown scroll fixes
  $(window).scroll(function() {
    $("#ui-id-1").hide();
  });
//~ end of autocomplete

function addUserComplete(val){
  $.ajax({
      url:'/get_group_users',
      data: {
      "user_data":val
      },
      success:function(data){
        if (data!=''){
        $("#autoloading").hide();
        $("#testData").val(data);
        t=$("#testData").val();
        t1=$("#msg_send_to").val();
        t2=t+','+t1;
        $("#msg_send_to").val(t2);
        }
      }
    });
}

</script>
<%=javascript_include_tag "autocomplete/jquery.autocomplete"%>