<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Famtivity</title>
  </head>

  <body>
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border:1px solid #CDE0E6; margin:0px; padding:0px;">
      <tr style="background:#DBEEF4; border:1px solid #CDE0E6;">
		<td align="left" height="55" style="border-bottom:1px solid #CDE0E6;" width="50%" colspan="2">
			<div style="float:left;width:100%;">
				<div style="float:left;">
						<a href="http://www.famtivity.com" title="" style="padding:18px;">
						<%=image_tag("http://www.famtivity.com/assets/newsletter/newsletter_logo.png", style: "border:none;", alt: "Famtivity")%>
						</a>
				</div>
				<div style="float:right; text-align:center; margin-top:24px;">
					<table cellpadding="0" cellspacing="0">
						<tr>
							<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b; top:0px;">Connect with us</td>
							<td>&nbsp;&nbsp;</td>
							<td><a href="http://www.facebook.com/famtivity" title=""  target="_blank" style="border:none;"><%=image_tag("http://www.famtivity.com/assets/landing_banner/facebook_icon.png", size: "24x23", align: "middle", border: "0")%></a></td>
							<td>&nbsp;&nbsp;</td>
							<td><a href="http://www.twitter.com/famtivity" title="" target="_blank" style="border:none;"><%=image_tag("http://www.famtivity.com/assets/landing_banner/t_icon.png", size: "24x23", align: "middle", border: "0")%></a></td>
							<td>&nbsp;&nbsp;</td>
							<td><a href="http://www.pinterest.com/famtivity" title="" target="_blank" style="border:none;"><%=image_tag("http://www.famtivity.com/assets/landing_banner/pin_icon.png", size: "24x23", align: "middle", border: "0")%></a></td>
							<td>&nbsp;&nbsp;</td>
							<td><a href="https://plus.google.com/105576957217163088887/posts"  title="" target="_blank" style="border:none;"><%=image_tag("http://www.famtivity.com/assets/header/gplus_icon.png", size: "24x23", align: "middle", border: "0")%></a></td>
							<td>&nbsp;&nbsp;</td>
						</tr>
					  </table>
				</div>
			</div>
		</td>
      </tr>
      <tr>
        <td colspan="2" style="padding:5px;"><%=yield%></td>
      </tr>

      <tr style="background:#DBEEF4; border:1px solid #CDE0E6;">
		<td align="left" height="40" style="border-top:1px solid #CDE0E6;" width="50%">
		  <span style="float:left; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#196076; padding:12px;"><a href="http://www.famtivity.com" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#2c8fae; text-decoration:none;">www.famtivity.com</a></span>
		</td>
		<td align="right" width="50%" style="border-top:1px solid #cde0e6">
		  <span style="float:right; margin-right:12px; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#9c9b9b; padding-left:7px;">&copy; Famtivity, Inc.</span>
		</td>
      </tr>
    </table>


</body>
</html>