<!DOCTYPE html>
  <head>
    <%= metamagic %>
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="pragma" content="cache" />
    <meta http-equiv="cache-control" content="cache" />
    <META HTTP-EQUIV="expires" CONTENT="0">
    <meta name="bitly-verification" content="e85040e783dc"/>
    <meta name="google-site-verification" content="ZoU0MNkf02c532RyvEjt2YoAYN8IOm8XPWy0yfwUEKc" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
    <link rel="icon" type="image/png" href="/assets/favicon/favicon.png"/>
    <link rel="dns-prefetch" href="https://www.facebook.com/"/>
    <%if !@meta_alt.nil? && @meta_alt.present? %>
     <link rel="alternate" media="only screen and (max-width: 640px)" href="<%= "#{$meta_mobile}#{request.fullpath}" %>">
    <%end%>
    <!-- Dont remove added for analytics- start -->
    <%if ((request.env['HTTP_HOST'] != 'famtivity.com') &&  (request.env['HTTP_HOST'] != 'www.famtivity.com'))  %>
    <!-- Added meta tag to restrict calling of analytics in dev and uat-->
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <% end %>
    <% if current_user && get_provider_path%>
    <!-- Added meta tag for provider side-->
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <%end%>
    <%= stylesheet_link_tag "global/fonts","header/new_header","global/overlay/windowfiles/dhtmlwindow","global/overlay/modalfiles/modal","bpopup/bpopup","footer/footer","search/new_frm_search", :media => "all" %>
    <%= javascript_include_tag "global/jquery-1.8.3.min","auto_complete/jquery-ui.js","event/index_of_fix.js", "header/header.js","autocomplete/jquery.autocomplete.js" %>
    <script type="text/javascript">
    m_name=$("meta[name='keywords']").attr("content");
    m_cont=$("meta[name='description']").attr("content");
    $("meta[name='keywords']").removeAttr("content").attr("content",m_name);
    $("meta[name='description']").removeAttr("content").attr("content",m_cont);
    </script> 
  </head>
  <div id="fb-root"></div>
  <body>
    <%= render :partial => '/common/preload_images'%>
    <div class="wrapper">
      <div class="page_header">
        <div class="headerOuter dp" style="width:100%; background-color:#E5F4F9;">
          <div class="headerWrapper" style="width:1260px; margin:0 auto;">
            <div class="lt header_inner">
              <div class="lt logo">
                <div class="logo_inner">
                 <a href="/" title="Famtivity"><%=image_tag("/assets/header/new_logo.png", size: "155x52", alt: "Famtivity")%></a>
                </div>
              </div>
              <div class="lt header_container">
                <%if current_user && current_user.present? && !current_user.nil?%>
                 <%= render :partial => '/banner/new_search',:locals => {:def_age => '4 - 7'} %>
                <%end%>
              </div>
                <div class="<%if current_user.nil? || !current_user.present?%>header_right<%else%>msg_contact_aflogin<%end%>">
                  <%if !current_user.user_type.nil? && current_user.user_type.downcase!='a'%>
                    <%if !current_user.user_type.nil? && current_user.user_type.downcase=='u'%>
                      <%= render :partial =>"common/parent_menu" %>
                    <%elsif !current_user.user_type.nil? && current_user.user_type.downcase=='p'%>
                      <%if params["mode"] && params["mode"].downcase == 'parent'%>
                       <%= render :partial =>"common/parent_menu" %>
                      <%else%>
                       <%= render :partial =>"common/provider_menu" %>
                      <%end%>
                    <%end%>
                  <%else%>
                    <%if params["mode"] && params["mode"].downcase == 'parent'%>
                     <%= render :partial =>"common/parent_menu" %>
                    <%elsif params["mode"] && params["mode"].downcase == 'admin'%>
                      <%= render :partial =>"common/admin_menu" %>
                    <%else%>
                     <%= render :partial =>"common/provider_menu" %>
                    <%end%>
                  <%end%>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="wrap_banner">
        <div class="wrapper_contianer">
          <%#=render :partial => "common/qlinks_menu" if !current_user.nil? && current_user.present?%>
          <span class="flash_content"style="position: absolute;display: none; background:#ff6363;padding: 8px 10px 8px 20px;color:white;width:auto;z-index: 100000;">
          <span class="flash-message flash-text" style="float:left;"></span>
          <span class="flash-close flash-text" onClick='$(".flash_content").hide();' >X</span>
          </span>
          <div class="clear"></div>
          <div data-pjax-container>
            <%= yield%>
          </div>
        </div>
      </div>
      <div id="popup_friend" style="top: 20px !important;"></div>
      <div class="footerContainer">
        <%=render :partial => "common/comman_footer" %>
      </div>
    </div>
    <div class="loadDiv" id="loadDivjax" style="display:none;margin:0 auto; position:fixed;width:98%;top:250px; z-index:1; " align="center">
     <div class="loadDiv_img" style="display:block; margin:200px;"><%=image_tag("/assets/load_new_jax.gif", size: "52x52", class: "spinner_gif")%></div>
    </div>
<%= javascript_include_tag "global/overlay/windowfiles/dhtmlwindow.js", "global/overlay/modalfiles/modal.js", "bpopup/jquery.bpopup-0.9.3.min.js", "bpopup/jquery.easing.1.3.js" %>
      <script type="text/javascript" src="https://apis.google.com/js/client.js"></script>
      <script type="text/javascript">
      function showSurveyMonkey(){window.open('famtivity-survey',"Survey Monkey","scrollbars=1,top=1,height=700,width=1017,fullscreen=yes,resizable=yes")}
      /* Google Analytics Site Tracking Information (Dont Remove) */
      var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-37198261-1']);_gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      /* added pixel for conversion tracking */
      var fb_param = {};
      fb_param.pixel_id = '6009203206329';
      fb_param.value = '0.00';
      fb_param.currency = 'USD';
      (function(){
      var fpw = document.createElement('script');
      fpw.async = true;
      fpw.src = '//connect.facebook.net/en_US/fp.js';
      var ref = document.getElementsByTagName('script')[0];
      ref.parentNode.insertBefore(fpw, ref);
      })();
  <%if cookies[:search_city].nil? %>
   if (typeof geoip_city != 'undefined') 
   {
    document.cookie="city_new_usr="+geoip_city();
    var locate_ip_addr = geoip_city();
    if (locate_ip_addr=="")
    {
      $.ajax({
            url:'/find_location_by_ip',
            success:function(data){ 
              $('#zip_values').val(data);
              document.cookie="search_city="+data; 
              document.cookie="search_geocoder_city="+data;
              window.location.reload();
            }
      });
    }
    else
    {
      document.cookie="search_city="+geoip_city();
      document.cookie="search_maxmind_city="+geoip_city(); 
    }

    document.cookie="latitude="+geoip_latitude();
    document.cookie="longitude="+geoip_longitude();
    }
  <%end%>
       var city_values = new Array();
<% !@fam_city.nil? && @fam_city.each do |autocomplete| %>
    city_values.push({"value": "<%= autocomplete.city_name%><%if autocomplete.state_id && autocomplete.state_id==1%>, CA<%end%>","data": "<%= autocomplete.city_id%>"});
<%end%>
      $(document).ready(function(){
        $(".bx-prev, .bx-next").hide();
      });
      </script>
    </body>
    <% if cookies[:search_maxmind_city] || cookies[:search_geocoder_city] %>
      <% create_log_for_zipcode %>
    <%  end %>
</html>
